# translation of kwriteconfig.po to Tajik
# copyright (c) 2004
# infoDev, a World Bank organization
# Khujand Computer Technologies, Inc., 2004.
# Victor Ibragimov <victor.ibragimov@gmail.com>, 2004, 2019.
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2019-09-15 21:24+0500\n"
"Last-Translator: Victor Ibragimov <victor.ibragimov@gmail.com>\n"
"Language-Team: English <kde-i18n-doc@kde.org>\n"
"Language: tg\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 19.04.3\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:950
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Лутфан, бо маъмури низоми худ дар тамос шавед."

#: core/kconfigini.cpp:567
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "Файли танзимии \"%1\" навишташаванда намебошад.\n"

#: core/kemailsettings.cpp:237 core/kemailsettings.cpp:240
#: core/kemailsettings.cpp:248
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Стандартӣ"

#: gui/kstandardshortcut.cpp:68
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Кушодан"

#: gui/kstandardshortcut.cpp:69
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Нав"

#: gui/kstandardshortcut.cpp:70
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Пӯшидан"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Нигоҳ доштан"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Чоп кардан"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Баромадан"

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Ботил сохтан"

#: gui/kstandardshortcut.cpp:77
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Дубора анҷом додан"

#: gui/kstandardshortcut.cpp:80
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Буридан"

#: gui/kstandardshortcut.cpp:81
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Нусха бардоштан"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Гузоштан"

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Гузоштани интихоб"

#: gui/kstandardshortcut.cpp:92
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Ҳамаро интихоб кардан"

#: gui/kstandardshortcut.cpp:93
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Интихобро бекор кардан"

#: gui/kstandardshortcut.cpp:96
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Нест кардани калима ба ақиб"

#: gui/kstandardshortcut.cpp:104
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Нест кардани калима ба пеш"

#: gui/kstandardshortcut.cpp:111
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Ёфтан"

#: gui/kstandardshortcut.cpp:112
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Ёфтани навбатӣ"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Ёфтани пешакӣ"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Ҷойгузин кардан"

#: gui/kstandardshortcut.cpp:119
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Асосӣ"

#: gui/kstandardshortcut.cpp:127
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Оғоз"

#: gui/kstandardshortcut.cpp:133
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Поён"

#: gui/kstandardshortcut.cpp:134
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Пешакӣ"

#: gui/kstandardshortcut.cpp:137
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Навбатӣ"

#: gui/kstandardshortcut.cpp:144
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Ба боло"

#: gui/kstandardshortcut.cpp:145
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Ба қафо"

#: gui/kstandardshortcut.cpp:148
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Ба пеш"

#: gui/kstandardshortcut.cpp:156
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Боркунии дубора"

#: gui/kstandardshortcut.cpp:165
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Оғози сатр"

#: gui/kstandardshortcut.cpp:173
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Анҷоми сатр"

#: gui/kstandardshortcut.cpp:179
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Гузариш ба сатр"

#: gui/kstandardshortcut.cpp:182
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Калима ба қафо"

#: gui/kstandardshortcut.cpp:190
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Калима ба пеш"

#: gui/kstandardshortcut.cpp:199
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Илова кардани хатчӯб"

#: gui/kstandardshortcut.cpp:205
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Бузург кардани андоза"

#: gui/kstandardshortcut.cpp:206
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Хурд кардани андоза"

#: gui/kstandardshortcut.cpp:209
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Реҷаи экрани пурра"

#: gui/kstandardshortcut.cpp:216
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Нишон додани навори феҳрист"

#: gui/kstandardshortcut.cpp:219
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Фаъол кардани варақаи навбатӣ"

#: gui/kstandardshortcut.cpp:227
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Фаъол кардани варақаи қаблӣ"

#: gui/kstandardshortcut.cpp:235
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Кумак"

#: gui/kstandardshortcut.cpp:236
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "Ин чист"

#: gui/kstandardshortcut.cpp:241
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Пуркунии матн"

#: gui/kstandardshortcut.cpp:249
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Мувофиқати пуркунии матни қаблӣ"

#: gui/kstandardshortcut.cpp:257
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Мувофиқати пуркунии матни навбатӣ"

#: gui/kstandardshortcut.cpp:265
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Пуркунии зерсатр"

#: gui/kstandardshortcut.cpp:274
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Маводи қаблӣ дар рӯйхат"

#: gui/kstandardshortcut.cpp:282
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Маводи навбатӣ дар рӯйхат"

#: gui/kstandardshortcut.cpp:289
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Кушодани маводи охирин"

#: gui/kstandardshortcut.cpp:290
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Нигоҳ доштан ҳамчун"

#: gui/kstandardshortcut.cpp:291
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Бозгаштан"

#: gui/kstandardshortcut.cpp:292
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Пешнамоиши чоп"

#: gui/kstandardshortcut.cpp:293
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "Почта"

#: gui/kstandardshortcut.cpp:294
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Пок кардан"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Actual Size"
msgstr "Андозаи ҳақиқӣ"

#: gui/kstandardshortcut.cpp:296
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Ба саҳифа ғунҷидан"

#: gui/kstandardshortcut.cpp:297
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Ба паҳноӣ ғунҷидан"

#: gui/kstandardshortcut.cpp:298
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Ба баландӣ ғунҷидан"

#: gui/kstandardshortcut.cpp:299
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Интихоби андоза"

#: gui/kstandardshortcut.cpp:300
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Гузариш ба"

#: gui/kstandardshortcut.cpp:301
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Гузариш ба саҳифа"

#: gui/kstandardshortcut.cpp:304
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Санади қаблӣ"

#: gui/kstandardshortcut.cpp:312
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Санади навбатӣ"

#: gui/kstandardshortcut.cpp:320
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Таҳрир кардани хатчӯб"

#: gui/kstandardshortcut.cpp:326
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Санҷиши имло"

#: gui/kstandardshortcut.cpp:327
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Нишон додани навори абзорҳо"

#: gui/kstandardshortcut.cpp:328
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Нишон додани навори вазъият"

#: gui/kstandardshortcut.cpp:330
msgctxt "KStandardShortcut|@action"
msgid "Save Options"
msgstr "Имконоти нигоҳдорӣ"

#: gui/kstandardshortcut.cpp:335
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Иртиботи тугмаҳо"

#: gui/kstandardshortcut.cpp:338
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "Танзимоти барнома"

#: gui/kstandardshortcut.cpp:346
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Танзимоти навори абзорҳо"

#: gui/kstandardshortcut.cpp:354
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Танзимоти огоҳиномаҳо"

#: gui/kstandardshortcut.cpp:360
msgctxt "KStandardShortcut|@action"
msgid "Tip Of Day"
msgstr "Маслиҳати рӯз"

#: gui/kstandardshortcut.cpp:361
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Гузориш дар бораи хато"

#: gui/kstandardshortcut.cpp:364
msgctxt "KStandardShortcut|@action"
msgid "Configure Language..."
msgstr ""

#: gui/kstandardshortcut.cpp:370
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "Дар бораи барнома"

#: gui/kstandardshortcut.cpp:371
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "Дар бораи KDE"

#: gui/kstandardshortcut.cpp:374
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "Нест кардан"

#: gui/kstandardshortcut.cpp:375
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "Номро иваз кардан"

#: gui/kstandardshortcut.cpp:378
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "Интиқол додан ба сабад"

#: gui/kstandardshortcut.cpp:384
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "Дастгирии молӣ"

#: gui/kstandardshortcut.cpp:387
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr ""

#: gui/kstandardshortcut.cpp:395
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr ""

#: kconf_update/kconf_update.cpp:954
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "Абзори KDE барои навсозии файлҳои танзимии корбар"

#: kconf_update/kconf_update.cpp:956
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Нигоҳ доштани натиҷаҳои барориши нақшҳо (скриптҳо)"

#: kconf_update/kconf_update.cpp:959
msgctxt "main|"
msgid ""
"For unit tests only: use test directories to stay away from the user's real "
"files"
msgstr ""
"Танҳо барои санҷишҳои воҳидӣ: барои гузаронидани санҷишҳо дур аз файлҳои "
"ҳақиқии корбар аз ҷузвадонҳои санҷишӣ истифода баред"

#: kconf_update/kconf_update.cpp:961
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "Ниёзи навсозӣ намудани худи файли танзимиро санҷед"

#: kconf_update/kconf_update.cpp:964
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "Файл(ҳо)е ки дастурамали навсозӣ аз он(ҳо) иҷро мешаванд"

#: kconfig_compiler/kconfig_compiler.cpp:708
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Ҷузвадон барои эҷодкунии файлҳо дар [.]"

#: kconfig_compiler/kconfig_compiler.cpp:709
msgctxt "main|"
msgid "directory"
msgstr "ҷузвадон"

#: kconfig_compiler/kconfig_compiler.cpp:713
msgctxt "main|"
msgid "Display software license."
msgstr "Намоиш додани иҷозатномаи нармафзор."

#: kreadconfig/kreadconfig.cpp:45 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Ба ҷои танзими умум аз <file> истифода баред"

#: kreadconfig/kreadconfig.cpp:47 kreadconfig/kwriteconfig.cpp:27
msgctxt "main|"
msgid "Group to look in. Use repeatedly for nested groups."
msgstr ""
"Гурӯҳбандӣ барои ҷустуҷӯ. Барои гурӯҳҳои доимӣ такроран истифода баред."

#: kreadconfig/kreadconfig.cpp:50 kreadconfig/kwriteconfig.cpp:30
msgctxt "main|"
msgid "Key to look for"
msgstr "Калид барои ҷустуҷӯ"

#: kreadconfig/kreadconfig.cpp:51
msgctxt "main|"
msgid "Default value"
msgstr "Қимати стандартӣ"

#: kreadconfig/kreadconfig.cpp:52
msgctxt "main|"
msgid "Type of variable"
msgstr "Навъи тағйиpёбанда"

#: kreadconfig/kwriteconfig.cpp:33
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Навъи тағйиpёбанда. Барои воҳиди матниқӣ \"мантиқ\"-ро истифода баред, дар "
"дигар ҳолат он ҳамчун сатр маънидод карда мешавад"

#: kreadconfig/kwriteconfig.cpp:35
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr ""

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr ""
"Қимат барои навиштан. Ҳатман, дар ҷилд аз '' барои ҷои холӣ истифода баред"
