# Translation of kwriteconfig.po to Slovenian
# Copyright (C) 2003 Free Software Foundation, Inc.
#
# Gregor Rakar <gregor.rakar@kiss.uni-lj.si>, 2003.
# Gregor Rakar <gregor.rakar@kiss.si>, 2003.
# Jure Repinc <jlp@holodeck1.com>, 2007, 2008.
# Andrej Mernik <andrejm@ubuntu.si>, 2013, 2014, 2015, 2016, 2018.
# Matjaž Jeran <matjaz.jeran@amis.net>, 2020, 2021, 2022.
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2024-05-22 10:18+0200\n"
"Last-Translator: Matjaž Jeran <matjaz.jeran@amis.net>\n"
"Language-Team: Slovenian <lugos-slo@lugos.si>\n"
"Language: sl\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=4; plural=(n%100==1 ? 0 : n%100==2 ? 1 : n%100>=3 && n"
"%100<=4 ? 2 : 3);\n"
"Translator: Andrej Mernik <andrejm@ubuntu.si>\n"
"X-Generator: Poedit 3.4.4\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:940
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Obvestite vašega sistemskega skrbnika."

#: core/kconfigini.cpp:565
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "Nastavitvena datoteka \"%1\" ni zapisljiva.\n"

#: core/kemailsettings.cpp:128 core/kemailsettings.cpp:131
#: core/kemailsettings.cpp:139
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Privzeto"

#: gui/kstandardactions.cpp:49
msgctxt "go back|"
msgid "&Back"
msgstr "Nazaj"

#: gui/kstandardactions.cpp:56
msgctxt "go forward|"
msgid "&Forward"
msgstr "Naprej"

#: gui/kstandardactions.cpp:63
msgctxt "home page|"
msgid "&Home"
msgstr "Domov"

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "&New"
msgstr "Novo"

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "Create new document"
msgstr "Ustvari nov dokument"

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "&Open…"
msgstr "Odpri…"

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "Open an existing document"
msgstr "Odpri obstoječi dokument"

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Open &Recent"
msgstr "Odpri nedavno"

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Open a document which was recently opened"
msgstr "Odpri dokument, ki je bil nedavno odprt"

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "&Save"
msgstr "&Shrani"

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "Save document"
msgstr "Shrani dokument"

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "Save &As…"
msgstr "Shrani kot…"

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "Save document under a new name"
msgstr "Shrani dokument pod novim imenom"

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Re&vert"
msgstr "Povrni"

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Revert unsaved changes made to document"
msgstr "Razveljavi neshranjene spremembe v dokumentu"

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "&Close"
msgstr "Zapri"

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "Close document"
msgstr "Zapri dokument"

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "&Print…"
msgstr "Natisni…"

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "Print document"
msgstr "Natisni dokument"

#: gui/kstandardactions_p.h:75
msgctxt "KStandardActions|"
msgid "Print Previe&w"
msgstr "Predogled tiskanja"

#: gui/kstandardactions_p.h:75
msgctxt "KStandardActions|"
msgid "Show a print preview of document"
msgstr "Prikaži predogled tiska dokumenta"

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "&Mail…"
msgstr "E-pošta…"

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "Send document by mail"
msgstr "Pošlji dokument po pošti"

#: gui/kstandardactions_p.h:77
msgctxt "KStandardActions|"
msgid "&Quit"
msgstr "Končaj"

#: gui/kstandardactions_p.h:77
msgctxt "KStandardActions|"
msgid "Quit application"
msgstr "Zapusti aplikacijo"

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "&Undo"
msgstr "Razveljavi"

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "Undo last action"
msgstr "Razveljavi zadnjo dejavnost"

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Re&do"
msgstr "Uveljavi"

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Redo last undone action"
msgstr "Uveljavi zadnjo razveljavljeno dejavnost"

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cu&t"
msgstr "Izreži"

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cut selection to clipboard"
msgstr "Izreži izbiro na odložišče"

#: gui/kstandardactions_p.h:82
msgctxt "KStandardActions|"
msgid "&Copy"
msgstr "Kopiraj"

#: gui/kstandardactions_p.h:82
msgctxt "KStandardActions|"
msgid "Copy selection to clipboard"
msgstr "Kopiraj izbiro na odložišče"

#: gui/kstandardactions_p.h:83
msgctxt "KStandardActions|"
msgid "&Paste"
msgstr "Prilepi"

#: gui/kstandardactions_p.h:83
msgctxt "KStandardActions|"
msgid "Paste clipboard content"
msgstr "Prilepi vsebino odložišča"

#: gui/kstandardactions_p.h:84
msgctxt "KStandardActions|"
msgid "C&lear"
msgstr "Počisti"

#: gui/kstandardactions_p.h:85
msgctxt "KStandardActions|"
msgid "Select &All"
msgstr "Izberi vse"

#: gui/kstandardactions_p.h:86
msgctxt "KStandardActions|"
msgid "Dese&lect"
msgstr "Odizberi"

#: gui/kstandardactions_p.h:87
msgctxt "KStandardActions|"
msgid "&Find…"
msgstr "Najdi…"

#: gui/kstandardactions_p.h:88
msgctxt "KStandardActions|"
msgid "Find &Next"
msgstr "Najdi naslednje"

#: gui/kstandardactions_p.h:89
msgctxt "KStandardActions|"
msgid "Find Pre&vious"
msgstr "Najdi prejšnje"

#: gui/kstandardactions_p.h:90
msgctxt "KStandardActions|"
msgid "&Replace…"
msgstr "Zamenjaj"

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "Zoom to &Actual Size"
msgstr "Prilagodi na dejansko velikost"

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "View document at its actual size"
msgstr "Ogled dokumenta v njegovi dejanski velikosti"

#: gui/kstandardactions_p.h:93
msgctxt "KStandardActions|"
msgid "&Fit to Page"
msgstr "Prilagodi strani"

#: gui/kstandardactions_p.h:93
msgctxt "KStandardActions|"
msgid "Zoom to fit page in window"
msgstr "Povečaj, da se stran prilega oknu"

#: gui/kstandardactions_p.h:94
msgctxt "KStandardActions|"
msgid "Fit to Page &Width"
msgstr "Prilagodi stran širini"

#: gui/kstandardactions_p.h:94
msgctxt "KStandardActions|"
msgid "Zoom to fit page width in window"
msgstr "Povečaj, da se stran prilagodi širini okna"

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "Fit to Page &Height"
msgstr "Prilagodi stran višini"

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "Zoom to fit page height in window"
msgstr "Povečaj, da se stran prilagodi višini okna"

#: gui/kstandardactions_p.h:96
msgctxt "KStandardActions|"
msgid "Zoom &In"
msgstr "Približaj"

#: gui/kstandardactions_p.h:97
msgctxt "KStandardActions|"
msgid "Zoom &Out"
msgstr "Oddalji"

#: gui/kstandardactions_p.h:98
msgctxt "KStandardActions|"
msgid "&Zoom…"
msgstr "Približaj…"

#: gui/kstandardactions_p.h:98
msgctxt "KStandardActions|"
msgid "Select zoom level"
msgstr "Izberite stopnjo povečave"

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "&Refresh"
msgstr "Osveži"

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "Refresh document"
msgstr "Osveži dokument"

#: gui/kstandardactions_p.h:101
msgctxt "KStandardActions|"
msgid "&Up"
msgstr "Gor"

#: gui/kstandardactions_p.h:101
msgctxt "KStandardActions|"
msgid "Go up"
msgstr "Pojdi gor"

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "&Previous Page"
msgstr "&Prejšnja stran"

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "Go to previous page"
msgstr "Pojdi na prejšnjo stran"

#: gui/kstandardactions_p.h:107
msgctxt "KStandardActions|"
msgid "&Next Page"
msgstr "&Naslednja stran"

#: gui/kstandardactions_p.h:107
msgctxt "KStandardActions|"
msgid "Go to next page"
msgstr "Pojdi na naslednjo stran"

#: gui/kstandardactions_p.h:108
msgctxt "KStandardActions|"
msgid "&Go To…"
msgstr "Pojdi na…"

#: gui/kstandardactions_p.h:109
msgctxt "KStandardActions|"
msgid "&Go to Page…"
msgstr "Pojdi na stran…"

#: gui/kstandardactions_p.h:110
msgctxt "KStandardActions|"
msgid "&Go to Line…"
msgstr "Pojdi v vrstico…"

#: gui/kstandardactions_p.h:111
msgctxt "KStandardActions|"
msgid "&First Page"
msgstr "Prva stran"

#: gui/kstandardactions_p.h:111
msgctxt "KStandardActions|"
msgid "Go to first page"
msgstr "Pojdi na prvo stran"

#: gui/kstandardactions_p.h:112
msgctxt "KStandardActions|"
msgid "&Last Page"
msgstr "Na zadnjo stran"

#: gui/kstandardactions_p.h:112
msgctxt "KStandardActions|"
msgid "Go to last page"
msgstr "Pojdi na zadnjo stran"

#: gui/kstandardactions_p.h:113
msgctxt "KStandardActions|"
msgid "&Back"
msgstr "Nazaj"

#: gui/kstandardactions_p.h:113
msgctxt "KStandardActions|"
msgid "Go back in document"
msgstr "Pojdi nazaj na dokument"

#: gui/kstandardactions_p.h:114
msgctxt "KStandardActions|"
msgid "&Forward"
msgstr "Naprej"

#: gui/kstandardactions_p.h:114
msgctxt "KStandardActions|"
msgid "Go forward in document"
msgstr "Pojdi naprej v dokumentu"

#: gui/kstandardactions_p.h:116
msgctxt "KStandardActions|"
msgid "&Add Bookmark"
msgstr "Dod&aj zaznamek"

#: gui/kstandardactions_p.h:117
msgctxt "KStandardActions|"
msgid "&Edit Bookmarks…"
msgstr "Uredi zaznamke…"

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "&Spelling…"
msgstr "Črkovanje…"

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "Check spelling in document"
msgstr "Preveri črkovanje v dokumentu"

#: gui/kstandardactions_p.h:121
msgctxt "KStandardActions|"
msgid "Show &Menubar"
msgstr "Pokaži &menijsko vrstico"

#: gui/kstandardactions_p.h:121
msgctxt "KStandardActions|"
msgid "Show or hide menubar"
msgstr "Pokaži ali skrij menijsko vrstico"

#: gui/kstandardactions_p.h:122
msgctxt "KStandardActions|"
msgid "Show &Toolbar"
msgstr "Pokaži orodno vrstico"

#: gui/kstandardactions_p.h:122
msgctxt "KStandardActions|"
msgid "Show or hide toolbar"
msgstr "Pokaži ali skrij orodno vrstico"

#: gui/kstandardactions_p.h:123
msgctxt "KStandardActions|"
msgid "Show St&atusbar"
msgstr "Pokaži vrstico stanja"

#: gui/kstandardactions_p.h:123
msgctxt "KStandardActions|"
msgid "Show or hide statusbar"
msgstr "Pokaži ali skrij vrstico stanja"

#: gui/kstandardactions_p.h:124
msgctxt "KStandardActions|"
msgid "F&ull Screen Mode"
msgstr "Celozaslonski način"

#: gui/kstandardactions_p.h:125
msgctxt "KStandardActions|"
msgid "Configure Keyboard S&hortcuts…"
msgstr "Konfiguriraj bližnjice na tipkovnici…"

#: gui/kstandardactions_p.h:126
#, qt-format
msgctxt "KStandardActions|"
msgid "&Configure %1…"
msgstr "Konfiguriraj %1 …"

#: gui/kstandardactions_p.h:127
msgctxt "KStandardActions|"
msgid "Configure Tool&bars…"
msgstr "Nastavi orodne vrstice…"

#: gui/kstandardactions_p.h:128
msgctxt "KStandardActions|"
msgid "Configure &Notifications…"
msgstr "Nastavi obvestila…"

#: gui/kstandardactions_p.h:132
#, qt-format
msgctxt "KStandardActions|"
msgid "%1 &Handbook"
msgstr "%1 Priročnik"

#: gui/kstandardactions_p.h:133
msgctxt "KStandardActions|"
msgid "What's &This?"
msgstr "Kaj je to?"

#: gui/kstandardactions_p.h:134
msgctxt "KStandardActions|"
msgid "&Report Bug…"
msgstr "Poročaj o hrošču…"

#: gui/kstandardactions_p.h:135
msgctxt "KStandardActions|"
msgid "Configure &Language…"
msgstr "Nastavi jezik…"

#: gui/kstandardactions_p.h:136
#, qt-format
msgctxt "KStandardActions|"
msgid "&About %1"
msgstr "O %1"

#: gui/kstandardactions_p.h:137
msgctxt "KStandardActions|"
msgid "About &KDE"
msgstr "O &KDE"

#: gui/kstandardactions_p.h:138
msgctxt "KStandardActions|"
msgid "&Delete"
msgstr "Izbriši"

#: gui/kstandardactions_p.h:139
msgctxt "KStandardActions|"
msgid "&Rename…"
msgstr "Preimenuj…"

#: gui/kstandardactions_p.h:140
msgctxt "KStandardActions|"
msgid "&Move to Trash"
msgstr "Premakni v Smeti"

#: gui/kstandardactions_p.h:141
msgctxt "KStandardActions|"
msgid "&Donate"
msgstr "&Doniraj"

#: gui/kstandardactions_p.h:142
msgctxt "KStandardActions|"
msgid "Open &Menu"
msgstr "Odpri &meni"

#: gui/kstandardshortcut.cpp:70
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Odpri"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Novo"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Zapri"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Shrani"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Natisni"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Končaj"

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Razveljavi"

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Uveljavi"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Izreži"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Kopiraj"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Prilepi"

#: gui/kstandardshortcut.cpp:87
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Prilepi izbor"

#: gui/kstandardshortcut.cpp:94
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Izberi vse"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Odstrani izbiro"

#: gui/kstandardshortcut.cpp:98
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Izbriši besedo vzvratno"

#: gui/kstandardshortcut.cpp:106
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Izbriši besedo naprej"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Najdi"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Najdi naslednje"

#: gui/kstandardshortcut.cpp:115
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Najdi prejšnje"

#: gui/kstandardshortcut.cpp:116
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Zamenjaj"

#: gui/kstandardshortcut.cpp:121
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Domov"

#: gui/kstandardshortcut.cpp:129
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Začni"

#: gui/kstandardshortcut.cpp:135
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Končaj"

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Prejšnji"

#: gui/kstandardshortcut.cpp:139
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Naslednji"

#: gui/kstandardshortcut.cpp:146
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Gor"

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Nazaj"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Naprej"

#: gui/kstandardshortcut.cpp:158
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Znova naloži"

#: gui/kstandardshortcut.cpp:167
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Začetek vrstice"

#: gui/kstandardshortcut.cpp:175
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Konec vrstice"

#: gui/kstandardshortcut.cpp:181
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Pojdi v vrstico"

#: gui/kstandardshortcut.cpp:184
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Eno besedo nazaj"

#: gui/kstandardshortcut.cpp:192
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Eno besedo naprej"

#: gui/kstandardshortcut.cpp:201
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Dodaj zaznamek"

#: gui/kstandardshortcut.cpp:207
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Približaj"

#: gui/kstandardshortcut.cpp:208
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Oddalji"

#: gui/kstandardshortcut.cpp:211
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Celozaslonski način"

#: gui/kstandardshortcut.cpp:218
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Pokaži menijsko vrstico"

#: gui/kstandardshortcut.cpp:221
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Omogoči naslednji zavihek"

#: gui/kstandardshortcut.cpp:229
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Omogoči predhodni zavihek"

#: gui/kstandardshortcut.cpp:237
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Pomoč"

#: gui/kstandardshortcut.cpp:238
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "Kaj je to"

#: gui/kstandardshortcut.cpp:243
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Dopolnjevanje besedila"

#: gui/kstandardshortcut.cpp:251
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Predhodni zadetek pri dopolnjevanju"

#: gui/kstandardshortcut.cpp:259
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Naslednji zadetek pri dopolnjevanju"

#: gui/kstandardshortcut.cpp:267
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Dopolnjevanje podniza"

#: gui/kstandardshortcut.cpp:276
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Predhodni predmet seznama"

#: gui/kstandardshortcut.cpp:284
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Naslednji predmet seznama"

#: gui/kstandardshortcut.cpp:291
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Odpri nedavno"

#: gui/kstandardshortcut.cpp:292
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Shrani kot"

#: gui/kstandardshortcut.cpp:293
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Povrni"

#: gui/kstandardshortcut.cpp:294
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Predogled tiskanja"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "E-pošta"

#: gui/kstandardshortcut.cpp:296
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Počisti"

#: gui/kstandardshortcut.cpp:299
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr "Prilagodi na dejansko velikost"

#: gui/kstandardshortcut.cpp:305
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Prilagodi strani"

#: gui/kstandardshortcut.cpp:306
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Prilagodi širini"

#: gui/kstandardshortcut.cpp:307
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Prilagodi višini"

#: gui/kstandardshortcut.cpp:308
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Približanje"

#: gui/kstandardshortcut.cpp:309
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Pojdi na"

#: gui/kstandardshortcut.cpp:310
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Pojdi na stran"

#: gui/kstandardshortcut.cpp:313
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "En dokument nazaj"

#: gui/kstandardshortcut.cpp:321
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "En dokument naprej"

#: gui/kstandardshortcut.cpp:329
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Uredi zaznamke"

#: gui/kstandardshortcut.cpp:335
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Črkovanje"

#: gui/kstandardshortcut.cpp:336
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Pokaži orodno vrstico"

#: gui/kstandardshortcut.cpp:337
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Pokaži vrstico stanja"

#: gui/kstandardshortcut.cpp:340
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Tipkovne bližnjice"

#: gui/kstandardshortcut.cpp:348
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "Nastavi program"

#: gui/kstandardshortcut.cpp:356
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Nastavi orodne vrstice"

#: gui/kstandardshortcut.cpp:364
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Nastavi obvestila"

#: gui/kstandardshortcut.cpp:370
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Poročaj o hrošču"

#: gui/kstandardshortcut.cpp:373
msgctxt "KStandardShortcut|@action"
msgid "Configure Language…"
msgstr "Nastavi jezik…"

#: gui/kstandardshortcut.cpp:379
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "O programu"

#: gui/kstandardshortcut.cpp:380
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "O KDE"

#: gui/kstandardshortcut.cpp:383
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "Izbriši"

#: gui/kstandardshortcut.cpp:384
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "Preimenuj"

#: gui/kstandardshortcut.cpp:387
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "Premakni v Smeti"

#: gui/kstandardshortcut.cpp:393
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "Donacija"

#: gui/kstandardshortcut.cpp:396
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr "Prikaži/Skrij skrite datoteke"

#: gui/kstandardshortcut.cpp:404
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr "Ustvari mapo"

#: gui/kstandardshortcut.cpp:412
msgctxt ""
"KStandardShortcut|@action referring to the menu bar or a hamburger menu"
msgid "Open Main Menu"
msgstr "Odpri glavni meni"

#: gui/kstandardshortcut.cpp:420
msgctxt "KStandardShortcut|@action"
msgid "Open Context Menu"
msgstr "Odpri kontekstni meni"

#: kconf_update/kconf_update.cpp:368
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "Orodje KDE za posodabljanje uporabniških nastavitvenih datotek"

#: kconf_update/kconf_update.cpp:370
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Ohrani rezultate izpisa skriptov"

#: kconf_update/kconf_update.cpp:373
msgctxt "main|"
msgid ""
"For unit tests only: do not write the done entries, so that with every re-"
"run, the scripts are executed again"
msgstr ""
"Samo za preizkus enot: ne zapisujte vnosov kot dokončanih, tako da se ob "
"vsaki ponovitvi skripti ponovno izvajajo"

#: kconf_update/kconf_update.cpp:375
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "Preveri, če nastavitvena datoteka potrebuje posodobitev"

#: kconf_update/kconf_update.cpp:378
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "Datoteke, iz katerih bodo prebrana navodila za posodobitev"

#: kconfig_compiler/kconfig_compiler.cpp:726
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Direktorij kjer bodo ustvarjene datoteke [.]"

#: kconfig_compiler/kconfig_compiler.cpp:727
msgctxt "main|"
msgid "directory"
msgstr "direktorij"

#: kconfig_compiler/kconfig_compiler.cpp:731
msgctxt "main|"
msgid "Display software license."
msgstr "Prikaži licenco programske opreme."

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Uporabi <file> namesto splošnih nastavitev"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr ""
"V kateri skupini naj se išče. Uporabite  \"<default>\"  za za korensko "
"skupino ali ponovno za gnezdene skupine."

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "Iskani ključ"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "Privzeta vrednost"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "Vrsta spremenljivke"

#: kreadconfig/kreadconfig.cpp:84 kreadconfig/kwriteconfig.cpp:69
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr ""
"Ime skupine ne more biti prazna, uporabite \"<default>\" za korensko skupino"

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Vrsta spremenljivke. Uporabite »bool« za Boolovo, sicer se obravnava kot niz"

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr "Izbriši označen ključ, če je omogočeno"

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "Vrednost za zapis. V lupini obvezno uporabite '' za prazno"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Tip Of Day"
#~ msgstr "Nasvet dneva"

#~ msgctxt "main|"
#~ msgid ""
#~ "For unit tests only: use test directories to stay away from the user's "
#~ "real files"
#~ msgstr ""
#~ "Samo za preizkuse enot: uporabite preizkusne mape, da ne vplivate na "
#~ "uporabnikove datoteke"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Save Options"
#~ msgstr "Shrani možnosti"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Switch Application Language"
#~ msgstr "Preklopi jezik programa"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Preferences"
#~ msgstr "Možnosti"

#~ msgid "KWriteConfig"
#~ msgstr "KWriteConfig"

#~ msgid "Write KConfig entries - for use in shell scripts"
#~ msgstr "Zapiši vnose KConfig - za uporabo v lupinskih skriptih"

#~ msgid "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"
#~ msgstr "© 2001 Red Hat, Inc. in Luís Pedro Coelho"

#~ msgid "Wrote kreadconfig on which this is based"
#~ msgstr "Napisal je kreadconfig, na katerem temelji ta program"

#~ msgid "Luís Pedro Coelho"
#~ msgstr "Luís Pedro Coelho"

#~ msgid "Bernhard Rosenkraenzer"
#~ msgstr "Bernhard Rosenkraenzer"
