# Indonesian translations for kwriteconfig package.
# Copyright (C) 2010 This_file_is_part_of_KDE
# This file is distributed under the same license as the kwriteconfig package.
# Gian Giovani <wejick@gmail.com>, 2010.
# Andhika Padmawan <andhika.padmawan@gmail.com>, 2014.
# Wantoyo <wantoyek@gmail.com>, 2017, 2018, 2019, 2020, 2021, 2022.
# Aziz Adam Adrian <4.adam.adrian@gmail.com>, 2022.
#
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2022-08-19 20:36+0700\n"
"Last-Translator: Wantoyèk <wantoyek@gmail.com>\n"
"Language-Team: https://t.me/Localizations_KDE_Indonesia\n"
"Language: id\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n != 1);\n"
"X-Generator: Lokalize 21.12.3\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:936
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Silakan kontak pengurus sistem anda."

#: core/kconfigini.cpp:568
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "File konfigurasi \"%1\" tidak dapat ditulis.\n"

#: core/kemailsettings.cpp:128 core/kemailsettings.cpp:131
#: core/kemailsettings.cpp:139
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Baku"

#: gui/kstandardactions.cpp:49
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Back"
msgctxt "go back|"
msgid "&Back"
msgstr "Mundur"

#: gui/kstandardactions.cpp:56
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Forward"
msgctxt "go forward|"
msgid "&Forward"
msgstr "Maju"

#: gui/kstandardactions.cpp:63
#, fuzzy
#| msgctxt "KStandardShortcut|@action Go to main page"
#| msgid "Home"
msgctxt "home page|"
msgid "&Home"
msgstr "Beranda"

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "&New"
msgstr ""

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "Create new document"
msgstr ""

#: gui/kstandardactions_p.h:68
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Open"
msgctxt "KStandardActions|"
msgid "&Open…"
msgstr "Buka"

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "Open an existing document"
msgstr ""

#: gui/kstandardactions_p.h:69
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Open Recent"
msgctxt "KStandardActions|"
msgid "Open &Recent"
msgstr "Buka Baru-baru ini"

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Open a document which was recently opened"
msgstr ""

#: gui/kstandardactions_p.h:70
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Save"
msgctxt "KStandardActions|"
msgid "&Save"
msgstr "Simpan"

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "Save document"
msgstr ""

#: gui/kstandardactions_p.h:71
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Save As"
msgctxt "KStandardActions|"
msgid "Save &As…"
msgstr "Simpan Sebagai"

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "Save document under a new name"
msgstr ""

#: gui/kstandardactions_p.h:72
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Revert"
msgctxt "KStandardActions|"
msgid "Re&vert"
msgstr "Kembalikan"

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Revert unsaved changes made to document"
msgstr ""

#: gui/kstandardactions_p.h:73
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Close"
msgctxt "KStandardActions|"
msgid "&Close"
msgstr "Tutup"

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "Close document"
msgstr ""

#: gui/kstandardactions_p.h:74
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Print"
msgctxt "KStandardActions|"
msgid "&Print…"
msgstr "Cetak"

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "Print document"
msgstr ""

#: gui/kstandardactions_p.h:75
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Print Preview"
msgctxt "KStandardActions|"
msgid "Print Previe&w"
msgstr "Pratinjau Cetak"

#: gui/kstandardactions_p.h:75
msgctxt "KStandardActions|"
msgid "Show a print preview of document"
msgstr ""

#: gui/kstandardactions_p.h:76
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Mail"
msgctxt "KStandardActions|"
msgid "&Mail…"
msgstr "Surat"

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "Send document by mail"
msgstr ""

#: gui/kstandardactions_p.h:77
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Quit"
msgctxt "KStandardActions|"
msgid "&Quit"
msgstr "Berhenti"

#: gui/kstandardactions_p.h:77
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "About Application"
msgctxt "KStandardActions|"
msgid "Quit application"
msgstr "Tentang Aplikasi"

#: gui/kstandardactions_p.h:79
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Undo"
msgctxt "KStandardActions|"
msgid "&Undo"
msgstr "Urung"

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "Undo last action"
msgstr ""

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Re&do"
msgstr ""

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Redo last undone action"
msgstr ""

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cu&t"
msgstr ""

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cut selection to clipboard"
msgstr ""

#: gui/kstandardactions_p.h:82
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Copy"
msgctxt "KStandardActions|"
msgid "&Copy"
msgstr "Salin"

#: gui/kstandardactions_p.h:82
msgctxt "KStandardActions|"
msgid "Copy selection to clipboard"
msgstr ""

#: gui/kstandardactions_p.h:83
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Paste"
msgctxt "KStandardActions|"
msgid "&Paste"
msgstr "Tempel"

#: gui/kstandardactions_p.h:83
msgctxt "KStandardActions|"
msgid "Paste clipboard content"
msgstr ""

#: gui/kstandardactions_p.h:84
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Clear"
msgctxt "KStandardActions|"
msgid "C&lear"
msgstr "Bersihkan"

#: gui/kstandardactions_p.h:85
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Select All"
msgctxt "KStandardActions|"
msgid "Select &All"
msgstr "Pilih Semua"

#: gui/kstandardactions_p.h:86
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Deselect"
msgctxt "KStandardActions|"
msgid "Dese&lect"
msgstr "Tak Pilih"

#: gui/kstandardactions_p.h:87
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Find"
msgctxt "KStandardActions|"
msgid "&Find…"
msgstr "Temukan"

#: gui/kstandardactions_p.h:88
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Find Next"
msgctxt "KStandardActions|"
msgid "Find &Next"
msgstr "Temukan Selanjutnya"

#: gui/kstandardactions_p.h:89
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Find Prev"
msgctxt "KStandardActions|"
msgid "Find Pre&vious"
msgstr "Temukan Sebelumnya"

#: gui/kstandardactions_p.h:90
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Replace"
msgctxt "KStandardActions|"
msgid "&Replace…"
msgstr "Ganti"

#: gui/kstandardactions_p.h:92
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom to Actual Size"
msgctxt "KStandardActions|"
msgid "Zoom to &Actual Size"
msgstr "Zoom ke Ukuran Sebenarnya"

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "View document at its actual size"
msgstr ""

#: gui/kstandardactions_p.h:93
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Page"
msgctxt "KStandardActions|"
msgid "&Fit to Page"
msgstr "Paskan Ke Halaman"

#: gui/kstandardactions_p.h:93
msgctxt "KStandardActions|"
msgid "Zoom to fit page in window"
msgstr ""

#: gui/kstandardactions_p.h:94
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Width"
msgctxt "KStandardActions|"
msgid "Fit to Page &Width"
msgstr "Paskan Ke Lebar"

#: gui/kstandardactions_p.h:94
msgctxt "KStandardActions|"
msgid "Zoom to fit page width in window"
msgstr ""

#: gui/kstandardactions_p.h:95
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Height"
msgctxt "KStandardActions|"
msgid "Fit to Page &Height"
msgstr "Paskan Ke Tinggi"

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "Zoom to fit page height in window"
msgstr ""

#: gui/kstandardactions_p.h:96
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom In"
msgctxt "KStandardActions|"
msgid "Zoom &In"
msgstr "Zoom Perbesar"

#: gui/kstandardactions_p.h:97
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom Out"
msgctxt "KStandardActions|"
msgid "Zoom &Out"
msgstr "Zoom Perkecil"

#: gui/kstandardactions_p.h:98
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom"
msgctxt "KStandardActions|"
msgid "&Zoom…"
msgstr "Zoom "

#: gui/kstandardactions_p.h:98
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Select All"
msgctxt "KStandardActions|"
msgid "Select zoom level"
msgstr "Pilih Semua"

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "&Refresh"
msgstr ""

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "Refresh document"
msgstr ""

#: gui/kstandardactions_p.h:101
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Up"
msgctxt "KStandardActions|"
msgid "&Up"
msgstr "Atas"

#: gui/kstandardactions_p.h:101
msgctxt "KStandardActions|"
msgid "Go up"
msgstr ""

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "&Previous Page"
msgstr ""

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "Go to previous page"
msgstr ""

#: gui/kstandardactions_p.h:107
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Goto Page"
msgctxt "KStandardActions|"
msgid "&Next Page"
msgstr "Ke Halaman"

#: gui/kstandardactions_p.h:107
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Go to Line"
msgctxt "KStandardActions|"
msgid "Go to next page"
msgstr "Menuju ke Baris"

#: gui/kstandardactions_p.h:108
msgctxt "KStandardActions|"
msgid "&Go To…"
msgstr ""

#: gui/kstandardactions_p.h:109
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Goto Page"
msgctxt "KStandardActions|"
msgid "&Go to Page…"
msgstr "Ke Halaman"

#: gui/kstandardactions_p.h:110
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Go to Line"
msgctxt "KStandardActions|"
msgid "&Go to Line…"
msgstr "Menuju ke Baris"

#: gui/kstandardactions_p.h:111
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Page"
msgctxt "KStandardActions|"
msgid "&First Page"
msgstr "Paskan Ke Halaman"

#: gui/kstandardactions_p.h:111
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Go to Line"
msgctxt "KStandardActions|"
msgid "Go to first page"
msgstr "Menuju ke Baris"

#: gui/kstandardactions_p.h:112
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Goto Page"
msgctxt "KStandardActions|"
msgid "&Last Page"
msgstr "Ke Halaman"

#: gui/kstandardactions_p.h:112
msgctxt "KStandardActions|"
msgid "Go to last page"
msgstr ""

#: gui/kstandardactions_p.h:113
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Back"
msgctxt "KStandardActions|"
msgid "&Back"
msgstr "Mundur"

#: gui/kstandardactions_p.h:113
msgctxt "KStandardActions|"
msgid "Go back in document"
msgstr ""

#: gui/kstandardactions_p.h:114
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Forward"
msgctxt "KStandardActions|"
msgid "&Forward"
msgstr "Maju"

#: gui/kstandardactions_p.h:114
msgctxt "KStandardActions|"
msgid "Go forward in document"
msgstr ""

#: gui/kstandardactions_p.h:116
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Add Bookmark"
msgctxt "KStandardActions|"
msgid "&Add Bookmark"
msgstr "Tambah Markah"

#: gui/kstandardactions_p.h:117
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Edit Bookmarks"
msgctxt "KStandardActions|"
msgid "&Edit Bookmarks…"
msgstr "Edit Markah"

#: gui/kstandardactions_p.h:119
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Spelling"
msgctxt "KStandardActions|"
msgid "&Spelling…"
msgstr "Pengejaan"

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "Check spelling in document"
msgstr ""

#: gui/kstandardactions_p.h:121
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Menu Bar"
msgctxt "KStandardActions|"
msgid "Show &Menubar"
msgstr "Tampilkan Menubar"

#: gui/kstandardactions_p.h:121
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Menu Bar"
msgctxt "KStandardActions|"
msgid "Show or hide menubar"
msgstr "Tampilkan Menubar"

#: gui/kstandardactions_p.h:122
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Toolbar"
msgctxt "KStandardActions|"
msgid "Show &Toolbar"
msgstr "Tampilkan Bilah Alat"

#: gui/kstandardactions_p.h:122
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Toolbar"
msgctxt "KStandardActions|"
msgid "Show or hide toolbar"
msgstr "Tampilkan Bilah Alat"

#: gui/kstandardactions_p.h:123
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Statusbar"
msgctxt "KStandardActions|"
msgid "Show St&atusbar"
msgstr "Tampilkan Bilah Status"

#: gui/kstandardactions_p.h:123
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Statusbar"
msgctxt "KStandardActions|"
msgid "Show or hide statusbar"
msgstr "Tampilkan Bilah Status"

#: gui/kstandardactions_p.h:124
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Full Screen Mode"
msgctxt "KStandardActions|"
msgid "F&ull Screen Mode"
msgstr "Mode Layar Penuh"

#: gui/kstandardactions_p.h:125
msgctxt "KStandardActions|"
msgid "Configure Keyboard S&hortcuts…"
msgstr ""

#: gui/kstandardactions_p.h:126
#, fuzzy, qt-format
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Language..."
msgctxt "KStandardActions|"
msgid "&Configure %1…"
msgstr "Konfigurasikan Bahasa..."

#: gui/kstandardactions_p.h:127
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Toolbars"
msgctxt "KStandardActions|"
msgid "Configure Tool&bars…"
msgstr "Konfigurasikan Bilah Alat"

#: gui/kstandardactions_p.h:128
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Notifications"
msgctxt "KStandardActions|"
msgid "Configure &Notifications…"
msgstr "Konfigurasikan Notifikasi"

#: gui/kstandardactions_p.h:132
#, qt-format
msgctxt "KStandardActions|"
msgid "%1 &Handbook"
msgstr ""

#: gui/kstandardactions_p.h:133
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "What's This"
msgctxt "KStandardActions|"
msgid "What's &This?"
msgstr "Apakah Ini"

#: gui/kstandardactions_p.h:134
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Report Bug"
msgctxt "KStandardActions|"
msgid "&Report Bug…"
msgstr "Laporkan Bug"

#: gui/kstandardactions_p.h:135
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Language..."
msgctxt "KStandardActions|"
msgid "Configure &Language…"
msgstr "Konfigurasikan Bahasa..."

#: gui/kstandardactions_p.h:136
#, fuzzy, qt-format
#| msgctxt "KStandardShortcut|@action"
#| msgid "About KDE"
msgctxt "KStandardActions|"
msgid "&About %1"
msgstr "Tentang KDE"

#: gui/kstandardactions_p.h:137
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "About KDE"
msgctxt "KStandardActions|"
msgid "About &KDE"
msgstr "Tentang KDE"

#: gui/kstandardactions_p.h:138
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Delete"
msgctxt "KStandardActions|"
msgid "&Delete"
msgstr "Hapus"

#: gui/kstandardactions_p.h:139
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Rename"
msgctxt "KStandardActions|"
msgid "&Rename…"
msgstr "Ubah Nama"

#: gui/kstandardactions_p.h:140
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Move to Trash"
msgctxt "KStandardActions|"
msgid "&Move to Trash"
msgstr "Pindah ke Tong Sampah"

#: gui/kstandardactions_p.h:141
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Donate"
msgctxt "KStandardActions|"
msgid "&Donate"
msgstr "Donasi"

#: gui/kstandardactions_p.h:142
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Open Recent"
msgctxt "KStandardActions|"
msgid "Open &Menu"
msgstr "Buka Baru-baru ini"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Buka"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Baru"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Tutup"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Simpan"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Cetak"

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Berhenti"

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Urung"

#: gui/kstandardshortcut.cpp:80
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Ulang"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Potong"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Salin"

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Tempel"

#: gui/kstandardshortcut.cpp:88
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Seleksi Tempel"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Pilih Semua"

#: gui/kstandardshortcut.cpp:96
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Tak Pilih"

#: gui/kstandardshortcut.cpp:99
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Hapus Kata Mundur"

#: gui/kstandardshortcut.cpp:111
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Hapus Kata Maju"

#: gui/kstandardshortcut.cpp:122
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Temukan"

#: gui/kstandardshortcut.cpp:123
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Temukan Selanjutnya"

#: gui/kstandardshortcut.cpp:124
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Temukan Sebelumnya"

#: gui/kstandardshortcut.cpp:125
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Ganti"

#: gui/kstandardshortcut.cpp:130
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Beranda"

#: gui/kstandardshortcut.cpp:138
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Awal"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Akhir"

#: gui/kstandardshortcut.cpp:160
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Sebelumnya"

#: gui/kstandardshortcut.cpp:163
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Selanjutnya"

#: gui/kstandardshortcut.cpp:170
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Atas"

#: gui/kstandardshortcut.cpp:171
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Mundur"

#: gui/kstandardshortcut.cpp:174
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Maju"

#: gui/kstandardshortcut.cpp:182
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Muat Ulang"

#: gui/kstandardshortcut.cpp:191
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Awal Baris"

#: gui/kstandardshortcut.cpp:203
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Akhir Baris"

#: gui/kstandardshortcut.cpp:213
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Menuju ke Baris"

#: gui/kstandardshortcut.cpp:216
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Kata Mundur"

#: gui/kstandardshortcut.cpp:228
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Kata Maju"

#: gui/kstandardshortcut.cpp:241
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Tambah Markah"

#: gui/kstandardshortcut.cpp:247
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Zoom Perbesar"

#: gui/kstandardshortcut.cpp:248
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Zoom Perkecil"

#: gui/kstandardshortcut.cpp:251
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Mode Layar Penuh"

#: gui/kstandardshortcut.cpp:262
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Tampilkan Menubar"

#: gui/kstandardshortcut.cpp:265
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Aktifkan Tab Selanjutnya"

#: gui/kstandardshortcut.cpp:273
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Aktifkan Tab Sebelumnya"

#: gui/kstandardshortcut.cpp:281
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Bantuan"

#: gui/kstandardshortcut.cpp:282
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "Apakah Ini"

#: gui/kstandardshortcut.cpp:287
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Penyelesai Teks"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Kecocokan Penyelesai Sebelumnya"

#: gui/kstandardshortcut.cpp:303
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Kecocokan Penyelesai Selanjutnya"

#: gui/kstandardshortcut.cpp:311
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Penyelesai Substring"

#: gui/kstandardshortcut.cpp:320
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Item Sebelumnya di Daftar"

#: gui/kstandardshortcut.cpp:328
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Item Selanjutnya di Daftar"

#: gui/kstandardshortcut.cpp:335
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Buka Baru-baru ini"

#: gui/kstandardshortcut.cpp:336
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Simpan Sebagai"

#: gui/kstandardshortcut.cpp:337
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Kembalikan"

#: gui/kstandardshortcut.cpp:338
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Pratinjau Cetak"

#: gui/kstandardshortcut.cpp:339
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "Surat"

#: gui/kstandardshortcut.cpp:340
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Bersihkan"

#: gui/kstandardshortcut.cpp:343
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr "Zoom ke Ukuran Sebenarnya"

#: gui/kstandardshortcut.cpp:349
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Paskan Ke Halaman"

#: gui/kstandardshortcut.cpp:350
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Paskan Ke Lebar"

#: gui/kstandardshortcut.cpp:351
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Paskan Ke Tinggi"

#: gui/kstandardshortcut.cpp:352
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Zoom "

#: gui/kstandardshortcut.cpp:353
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Ke"

#: gui/kstandardshortcut.cpp:354
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Ke Halaman"

#: gui/kstandardshortcut.cpp:357
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Dokumen Mundur"

#: gui/kstandardshortcut.cpp:365
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Dokumen Maju"

#: gui/kstandardshortcut.cpp:373
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Edit Markah"

#: gui/kstandardshortcut.cpp:379
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Pengejaan"

#: gui/kstandardshortcut.cpp:380
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Tampilkan Bilah Alat"

#: gui/kstandardshortcut.cpp:381
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Tampilkan Bilah Status"

#: gui/kstandardshortcut.cpp:384
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Pengikat Tuts"

#: gui/kstandardshortcut.cpp:392
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "Konfigurasikan Aplikasi"

#: gui/kstandardshortcut.cpp:400
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Konfigurasikan Bilah Alat"

#: gui/kstandardshortcut.cpp:408
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Konfigurasikan Notifikasi"

#: gui/kstandardshortcut.cpp:414
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Laporkan Bug"

#: gui/kstandardshortcut.cpp:417
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Language..."
msgctxt "KStandardShortcut|@action"
msgid "Configure Language…"
msgstr "Konfigurasikan Bahasa..."

#: gui/kstandardshortcut.cpp:423
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "Tentang Aplikasi"

#: gui/kstandardshortcut.cpp:424
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "Tentang KDE"

#: gui/kstandardshortcut.cpp:427
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "Hapus"

#: gui/kstandardshortcut.cpp:428
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "Ubah Nama"

#: gui/kstandardshortcut.cpp:431
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "Pindah ke Tong Sampah"

#: gui/kstandardshortcut.cpp:437
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "Donasi"

#: gui/kstandardshortcut.cpp:440
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr "Tampilkan/Sembunyikan File Yang Tersembunyi"

#: gui/kstandardshortcut.cpp:448
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr "Ciptakan Folder"

#: gui/kstandardshortcut.cpp:456
msgctxt ""
"KStandardShortcut|@action referring to the menu bar or a hamburger menu"
msgid "Open Main Menu"
msgstr ""

#: gui/kstandardshortcut.cpp:464
msgctxt "KStandardShortcut|@action"
msgid "Open Context Menu"
msgstr ""

#: kconf_update/kconf_update.cpp:368
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "Alat KDE untuk memperbarui file konfigurasi pengguna"

#: kconf_update/kconf_update.cpp:370
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Jaga output dihasilkan dari skrip"

#: kconf_update/kconf_update.cpp:373
msgctxt "main|"
msgid ""
"For unit tests only: do not write the done entries, so that with every re-"
"run, the scripts are executed again"
msgstr ""

#: kconf_update/kconf_update.cpp:375
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "Cek apakah file konfigurasi itu sendiri memerlukan peningkatan"

#: kconf_update/kconf_update.cpp:378
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "File untuk membaca instruksi pembaruan dari"

#: kconfig_compiler/kconfig_compiler.cpp:726
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Direktori untuk membuat file di [.]"

#: kconfig_compiler/kconfig_compiler.cpp:727
msgctxt "main|"
msgid "directory"
msgstr "direktori"

#: kconfig_compiler/kconfig_compiler.cpp:731
msgctxt "main|"
msgid "Display software license."
msgstr "Tampilkan lisensi perangkat lunak."

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Gunakan <file> daripada konfig global"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr ""
"Group untuk dilihat. Pakai \"<default>\" untuk grup root, atau gunakan "
"berulang kali untuk grup berkumpul."

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "Kunci untuk dilihat"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "Nilai baku"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "Tipe variabel"

#: kreadconfig/kreadconfig.cpp:84 kreadconfig/kwriteconfig.cpp:69
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr "Nama grup tidak boleh kosong, pakai \"<default>\" untuk grup root"

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Tipe dari variabel. Gunakan \"bool\" untuk boolean, yang lain akan "
"diperlakukan seperti string"

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr "Hapus kunci yang dituju jika difungsikan"

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr ""
"Nilai untuk penulisan. Seharusnya, di shell gunakan '' bagi yang kosong"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Tip Of Day"
#~ msgstr "Tip Hari Ini"

#~ msgctxt "main|"
#~ msgid ""
#~ "For unit tests only: use test directories to stay away from the user's "
#~ "real files"
#~ msgstr ""
#~ "Untuk uji unit saja: gunakan direktori uji agar menjauh dari file asli "
#~ "pengguna"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Save Options"
#~ msgstr "Opsi Simpan"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Switch Application Language"
#~ msgstr "Alihkan Bahasa Aplikasi"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Preferences"
#~ msgstr "Setelan"

#~ msgid "KWriteConfig"
#~ msgstr "KWriteConfig"

#~ msgid "Write KConfig entries - for use in shell scripts"
#~ msgstr "Tulis isi KConfig - untuk digunakan di skrip shell"

#~ msgid "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"
#~ msgstr "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"

#~ msgid "Wrote kreadconfig on which this is based"
#~ msgstr "Tulis kreadconfig dimana ini ditempatkan"

#~ msgid "Luís Pedro Coelho"
#~ msgstr "Luís Pedro Coelho"

#~ msgid "Bernhard Rosenkraenzer"
#~ msgstr "Bernhard Rosenkraenzer"
