# Indonesian translations for kwriteconfig package.
# Copyright (C) 2010 This_file_is_part_of_KDE
# This file is distributed under the same license as the kwriteconfig package.
# Gian Giovani <wejick@gmail.com>, 2010.
# Andhika Padmawan <andhika.padmawan@gmail.com>, 2014.
# Wantoyo <wantoyek@gmail.com>, 2017, 2018, 2019, 2020, 2021, 2022.
# Aziz Adam Adrian <4.adam.adrian@gmail.com>, 2022.
#
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2022-08-19 20:36+0700\n"
"Last-Translator: Wantoyèk <wantoyek@gmail.com>\n"
"Language-Team: https://t.me/Localizations_KDE_Indonesia\n"
"Language: id\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n != 1);\n"
"X-Generator: Lokalize 21.12.3\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:965
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Silakan kontak pengurus sistem anda."

#: core/kconfigini.cpp:572
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "File konfigurasi \"%1\" tidak dapat ditulis.\n"

#: core/kemailsettings.cpp:237 core/kemailsettings.cpp:240
#: core/kemailsettings.cpp:248
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Baku"

#: gui/kstandardshortcut.cpp:70
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Buka"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Baru"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Tutup"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Simpan"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Cetak"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Berhenti"

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Urung"

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Ulang"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Potong"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Salin"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Tempel"

#: gui/kstandardshortcut.cpp:87
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Seleksi Tempel"

#: gui/kstandardshortcut.cpp:94
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Pilih Semua"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Tak Pilih"

#: gui/kstandardshortcut.cpp:98
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Hapus Kata Mundur"

#: gui/kstandardshortcut.cpp:106
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Hapus Kata Maju"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Temukan"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Temukan Selanjutnya"

#: gui/kstandardshortcut.cpp:115
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Temukan Sebelumnya"

#: gui/kstandardshortcut.cpp:116
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Ganti"

#: gui/kstandardshortcut.cpp:121
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Beranda"

#: gui/kstandardshortcut.cpp:129
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Awal"

#: gui/kstandardshortcut.cpp:135
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Akhir"

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Sebelumnya"

#: gui/kstandardshortcut.cpp:139
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Selanjutnya"

#: gui/kstandardshortcut.cpp:146
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Atas"

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Mundur"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Maju"

#: gui/kstandardshortcut.cpp:158
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Muat Ulang"

#: gui/kstandardshortcut.cpp:167
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Awal Baris"

#: gui/kstandardshortcut.cpp:175
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Akhir Baris"

#: gui/kstandardshortcut.cpp:181
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Menuju ke Baris"

#: gui/kstandardshortcut.cpp:184
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Kata Mundur"

#: gui/kstandardshortcut.cpp:192
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Kata Maju"

#: gui/kstandardshortcut.cpp:201
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Tambah Markah"

#: gui/kstandardshortcut.cpp:207
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Zoom Perbesar"

#: gui/kstandardshortcut.cpp:208
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Zoom Perkecil"

#: gui/kstandardshortcut.cpp:211
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Mode Layar Penuh"

#: gui/kstandardshortcut.cpp:218
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Tampilkan Menubar"

#: gui/kstandardshortcut.cpp:221
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Aktifkan Tab Selanjutnya"

#: gui/kstandardshortcut.cpp:229
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Aktifkan Tab Sebelumnya"

#: gui/kstandardshortcut.cpp:237
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Bantuan"

#: gui/kstandardshortcut.cpp:238
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "Apakah Ini"

#: gui/kstandardshortcut.cpp:243
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Penyelesai Teks"

#: gui/kstandardshortcut.cpp:251
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Kecocokan Penyelesai Sebelumnya"

#: gui/kstandardshortcut.cpp:259
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Kecocokan Penyelesai Selanjutnya"

#: gui/kstandardshortcut.cpp:267
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Penyelesai Substring"

#: gui/kstandardshortcut.cpp:276
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Item Sebelumnya di Daftar"

#: gui/kstandardshortcut.cpp:284
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Item Selanjutnya di Daftar"

#: gui/kstandardshortcut.cpp:291
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Buka Baru-baru ini"

#: gui/kstandardshortcut.cpp:292
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Simpan Sebagai"

#: gui/kstandardshortcut.cpp:293
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Kembalikan"

#: gui/kstandardshortcut.cpp:294
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Pratinjau Cetak"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "Surat"

#: gui/kstandardshortcut.cpp:296
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Bersihkan"

#: gui/kstandardshortcut.cpp:297
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr "Zoom ke Ukuran Sebenarnya"

#: gui/kstandardshortcut.cpp:298
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Paskan Ke Halaman"

#: gui/kstandardshortcut.cpp:299
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Paskan Ke Lebar"

#: gui/kstandardshortcut.cpp:300
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Paskan Ke Tinggi"

#: gui/kstandardshortcut.cpp:301
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Zoom "

#: gui/kstandardshortcut.cpp:302
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Ke"

#: gui/kstandardshortcut.cpp:303
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Ke Halaman"

#: gui/kstandardshortcut.cpp:306
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Dokumen Mundur"

#: gui/kstandardshortcut.cpp:314
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Dokumen Maju"

#: gui/kstandardshortcut.cpp:322
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Edit Markah"

#: gui/kstandardshortcut.cpp:328
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Pengejaan"

#: gui/kstandardshortcut.cpp:329
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Tampilkan Bilah Alat"

#: gui/kstandardshortcut.cpp:330
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Tampilkan Bilah Status"

#: gui/kstandardshortcut.cpp:332
msgctxt "KStandardShortcut|@action"
msgid "Save Options"
msgstr "Opsi Simpan"

#: gui/kstandardshortcut.cpp:337
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Pengikat Tuts"

#: gui/kstandardshortcut.cpp:340
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "Konfigurasikan Aplikasi"

#: gui/kstandardshortcut.cpp:348
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Konfigurasikan Bilah Alat"

#: gui/kstandardshortcut.cpp:356
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Konfigurasikan Notifikasi"

#: gui/kstandardshortcut.cpp:362
msgctxt "KStandardShortcut|@action"
msgid "Tip Of Day"
msgstr "Tip Hari Ini"

#: gui/kstandardshortcut.cpp:363
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Laporkan Bug"

#: gui/kstandardshortcut.cpp:366
msgctxt "KStandardShortcut|@action"
msgid "Configure Language..."
msgstr "Konfigurasikan Bahasa..."

#: gui/kstandardshortcut.cpp:372
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "Tentang Aplikasi"

#: gui/kstandardshortcut.cpp:373
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "Tentang KDE"

#: gui/kstandardshortcut.cpp:376
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "Hapus"

#: gui/kstandardshortcut.cpp:377
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "Ubah Nama"

#: gui/kstandardshortcut.cpp:380
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "Pindah ke Tong Sampah"

#: gui/kstandardshortcut.cpp:386
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "Donasi"

#: gui/kstandardshortcut.cpp:389
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr "Tampilkan/Sembunyikan File Yang Tersembunyi"

#: gui/kstandardshortcut.cpp:397
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr "Ciptakan Folder"

#: kconf_update/kconf_update.cpp:959
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "Alat KDE untuk memperbarui file konfigurasi pengguna"

#: kconf_update/kconf_update.cpp:961
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Jaga output dihasilkan dari skrip"

#: kconf_update/kconf_update.cpp:964
msgctxt "main|"
msgid ""
"For unit tests only: use test directories to stay away from the user's real "
"files"
msgstr ""
"Untuk uji unit saja: gunakan direktori uji agar menjauh dari file asli "
"pengguna"

#: kconf_update/kconf_update.cpp:966
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "Cek apakah file konfigurasi itu sendiri memerlukan peningkatan"

#: kconf_update/kconf_update.cpp:969
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "File untuk membaca instruksi pembaruan dari"

#: kconfig_compiler/kconfig_compiler.cpp:708
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Direktori untuk membuat file di [.]"

#: kconfig_compiler/kconfig_compiler.cpp:709
msgctxt "main|"
msgid "directory"
msgstr "direktori"

#: kconfig_compiler/kconfig_compiler.cpp:713
msgctxt "main|"
msgid "Display software license."
msgstr "Tampilkan lisensi perangkat lunak."

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Gunakan <file> daripada konfig global"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr ""
"Group untuk dilihat. Pakai \"<default>\" untuk grup root, atau gunakan "
"berulang kali untuk grup berkumpul."

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "Kunci untuk dilihat"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "Nilai baku"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "Tipe variabel"

#: kreadconfig/kreadconfig.cpp:84 kreadconfig/kwriteconfig.cpp:69
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr "Nama grup tidak boleh kosong, pakai \"<default>\" untuk grup root"

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Tipe dari variabel. Gunakan \"bool\" untuk boolean, yang lain akan "
"diperlakukan seperti string"

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr "Hapus kunci yang dituju jika difungsikan"

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr ""
"Nilai untuk penulisan. Seharusnya, di shell gunakan '' bagi yang kosong"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Switch Application Language"
#~ msgstr "Alihkan Bahasa Aplikasi"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Preferences"
#~ msgstr "Setelan"

#~ msgid "KWriteConfig"
#~ msgstr "KWriteConfig"

#~ msgid "Write KConfig entries - for use in shell scripts"
#~ msgstr "Tulis isi KConfig - untuk digunakan di skrip shell"

#~ msgid "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"
#~ msgstr "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"

#~ msgid "Wrote kreadconfig on which this is based"
#~ msgstr "Tulis kreadconfig dimana ini ditempatkan"

#~ msgid "Luís Pedro Coelho"
#~ msgstr "Luís Pedro Coelho"

#~ msgid "Bernhard Rosenkraenzer"
#~ msgstr "Bernhard Rosenkraenzer"
