# translation of kwriteconfig.po to
# translation of kwriteconfig.po to Turkish
# Copyright (C) 2003, 2008 Free Software Foundation, Inc.
#
# Görkem Çetin <gorkem@kde.org>, 2003.
# Serdar Soytetir <tulliana@gmail.com>, 2008.
# Volkan Gezer <volkangezer@gmail.com>, 2014.
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2014-06-03 20:29+0200\n"
"Last-Translator: Volkan Gezer <volkangezer@gmail.com>\n"
"Language-Team: Turkish <kde-l10n-tr@kde.org>\n"
"Language: tr\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.5\n"
"Plural-Forms: nplurals=2; plural=(n > 1);\n"

#: core/kconfig.cpp:858
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Lütfen sistem yöneticinize başvurun."

#: core/kconfigini.cpp:576
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "Yapılandırma dosyası \"%1\" yazılabilir değil.\n"

#: core/kemailsettings.cpp:256 core/kemailsettings.cpp:259
#: core/kemailsettings.cpp:267
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Öntanımlı"

#: kconf_update/kconf_update.cpp:930
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "Kullanıcı yapılandırma dosyalarını güncellemek için KDE Aracı."

#: kconf_update/kconf_update.cpp:932
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Betiklerin çıktılarını sakla"

#: kconf_update/kconf_update.cpp:933
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr ""
"Yapılandırma dosyasının güncelleme gerektirip gerektirmediğini kontrol et"

#: kconfig_compiler/kconfig_compiler.cpp:1536
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Dosyaların yaratılacağı dizin [.]"

#: kconfig_compiler/kconfig_compiler.cpp:1537
msgctxt "main|"
msgid "directory"
msgstr "dizin"

#: kconfig_compiler/kconfig_compiler.cpp:1540
msgctxt "main|"
msgid "Display software license."
msgstr "Yazılım lisansını görüntüle."

#: kreadconfig/kreadconfig.cpp:56 kreadconfig/kwriteconfig.cpp:35
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Genel yapılandırma yerine <file> dosyasını kullan."

#: kreadconfig/kreadconfig.cpp:57 kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Group to look in. Use repeatedly for nested groups."
msgstr "İçine bakılacak grup. İç içe gruplar için tekrar tekrar kullanım."

#: kreadconfig/kreadconfig.cpp:58 kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "Key to look for"
msgstr "Aranacak anahtar"

#: kreadconfig/kreadconfig.cpp:59
msgctxt "main|"
msgid "Default value"
msgstr "Öntanımlı değer"

#: kreadconfig/kreadconfig.cpp:60
msgctxt "main|"
msgid "Type of variable"
msgstr "Değişken türü"

#: kreadconfig/kwriteconfig.cpp:38
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Değişkenin türü. Mantıksal değişkenler için \"bool\" kullanın, aksi halde "
"metin olarak ele alınır"

#: kreadconfig/kwriteconfig.cpp:39
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "Yazdırılacak değer. Zorunlu. Kabukta boş değer için '' belirtin"

#~ msgid "KWriteConfig"
#~ msgstr "KWriteConfig"

#~ msgid "Write KConfig entries - for use in shell scripts"
#~ msgstr "KConfig girdilerini yaz (kabuk programlarında kullanmak için)"

#~ msgid "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"
#~ msgstr "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"

#~ msgid "Wrote kreadconfig on which this is based"
#~ msgstr "Kreadconfig bu temel alınarak yazıldı"

#~ msgid "Luís Pedro Coelho"
#~ msgstr "Luís Pedro Coelho"

#~ msgid "Bernhard Rosenkraenzer"
#~ msgstr "Bernhard Rosenkraenzer"

#~ msgid "Group to look in"
#~ msgstr "Bakılacak grup"
