# translation of kwriteconfig.po to
# translation of kwriteconfig.po to Turkish
# Copyright (C) 2003, 2008 Free Software Foundation, Inc.
#
# Görkem Çetin <gorkem@kde.org>, 2003.
# Serdar Soytetir <tulliana@gmail.com>, 2008.
# Volkan Gezer <volkangezer@gmail.com>, 2014, 2017.
# Kaan Ozdincer <kaanozdincer@gmail.com>, 2014.
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2017-03-14 14:51+0100\n"
"Last-Translator: Volkan Gezer <volkangezer@gmail.com>\n"
"Language-Team: Turkish <kde-l10n-tr@kde.org>\n"
"Language: tr\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n > 1);\n"
"X-Generator: Lokalize 2.0\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:909
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Lütfen sistem yöneticinize başvurun."

#: core/kconfigini.cpp:578
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "Yapılandırma dosyası \"%1\" yazılabilir değil.\n"

#: core/kemailsettings.cpp:256 core/kemailsettings.cpp:259
#: core/kemailsettings.cpp:267
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Öntanımlı"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Aç"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Yeni"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Kapat"

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Kaydet"

#: gui/kstandardshortcut.cpp:77
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Yazdır"

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Çık"

#: gui/kstandardshortcut.cpp:81
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Geri al"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Yeniden yap"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Kes"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Kopyala"

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Yapıştır"

#: gui/kstandardshortcut.cpp:86
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Seçimi Yapıştır"

#: gui/kstandardshortcut.cpp:88
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Tümünü Seç"

#: gui/kstandardshortcut.cpp:89
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Seçimi Kaldır"

#: gui/kstandardshortcut.cpp:90
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Geriye Doğru Kelime Sil"

#: gui/kstandardshortcut.cpp:91
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Sözcüğü İleri Doğru Sil"

#: gui/kstandardshortcut.cpp:93
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Bul"

#: gui/kstandardshortcut.cpp:94
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Sıradakini Bul"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Öncekini Bul"

#: gui/kstandardshortcut.cpp:96
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Değiştir"

#: gui/kstandardshortcut.cpp:99
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Başlangıç"

#: gui/kstandardshortcut.cpp:100
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Başla"

#: gui/kstandardshortcut.cpp:101
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Son"

#: gui/kstandardshortcut.cpp:102
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Önceki"

#: gui/kstandardshortcut.cpp:103
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Sonraki"

#: gui/kstandardshortcut.cpp:105
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Yukarı"

#: gui/kstandardshortcut.cpp:106
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Geri"

#: gui/kstandardshortcut.cpp:107
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "İleri"

#: gui/kstandardshortcut.cpp:108
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Yeniden Yükle"

#: gui/kstandardshortcut.cpp:110
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Satır Başı"

#: gui/kstandardshortcut.cpp:111
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Satır Sonu"

#: gui/kstandardshortcut.cpp:112
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Satıra Git"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Önceki Sözcük"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Sonraki Sözcük"

#: gui/kstandardshortcut.cpp:116
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Yer İmi Ekle"

#: gui/kstandardshortcut.cpp:117
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Yaklaştır"

#: gui/kstandardshortcut.cpp:118
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Uzaklaştır"

#: gui/kstandardshortcut.cpp:119
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Tam Ekran Kipi"

#: gui/kstandardshortcut.cpp:121
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Menü Çubuğunu Göster"

#: gui/kstandardshortcut.cpp:122
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Sonraki Sekmeyi Etkinleştir"

#: gui/kstandardshortcut.cpp:123
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Önceki Sekmeyi Etkinleştir"

#: gui/kstandardshortcut.cpp:126
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Yardım"

#: gui/kstandardshortcut.cpp:127
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "Bu Nedir"

#: gui/kstandardshortcut.cpp:130
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Metin Tamamlama"

#: gui/kstandardshortcut.cpp:131
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Önceki Tamamlama Eşleşmesi"

#: gui/kstandardshortcut.cpp:132
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Sonraki Tamamlama Eşleşmesi"

#: gui/kstandardshortcut.cpp:133
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Alt İfade Tamamlama"

#: gui/kstandardshortcut.cpp:135
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Listedeki Önceki Öge"

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Listedeki Sonraki Öge"

#: gui/kstandardshortcut.cpp:138
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Sonuncuyu Aç"

#: gui/kstandardshortcut.cpp:139
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Farklı Kaydet"

#: gui/kstandardshortcut.cpp:140
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Geriye al"

#: gui/kstandardshortcut.cpp:141
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Yazdırma Önizleme"

#: gui/kstandardshortcut.cpp:142
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "Posta"

#: gui/kstandardshortcut.cpp:143
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Temizle"

#: gui/kstandardshortcut.cpp:144
msgctxt "KStandardShortcut|@action"
msgid "Actual Size"
msgstr "Gerçek Boyut"

#: gui/kstandardshortcut.cpp:145
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Sayfaya Sığdır"

#: gui/kstandardshortcut.cpp:146
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Genişliğe Sığdır"

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Yüksekliğe Sığdır"

#: gui/kstandardshortcut.cpp:148
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Yakınlaştır"

#: gui/kstandardshortcut.cpp:149
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Git"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Sayfaya Git"

#: gui/kstandardshortcut.cpp:151
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Belge Geri"

#: gui/kstandardshortcut.cpp:152
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Belge İleri"

#: gui/kstandardshortcut.cpp:153
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Yer İmlerini Düzenle"

#: gui/kstandardshortcut.cpp:154
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Yazım Denetimi"

#: gui/kstandardshortcut.cpp:155
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Araç Çubuğunu Göster"

#: gui/kstandardshortcut.cpp:156
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Durum Çubuğunu Göster"

#: gui/kstandardshortcut.cpp:157
msgctxt "KStandardShortcut|@action"
msgid "Save Options"
msgstr "Seçenekleri Kaydet"

#: gui/kstandardshortcut.cpp:158
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Anahtar Bağlayıcıları"

#: gui/kstandardshortcut.cpp:159
msgctxt "KStandardShortcut|@action"
msgid "Preferences"
msgstr "Tercihler"

#: gui/kstandardshortcut.cpp:160
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Araç Çubuklarını Yapılandır"

#: gui/kstandardshortcut.cpp:161
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Bildirimleri Yapılandır"

#: gui/kstandardshortcut.cpp:162
msgctxt "KStandardShortcut|@action"
msgid "Tip Of Day"
msgstr "Günün İpucu"

#: gui/kstandardshortcut.cpp:163
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Hata Bildir"

#: gui/kstandardshortcut.cpp:164
msgctxt "KStandardShortcut|@action"
msgid "Switch Application Language"
msgstr "Uygulama Dilini Değiştir"

#: gui/kstandardshortcut.cpp:165
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "Uygulama Hakkında"

#: gui/kstandardshortcut.cpp:166
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "KDE Hakkında"

#: gui/kstandardshortcut.cpp:167
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Delete File"
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "Dosyayı Sil"

#: gui/kstandardshortcut.cpp:168
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Rename File"
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "Dosyayı Adlandır"

#: gui/kstandardshortcut.cpp:169
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "Çöpe Taşı"

#: gui/kstandardshortcut.cpp:170
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "Bağış Yap"

#: kconf_update/kconf_update.cpp:953
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "Kullanıcı yapılandırma dosyalarını güncellemek için KDE Aracı."

#: kconf_update/kconf_update.cpp:955
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Betiklerin çıktılarını sakla"

#: kconf_update/kconf_update.cpp:956
msgctxt "main|"
msgid ""
"For unit tests only: use test directories to stay away from the user's real "
"files"
msgstr ""
"Sadece birim testleri için: test dizinlerini kullanıcının gerçek "
"dosyalarından ayrı tut"

#: kconf_update/kconf_update.cpp:957
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr ""
"Yapılandırma dosyasının güncelleme gerektirip gerektirmediğini kontrol et"

#: kconf_update/kconf_update.cpp:958
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "Güncelleme bilgilerinin okunacağı dosya"

#: kconfig_compiler/kconfig_compiler.cpp:1572
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Dosyaların yaratılacağı dizin [.]"

#: kconfig_compiler/kconfig_compiler.cpp:1573
msgctxt "main|"
msgid "directory"
msgstr "dizin"

#: kconfig_compiler/kconfig_compiler.cpp:1576
msgctxt "main|"
msgid "Display software license."
msgstr "Yazılım lisansını görüntüle."

#: kreadconfig/kreadconfig.cpp:56 kreadconfig/kwriteconfig.cpp:35
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Genel yapılandırma yerine <file> dosyasını kullan."

#: kreadconfig/kreadconfig.cpp:57 kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Group to look in. Use repeatedly for nested groups."
msgstr "İçine bakılacak grup. İç içe gruplar için tekrar tekrar kullanım."

#: kreadconfig/kreadconfig.cpp:58 kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "Key to look for"
msgstr "Aranacak anahtar"

#: kreadconfig/kreadconfig.cpp:59
msgctxt "main|"
msgid "Default value"
msgstr "Öntanımlı değer"

#: kreadconfig/kreadconfig.cpp:60
msgctxt "main|"
msgid "Type of variable"
msgstr "Değişken türü"

#: kreadconfig/kwriteconfig.cpp:38
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Değişkenin türü. Mantıksal değişkenler için \"bool\" kullanın, aksi halde "
"metin olarak ele alınır"

#: kreadconfig/kwriteconfig.cpp:39
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "Yazdırılacak değer. Zorunlu. Kabukta boş değer için '' belirtin"
