include($KDE_DOCS/global/qt-module-defaults.qdocconf)

project = KConfigGui
description = Persistent platform-independent application settings

documentationinheaders = true

headerdirs += .
sourcedirs += .

outputformats = HTML

navigation.landingpage = "KConfig"

depends += \
    kde \
    qtcore \
    qtgui \
    kconfigcore

qhp.projects            = KConfigGui

qhp.KConfigGui.file                = kconfiggui.qhp
qhp.KConfigGui.namespace           = org.kde.kconfiggui.$QT_VERSION_TAG
qhp.KConfigGui.virtualFolder       = kconfiggui
qhp.KConfigGui.indexTitle          = KConfig Gui
qhp.KConfigGui.indexRoot           =

qhp.KConfigGui.subprojects         = classes
qhp.KConfigGui.subprojects.classes.title = C++ Classes
qhp.KConfigGui.subprojects.classes.indexTitle = KConfig Gui C++ Classes
qhp.KConfigGui.subprojects.classes.selectors = class fake:headerfile
qhp.KConfigGui.subprojects.classes.sortPages = true

tagfile = kconfiggui.tags
