# translation of kwriteconfig.po to Telugu
# Copyright (C) YEAR This_file_is_part_of_KDE
# This file is distributed under the same license as the PACKAGE package.
#
# Krishna Babu K <kkrothap@redhat.com>, 2009.
# Sripath Roy Koganti <sripathroy@swecha.net>, 2019.
# B.Poojitha <bondalakuntapoojitha99@gmail.com>, 2019.
#
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2019-03-01 22:44+0530\n"
"Last-Translator: B.Poojitha <bondalakuntapoojitha99@gmail.com>\n"
"Language-Team: Telugu <reachus@swecha.net>\n"
"Language: te\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Gtranslator 2.91.7\n"
"Plural-Forms: nplurals=2; plural=(n != 1)\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:936
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "దయచేసి మీ సిస్టమ్ నిర్వాహకుడిని సంప్రదించండి."

#: core/kconfigini.cpp:568
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "ఆకృతీకరణ ఫైలు \"%1\" వ్రాయదగినది కాదు.\n"

#: core/kemailsettings.cpp:128 core/kemailsettings.cpp:131
#: core/kemailsettings.cpp:139
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "అప్రమేయం"

#: gui/kstandardactions.cpp:49
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Back"
msgctxt "go back|"
msgid "&Back"
msgstr "వెనక్కి"

#: gui/kstandardactions.cpp:56
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Forward"
msgctxt "go forward|"
msgid "&Forward"
msgstr "మునుముందుకు"

#: gui/kstandardactions.cpp:63
#, fuzzy
#| msgctxt "KStandardShortcut|@action Go to main page"
#| msgid "Home"
msgctxt "home page|"
msgid "&Home"
msgstr "నివాసం"

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "&New"
msgstr ""

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "Create new document"
msgstr ""

#: gui/kstandardactions_p.h:68
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Open"
msgctxt "KStandardActions|"
msgid "&Open…"
msgstr "తెరువు"

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "Open an existing document"
msgstr ""

#: gui/kstandardactions_p.h:69
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Open Recent"
msgctxt "KStandardActions|"
msgid "Open &Recent"
msgstr "ఇటీవల తెరువు"

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Open a document which was recently opened"
msgstr ""

#: gui/kstandardactions_p.h:70
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Save"
msgctxt "KStandardActions|"
msgid "&Save"
msgstr "సేవ్"

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "Save document"
msgstr ""

#: gui/kstandardactions_p.h:71
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Save As"
msgctxt "KStandardActions|"
msgid "Save &As…"
msgstr "ఇలా సేవ్ చేయండి"

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "Save document under a new name"
msgstr ""

#: gui/kstandardactions_p.h:72
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Revert"
msgctxt "KStandardActions|"
msgid "Re&vert"
msgstr "తిరిగి వెళ్లు"

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Revert unsaved changes made to document"
msgstr ""

#: gui/kstandardactions_p.h:73
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Close"
msgctxt "KStandardActions|"
msgid "&Close"
msgstr "మూత"

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "Close document"
msgstr ""

#: gui/kstandardactions_p.h:74
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Print"
msgctxt "KStandardActions|"
msgid "&Print…"
msgstr "ముద్రణ"

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "Print document"
msgstr ""

#: gui/kstandardactions_p.h:75
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Print Preview"
msgctxt "KStandardActions|"
msgid "Print Previe&w"
msgstr "ముద్రణా పరిదృశ్యం"

#: gui/kstandardactions_p.h:75
msgctxt "KStandardActions|"
msgid "Show a print preview of document"
msgstr ""

#: gui/kstandardactions_p.h:76
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Mail"
msgctxt "KStandardActions|"
msgid "&Mail…"
msgstr "తపాల"

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "Send document by mail"
msgstr ""

#: gui/kstandardactions_p.h:77
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Quit"
msgctxt "KStandardActions|"
msgid "&Quit"
msgstr "త్యజించు"

#: gui/kstandardactions_p.h:77
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "About Application"
msgctxt "KStandardActions|"
msgid "Quit application"
msgstr "అప్లికేషన్ గురించి"

#: gui/kstandardactions_p.h:79
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Undo"
msgctxt "KStandardActions|"
msgid "&Undo"
msgstr "చేసింది రద్దు"

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "Undo last action"
msgstr ""

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Re&do"
msgstr ""

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Redo last undone action"
msgstr ""

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cu&t"
msgstr ""

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cut selection to clipboard"
msgstr ""

#: gui/kstandardactions_p.h:82
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Copy"
msgctxt "KStandardActions|"
msgid "&Copy"
msgstr "నకలు"

#: gui/kstandardactions_p.h:82
msgctxt "KStandardActions|"
msgid "Copy selection to clipboard"
msgstr ""

#: gui/kstandardactions_p.h:83
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Paste"
msgctxt "KStandardActions|"
msgid "&Paste"
msgstr "అతికించు"

#: gui/kstandardactions_p.h:83
msgctxt "KStandardActions|"
msgid "Paste clipboard content"
msgstr ""

#: gui/kstandardactions_p.h:84
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Clear"
msgctxt "KStandardActions|"
msgid "C&lear"
msgstr "మూలం"

#: gui/kstandardactions_p.h:85
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Select All"
msgctxt "KStandardActions|"
msgid "Select &All"
msgstr "అన్ని ఎంచుకోండి"

#: gui/kstandardactions_p.h:86
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Deselect"
msgctxt "KStandardActions|"
msgid "Dese&lect"
msgstr "యెంపికను తీసివేయుము"

#: gui/kstandardactions_p.h:87
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Find"
msgctxt "KStandardActions|"
msgid "&Find…"
msgstr "కనుగొనండి"

#: gui/kstandardactions_p.h:88
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Find Next"
msgctxt "KStandardActions|"
msgid "Find &Next"
msgstr "తదుపరిది కనుగొనండి"

#: gui/kstandardactions_p.h:89
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Find Prev"
msgctxt "KStandardActions|"
msgid "Find Pre&vious"
msgstr "మునుపటి కనుగొను"

#: gui/kstandardactions_p.h:90
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Replace"
msgctxt "KStandardActions|"
msgid "&Replace…"
msgstr "పునఃస్థాపించుము"

#: gui/kstandardactions_p.h:92
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Actual Size"
msgctxt "KStandardActions|"
msgid "Zoom to &Actual Size"
msgstr "అసలైన కొలత"

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "View document at its actual size"
msgstr ""

#: gui/kstandardactions_p.h:93
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Page"
msgctxt "KStandardActions|"
msgid "&Fit to Page"
msgstr "పేజీకి సరిపడు"

#: gui/kstandardactions_p.h:93
msgctxt "KStandardActions|"
msgid "Zoom to fit page in window"
msgstr ""

#: gui/kstandardactions_p.h:94
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Width"
msgctxt "KStandardActions|"
msgid "Fit to Page &Width"
msgstr "వెడల్పు సరిపరుచు "

#: gui/kstandardactions_p.h:94
msgctxt "KStandardActions|"
msgid "Zoom to fit page width in window"
msgstr ""

#: gui/kstandardactions_p.h:95
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Height"
msgctxt "KStandardActions|"
msgid "Fit to Page &Height"
msgstr "పొడవు సరిపరచు  "

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "Zoom to fit page height in window"
msgstr ""

#: gui/kstandardactions_p.h:96
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom In"
msgctxt "KStandardActions|"
msgid "Zoom &In"
msgstr "పెద్దదిగా చూపు"

#: gui/kstandardactions_p.h:97
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom Out"
msgctxt "KStandardActions|"
msgid "Zoom &Out"
msgstr "చిన్నగా చేయుము "

#: gui/kstandardactions_p.h:98
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom"
msgctxt "KStandardActions|"
msgid "&Zoom…"
msgstr "జూమ్"

#: gui/kstandardactions_p.h:98
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Select All"
msgctxt "KStandardActions|"
msgid "Select zoom level"
msgstr "అన్ని ఎంచుకోండి"

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "&Refresh"
msgstr ""

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "Refresh document"
msgstr ""

#: gui/kstandardactions_p.h:101
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Up"
msgctxt "KStandardActions|"
msgid "&Up"
msgstr "పైన "

#: gui/kstandardactions_p.h:101
msgctxt "KStandardActions|"
msgid "Go up"
msgstr ""

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "&Previous Page"
msgstr ""

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "Go to previous page"
msgstr ""

#: gui/kstandardactions_p.h:107
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Goto Page"
msgctxt "KStandardActions|"
msgid "&Next Page"
msgstr "పేజీకి వేళ్ళు "

#: gui/kstandardactions_p.h:107
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Go to Line"
msgctxt "KStandardActions|"
msgid "Go to next page"
msgstr "వరుస వెళ్లండి"

#: gui/kstandardactions_p.h:108
msgctxt "KStandardActions|"
msgid "&Go To…"
msgstr ""

#: gui/kstandardactions_p.h:109
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Goto Page"
msgctxt "KStandardActions|"
msgid "&Go to Page…"
msgstr "పేజీకి వేళ్ళు "

#: gui/kstandardactions_p.h:110
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Go to Line"
msgctxt "KStandardActions|"
msgid "&Go to Line…"
msgstr "వరుస వెళ్లండి"

#: gui/kstandardactions_p.h:111
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Page"
msgctxt "KStandardActions|"
msgid "&First Page"
msgstr "పేజీకి సరిపడు"

#: gui/kstandardactions_p.h:111
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Go to Line"
msgctxt "KStandardActions|"
msgid "Go to first page"
msgstr "వరుస వెళ్లండి"

#: gui/kstandardactions_p.h:112
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Goto Page"
msgctxt "KStandardActions|"
msgid "&Last Page"
msgstr "పేజీకి వేళ్ళు "

#: gui/kstandardactions_p.h:112
msgctxt "KStandardActions|"
msgid "Go to last page"
msgstr ""

#: gui/kstandardactions_p.h:113
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Back"
msgctxt "KStandardActions|"
msgid "&Back"
msgstr "వెనక్కి"

#: gui/kstandardactions_p.h:113
msgctxt "KStandardActions|"
msgid "Go back in document"
msgstr ""

#: gui/kstandardactions_p.h:114
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Forward"
msgctxt "KStandardActions|"
msgid "&Forward"
msgstr "మునుముందుకు"

#: gui/kstandardactions_p.h:114
msgctxt "KStandardActions|"
msgid "Go forward in document"
msgstr ""

#: gui/kstandardactions_p.h:116
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Add Bookmark"
msgctxt "KStandardActions|"
msgid "&Add Bookmark"
msgstr "బుక్మార్క్ జోడించు"

#: gui/kstandardactions_p.h:117
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Edit Bookmarks"
msgctxt "KStandardActions|"
msgid "&Edit Bookmarks…"
msgstr "బుక్మార్క్లను సవరించండి"

#: gui/kstandardactions_p.h:119
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Spelling"
msgctxt "KStandardActions|"
msgid "&Spelling…"
msgstr "అక్షరక్రమం"

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "Check spelling in document"
msgstr ""

#: gui/kstandardactions_p.h:121
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Menu Bar"
msgctxt "KStandardActions|"
msgid "Show &Menubar"
msgstr "జాబితా బార్ను చూపు"

#: gui/kstandardactions_p.h:121
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Menu Bar"
msgctxt "KStandardActions|"
msgid "Show or hide menubar"
msgstr "జాబితా బార్ను చూపు"

#: gui/kstandardactions_p.h:122
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Toolbar"
msgctxt "KStandardActions|"
msgid "Show &Toolbar"
msgstr "ఉపకరణపట్టీని చూపు"

#: gui/kstandardactions_p.h:122
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Toolbar"
msgctxt "KStandardActions|"
msgid "Show or hide toolbar"
msgstr "ఉపకరణపట్టీని చూపు"

#: gui/kstandardactions_p.h:123
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Statusbar"
msgctxt "KStandardActions|"
msgid "Show St&atusbar"
msgstr "స్థితి బార్ చూపించు"

#: gui/kstandardactions_p.h:123
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Statusbar"
msgctxt "KStandardActions|"
msgid "Show or hide statusbar"
msgstr "స్థితి బార్ చూపించు"

#: gui/kstandardactions_p.h:124
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Full Screen Mode"
msgctxt "KStandardActions|"
msgid "F&ull Screen Mode"
msgstr "పూర్తి స్క్రీన్ విధం"

#: gui/kstandardactions_p.h:125
msgctxt "KStandardActions|"
msgid "Configure Keyboard S&hortcuts…"
msgstr ""

#: gui/kstandardactions_p.h:126
#, qt-format
msgctxt "KStandardActions|"
msgid "&Configure %1…"
msgstr ""

#: gui/kstandardactions_p.h:127
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Toolbars"
msgctxt "KStandardActions|"
msgid "Configure Tool&bars…"
msgstr "టూల్బార్లు ఆకృతీకరించు"

#: gui/kstandardactions_p.h:128
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Notifications"
msgctxt "KStandardActions|"
msgid "Configure &Notifications…"
msgstr "నోటిఫికేషన్లను ఆకృతీకరించు"

#: gui/kstandardactions_p.h:132
#, qt-format
msgctxt "KStandardActions|"
msgid "%1 &Handbook"
msgstr ""

#: gui/kstandardactions_p.h:133
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "What's This"
msgctxt "KStandardActions|"
msgid "What's &This?"
msgstr "ఇది ఏమిటి"

#: gui/kstandardactions_p.h:134
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Report Bug"
msgctxt "KStandardActions|"
msgid "&Report Bug…"
msgstr "బగ్ను నివేదించు"

#: gui/kstandardactions_p.h:135
msgctxt "KStandardActions|"
msgid "Configure &Language…"
msgstr ""

#: gui/kstandardactions_p.h:136
#, fuzzy, qt-format
#| msgctxt "KStandardShortcut|@action"
#| msgid "About KDE"
msgctxt "KStandardActions|"
msgid "&About %1"
msgstr "KDE గురించి"

#: gui/kstandardactions_p.h:137
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "About KDE"
msgctxt "KStandardActions|"
msgid "About &KDE"
msgstr "KDE గురించి"

#: gui/kstandardactions_p.h:138
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Delete"
msgctxt "KStandardActions|"
msgid "&Delete"
msgstr "తొలగించు"

#: gui/kstandardactions_p.h:139
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Rename"
msgctxt "KStandardActions|"
msgid "&Rename…"
msgstr "పేరుమార్చు"

#: gui/kstandardactions_p.h:140
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Move to Trash"
msgctxt "KStandardActions|"
msgid "&Move to Trash"
msgstr "చెత్తలో వేయి"

#: gui/kstandardactions_p.h:141
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Donate"
msgctxt "KStandardActions|"
msgid "&Donate"
msgstr "దానం"

#: gui/kstandardactions_p.h:142
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Open Recent"
msgctxt "KStandardActions|"
msgid "Open &Menu"
msgstr "ఇటీవల తెరువు"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "తెరువు"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "కొత్త"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "మూత"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "సేవ్"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "ముద్రణ"

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "త్యజించు"

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "చేసింది రద్దు"

#: gui/kstandardshortcut.cpp:80
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "మళ్ళీచేయు"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "కోయు"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "నకలు"

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "అతికించు"

#: gui/kstandardshortcut.cpp:88
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "ఎంపికను అతికించండి"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "అన్ని ఎంచుకోండి"

#: gui/kstandardshortcut.cpp:96
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "యెంపికను తీసివేయుము"

#: gui/kstandardshortcut.cpp:99
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "పదం వెనుకకు తొలగించు"

#: gui/kstandardshortcut.cpp:111
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "ముందు పదమును తొలగించుము"

#: gui/kstandardshortcut.cpp:122
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "కనుగొనండి"

#: gui/kstandardshortcut.cpp:123
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "తదుపరిది కనుగొనండి"

#: gui/kstandardshortcut.cpp:124
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "మునుపటి కనుగొను"

#: gui/kstandardshortcut.cpp:125
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "పునఃస్థాపించుము"

#: gui/kstandardshortcut.cpp:130
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "నివాసం"

#: gui/kstandardshortcut.cpp:138
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "ప్రారంభం"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "ముగింపు"

#: gui/kstandardshortcut.cpp:160
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "ముందు"

#: gui/kstandardshortcut.cpp:163
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "తరువాత"

#: gui/kstandardshortcut.cpp:170
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "పైన "

#: gui/kstandardshortcut.cpp:171
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "వెనక్కి"

#: gui/kstandardshortcut.cpp:174
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "మునుముందుకు"

#: gui/kstandardshortcut.cpp:182
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "తిరిగి ప్రారంభించు "

#: gui/kstandardshortcut.cpp:191
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "వరుస మొదలు "

#: gui/kstandardshortcut.cpp:203
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "వరుస ముగింపు"

#: gui/kstandardshortcut.cpp:213
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "వరుస వెళ్లండి"

#: gui/kstandardshortcut.cpp:216
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "వెనుక పదం"

#: gui/kstandardshortcut.cpp:228
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "ముందు పదం  "

#: gui/kstandardshortcut.cpp:241
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "బుక్మార్క్ జోడించు"

#: gui/kstandardshortcut.cpp:247
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "పెద్దదిగా చూపు"

#: gui/kstandardshortcut.cpp:248
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "చిన్నగా చేయుము "

#: gui/kstandardshortcut.cpp:251
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "పూర్తి స్క్రీన్ విధం"

#: gui/kstandardshortcut.cpp:262
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "జాబితా బార్ను చూపు"

#: gui/kstandardshortcut.cpp:265
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "తదుపరి టాబ్ని సక్రియం చేయండి"

#: gui/kstandardshortcut.cpp:273
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "మునుపటి ట్యాబ్ను సక్రియం చేయండి"

#: gui/kstandardshortcut.cpp:281
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "సహాయం"

#: gui/kstandardshortcut.cpp:282
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "ఇది ఏమిటి"

#: gui/kstandardshortcut.cpp:287
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "పాఠం పూర్తి"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "మునుపటి పూర్తి మ్యాచ్"

#: gui/kstandardshortcut.cpp:303
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "తదుపరి పూర్తి మ్యాచ్"

#: gui/kstandardshortcut.cpp:311
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "ఉపశీర్షిక పూర్తి"

#: gui/kstandardshortcut.cpp:320
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "జాబితాలోని మునుపటి అంశం"

#: gui/kstandardshortcut.cpp:328
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "జాబితాలో తదుపరి అంశం"

#: gui/kstandardshortcut.cpp:335
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "ఇటీవల తెరువు"

#: gui/kstandardshortcut.cpp:336
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "ఇలా సేవ్ చేయండి"

#: gui/kstandardshortcut.cpp:337
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "తిరిగి వెళ్లు"

#: gui/kstandardshortcut.cpp:338
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "ముద్రణా పరిదృశ్యం"

#: gui/kstandardshortcut.cpp:339
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "తపాల"

#: gui/kstandardshortcut.cpp:340
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "మూలం"

#: gui/kstandardshortcut.cpp:343
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Actual Size"
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr "అసలైన కొలత"

#: gui/kstandardshortcut.cpp:349
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "పేజీకి సరిపడు"

#: gui/kstandardshortcut.cpp:350
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "వెడల్పు సరిపరుచు "

#: gui/kstandardshortcut.cpp:351
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "పొడవు సరిపరచు  "

#: gui/kstandardshortcut.cpp:352
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "జూమ్"

#: gui/kstandardshortcut.cpp:353
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "వెళ్ళు"

#: gui/kstandardshortcut.cpp:354
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "పేజీకి వేళ్ళు "

#: gui/kstandardshortcut.cpp:357
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "పత్రం వెనుకకు"

#: gui/kstandardshortcut.cpp:365
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "పత్రం ముందు"

#: gui/kstandardshortcut.cpp:373
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "బుక్మార్క్లను సవరించండి"

#: gui/kstandardshortcut.cpp:379
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "అక్షరక్రమం"

#: gui/kstandardshortcut.cpp:380
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "ఉపకరణపట్టీని చూపు"

#: gui/kstandardshortcut.cpp:381
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "స్థితి బార్ చూపించు"

#: gui/kstandardshortcut.cpp:384
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "కీ బైండింగ్స్"

#: gui/kstandardshortcut.cpp:392
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "అప్లికేషన్ను ఆకృతీకరించు"

#: gui/kstandardshortcut.cpp:400
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "టూల్బార్లు ఆకృతీకరించు"

#: gui/kstandardshortcut.cpp:408
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "నోటిఫికేషన్లను ఆకృతీకరించు"

#: gui/kstandardshortcut.cpp:414
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "బగ్ను నివేదించు"

#: gui/kstandardshortcut.cpp:417
msgctxt "KStandardShortcut|@action"
msgid "Configure Language…"
msgstr ""

#: gui/kstandardshortcut.cpp:423
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "అప్లికేషన్ గురించి"

#: gui/kstandardshortcut.cpp:424
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "KDE గురించి"

#: gui/kstandardshortcut.cpp:427
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "తొలగించు"

#: gui/kstandardshortcut.cpp:428
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "పేరుమార్చు"

#: gui/kstandardshortcut.cpp:431
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "చెత్తలో వేయి"

#: gui/kstandardshortcut.cpp:437
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "దానం"

#: gui/kstandardshortcut.cpp:440
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr ""

#: gui/kstandardshortcut.cpp:448
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr ""

#: gui/kstandardshortcut.cpp:456
msgctxt ""
"KStandardShortcut|@action referring to the menu bar or a hamburger menu"
msgid "Open Main Menu"
msgstr ""

#: gui/kstandardshortcut.cpp:464
msgctxt "KStandardShortcut|@action"
msgid "Open Context Menu"
msgstr ""

#: kconf_update/kconf_update.cpp:368
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "యూజర్ ఆకృతీకరణ ఫైళ్ళను నవీకరించుటకు KDE సాధనం"

#: kconf_update/kconf_update.cpp:370
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "స్క్రిప్ట్ల నుండి అవుట్పుట్ ఫలితాలను ఉంచండి"

#: kconf_update/kconf_update.cpp:373
msgctxt "main|"
msgid ""
"For unit tests only: do not write the done entries, so that with every re-"
"run, the scripts are executed again"
msgstr ""

#: kconf_update/kconf_update.cpp:375
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "Config file దానికి అప్డేట్ కావాలో లేదో తనిఖీ చేయండి"

#: kconf_update/kconf_update.cpp:378
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "నవీకరణ సూచనలను చదవడానికి ఫైల్ (లు)"

#: kconfig_compiler/kconfig_compiler.cpp:726
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "[.] లో ఫైళ్ళను సృష్టించుటకు మూలవివరం"

#: kconfig_compiler/kconfig_compiler.cpp:727
msgctxt "main|"
msgid "directory"
msgstr "మూలవివరం"

#: kconfig_compiler/kconfig_compiler.cpp:731
msgctxt "main|"
msgid "Display software license."
msgstr "సాఫ్ట్వేర్ లైసెన్స్ను ప్రదర్శించు."

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "ప్రపంచ కాన్ఫిగరేషన్కు బదులుగా <file> ఉపయోగించండి"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
#, fuzzy
#| msgctxt "main|"
#| msgid "Group to look in. Use repeatedly for nested groups."
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr "సమూహ సమూహాల కోసం పదేపదే ఉపయోగించండి."

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "శోధించడానికి కీ"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "డిఫాల్ట్ విలువ"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "వేరియబుల్ రకం"

#: kreadconfig/kreadconfig.cpp:84 kreadconfig/kwriteconfig.cpp:69
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr ""

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"వేరియబుల్ రకం. ఒక బూలియన్ కోసం \"bool\" ఉపయోగించండి, లేకుంటే అది స్ట్రింగ్గా పరిగణించబడుతుంది"

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr ""

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "వ్రాయడానికి విలువ. తప్పనిసరిగా షెల్ ఉపయోగంలో '' ఖాళీగా ఉంచండి"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Tip Of Day"
#~ msgstr "రోజు చిట్కా"

#~ msgctxt "main|"
#~ msgid ""
#~ "For unit tests only: use test directories to stay away from the user's "
#~ "real files"
#~ msgstr ""
#~ "యూనిట్ పరీక్షల కోసం మాత్రమే: టెస్టిమోనియల్ డైరెక్టరీలు యూజర్ రియల్ ఫైల్స్ నుండి దూరంగా ఉండటానికి "
#~ "ఉపయోగించుకోండి"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Save Options"
#~ msgstr "ఎంపికలను సేవ్ చేయు "

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Switch Application Language"
#~ msgstr "అప్లికేషన్ భాషని మార్చండి"
