# translation of kwriteconfig.po to British English
# Copyright (C) 2003, 2008 Free Software Foundation, Inc.
#
# Malcolm Hunter <malcolm.hunter@gmx.co.uk>, 2003, 2008.
# Andrew Coles <andrew_coles@yahoo.co.uk>, 2009.
# Steve Allewell <steve.allewell@gmail.com>, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2022.
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2022-07-22 14:31+0100\n"
"Last-Translator: Steve Allewell <steve.allewell@gmail.com>\n"
"Language-Team: British English <kde-l10n-en_gb@kde.org>\n"
"Language: en_GB\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Generator: Lokalize 22.04.3\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:965
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Please contact your system administrator."

#: core/kconfigini.cpp:572
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "Configuration file \"%1\" not writable.\n"

#: core/kemailsettings.cpp:237 core/kemailsettings.cpp:240
#: core/kemailsettings.cpp:248
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Default"

#: gui/kstandardshortcut.cpp:70
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Open"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "New"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Close"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Save"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Print"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Quit"

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Undo"

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Redo"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Cut"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Copy"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Paste"

#: gui/kstandardshortcut.cpp:87
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Paste Selection"

#: gui/kstandardshortcut.cpp:94
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Select All"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Deselect"

#: gui/kstandardshortcut.cpp:98
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Delete Word Backwards"

#: gui/kstandardshortcut.cpp:106
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Delete Word Forward"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Find"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Find Next"

#: gui/kstandardshortcut.cpp:115
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Find Prev"

#: gui/kstandardshortcut.cpp:116
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Replace"

#: gui/kstandardshortcut.cpp:121
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Home"

#: gui/kstandardshortcut.cpp:129
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Begin"

#: gui/kstandardshortcut.cpp:135
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "End"

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Prior"

#: gui/kstandardshortcut.cpp:139
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Next"

#: gui/kstandardshortcut.cpp:146
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Up"

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Back"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Forward"

#: gui/kstandardshortcut.cpp:158
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Reload"

#: gui/kstandardshortcut.cpp:167
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Beginning of Line"

#: gui/kstandardshortcut.cpp:175
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "End of Line"

#: gui/kstandardshortcut.cpp:181
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Go to Line"

#: gui/kstandardshortcut.cpp:184
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Backward Word"

#: gui/kstandardshortcut.cpp:192
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Forward Word"

#: gui/kstandardshortcut.cpp:201
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Add Bookmark"

#: gui/kstandardshortcut.cpp:207
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Zoom In"

#: gui/kstandardshortcut.cpp:208
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Zoom Out"

#: gui/kstandardshortcut.cpp:211
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Full Screen Mode"

#: gui/kstandardshortcut.cpp:218
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Show Menu Bar"

#: gui/kstandardshortcut.cpp:221
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Activate Next Tab"

#: gui/kstandardshortcut.cpp:229
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Activate Previous Tab"

#: gui/kstandardshortcut.cpp:237
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Help"

#: gui/kstandardshortcut.cpp:238
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "What's This"

#: gui/kstandardshortcut.cpp:243
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Text Completion"

#: gui/kstandardshortcut.cpp:251
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Previous Completion Match"

#: gui/kstandardshortcut.cpp:259
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Next Completion Match"

#: gui/kstandardshortcut.cpp:267
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Substring Completion"

#: gui/kstandardshortcut.cpp:276
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Previous Item in List"

#: gui/kstandardshortcut.cpp:284
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Next Item in List"

#: gui/kstandardshortcut.cpp:291
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Open Recent"

#: gui/kstandardshortcut.cpp:292
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Save As"

#: gui/kstandardshortcut.cpp:293
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Revert"

#: gui/kstandardshortcut.cpp:294
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Print Preview"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "Mail"

#: gui/kstandardshortcut.cpp:296
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Clear"

#: gui/kstandardshortcut.cpp:297
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr "Zoom to Actual Size"

#: gui/kstandardshortcut.cpp:298
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Fit To Page"

#: gui/kstandardshortcut.cpp:299
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Fit To Width"

#: gui/kstandardshortcut.cpp:300
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Fit To Height"

#: gui/kstandardshortcut.cpp:301
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Zoom"

#: gui/kstandardshortcut.cpp:302
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Goto"

#: gui/kstandardshortcut.cpp:303
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Goto Page"

#: gui/kstandardshortcut.cpp:306
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Document Back"

#: gui/kstandardshortcut.cpp:314
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Document Forward"

#: gui/kstandardshortcut.cpp:322
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Edit Bookmarks"

#: gui/kstandardshortcut.cpp:328
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Spelling"

#: gui/kstandardshortcut.cpp:329
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Show Toolbar"

#: gui/kstandardshortcut.cpp:330
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Show Statusbar"

#: gui/kstandardshortcut.cpp:332
msgctxt "KStandardShortcut|@action"
msgid "Save Options"
msgstr "Save Options"

#: gui/kstandardshortcut.cpp:337
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Key Bindings"

#: gui/kstandardshortcut.cpp:340
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "Configure Application"

#: gui/kstandardshortcut.cpp:348
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Configure Toolbars"

#: gui/kstandardshortcut.cpp:356
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Configure Notifications"

#: gui/kstandardshortcut.cpp:362
msgctxt "KStandardShortcut|@action"
msgid "Tip Of Day"
msgstr "Tip Of Day"

#: gui/kstandardshortcut.cpp:363
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Report Bug"

#: gui/kstandardshortcut.cpp:366
msgctxt "KStandardShortcut|@action"
msgid "Configure Language..."
msgstr "Configure Language..."

#: gui/kstandardshortcut.cpp:372
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "About Application"

#: gui/kstandardshortcut.cpp:373
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "About KDE"

#: gui/kstandardshortcut.cpp:376
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "Delete"

#: gui/kstandardshortcut.cpp:377
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "Rename"

#: gui/kstandardshortcut.cpp:380
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "Move to Wastebin"

#: gui/kstandardshortcut.cpp:386
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "Donate"

#: gui/kstandardshortcut.cpp:389
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr "Show/Hide Hidden Files"

#: gui/kstandardshortcut.cpp:397
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr "Create Folder"

#: kconf_update/kconf_update.cpp:959
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "KDE Tool for updating user configuration files"

#: kconf_update/kconf_update.cpp:961
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Keep output results from scripts"

#: kconf_update/kconf_update.cpp:964
msgctxt "main|"
msgid ""
"For unit tests only: use test directories to stay away from the user's real "
"files"
msgstr ""
"For unit tests only: use test directories to stay away from the user's real "
"files"

#: kconf_update/kconf_update.cpp:966
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "Check whether config file itself requires updating"

#: kconf_update/kconf_update.cpp:969
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "File(s) to read update instructions from"

#: kconfig_compiler/kconfig_compiler.cpp:708
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Directory to generate files in [.]"

#: kconfig_compiler/kconfig_compiler.cpp:709
msgctxt "main|"
msgid "directory"
msgstr "directory"

#: kconfig_compiler/kconfig_compiler.cpp:713
msgctxt "main|"
msgid "Display software license."
msgstr "Display software licence."

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Use <file> instead of global config"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "Key to look for"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "Default value"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "Type of variable"

#: kreadconfig/kreadconfig.cpp:84 kreadconfig/kwriteconfig.cpp:69
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr "Group name cannot be empty, use \"<default>\" for the root group"

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr "Delete the designated key if enabled"

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "The value to write. Mandatory, on a shell use '' for empty"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Switch Application Language"
#~ msgstr "Switch Application Language"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Preferences"
#~ msgstr "Preferences"

#~ msgid "KWriteConfig"
#~ msgstr "KWriteConfig"

#~ msgid "Write KConfig entries - for use in shell scripts"
#~ msgstr "Write KConfig entries - for use in shell scripts"

#~ msgid "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"
#~ msgstr "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"

#~ msgid "Wrote kreadconfig on which this is based"
#~ msgstr "Wrote kreadconfig on which this is based"

#~ msgid "Luís Pedro Coelho"
#~ msgstr "Luís Pedro Coelho"

#~ msgid "Bernhard Rosenkraenzer"
#~ msgstr "Bernhard Rosenkraenzer"

#~ msgctxt "NAME OF TRANSLATORS"
#~ msgid "Your names"
#~ msgstr "Malcolm Hunter"

#~ msgctxt "EMAIL OF TRANSLATORS"
#~ msgid "Your emails"
#~ msgstr "malcolm.hunter@gmx.co.uk"
