# translation of kwriteconfig.po to Kannada
# Copyright (C) YEAR This_file_is_part_of_KDE
# This file is distributed under the same license as the PACKAGE package.
#
# Shankar Prasad <svenkate@redhat.com>, 2009.
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2009-01-07 16:11+0530\n"
"Last-Translator: Shankar Prasad <svenkate@redhat.com>\n"
"Language-Team: Kannada <en@li.org>\n"
"Language: kn\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: KBabel 1.11.4\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:937
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr ""

#: core/kconfigini.cpp:569
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr ""

#: core/kemailsettings.cpp:235 core/kemailsettings.cpp:238
#: core/kemailsettings.cpp:246
msgctxt "KEMailSettings|"
msgid "Default"
msgstr ""

#: gui/kstandardshortcut.cpp:65
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr ""

#: gui/kstandardshortcut.cpp:66
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr ""

#: gui/kstandardshortcut.cpp:67
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr ""

#: gui/kstandardshortcut.cpp:68
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr ""

#: gui/kstandardshortcut.cpp:69
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr ""

#: gui/kstandardshortcut.cpp:70
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr ""

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr ""

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr ""

#: gui/kstandardshortcut.cpp:77
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr ""

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr ""

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr ""

#: gui/kstandardshortcut.cpp:80
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr ""

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr ""

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr ""

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr ""

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr ""

#: gui/kstandardshortcut.cpp:87
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr ""

#: gui/kstandardshortcut.cpp:88
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr ""

#: gui/kstandardshortcut.cpp:89
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr ""

#: gui/kstandardshortcut.cpp:90
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr ""

#: gui/kstandardshortcut.cpp:93
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr ""

#: gui/kstandardshortcut.cpp:94
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr ""

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr ""

#: gui/kstandardshortcut.cpp:96
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr ""

#: gui/kstandardshortcut.cpp:97
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr ""

#: gui/kstandardshortcut.cpp:99
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr ""

#: gui/kstandardshortcut.cpp:100
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr ""

#: gui/kstandardshortcut.cpp:101
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr ""

#: gui/kstandardshortcut.cpp:102
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr ""

#: gui/kstandardshortcut.cpp:104
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr ""

#: gui/kstandardshortcut.cpp:105
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr ""

#: gui/kstandardshortcut.cpp:106
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr ""

#: gui/kstandardshortcut.cpp:107
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr ""

#: gui/kstandardshortcut.cpp:108
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr ""

#: gui/kstandardshortcut.cpp:110
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr ""

#: gui/kstandardshortcut.cpp:111
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr ""

#: gui/kstandardshortcut.cpp:112
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr ""

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr ""

#: gui/kstandardshortcut.cpp:115
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr ""

#: gui/kstandardshortcut.cpp:116
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr ""

#: gui/kstandardshortcut.cpp:117
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr ""

#: gui/kstandardshortcut.cpp:120
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr ""

#: gui/kstandardshortcut.cpp:121
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr ""

#: gui/kstandardshortcut.cpp:124
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr ""

#: gui/kstandardshortcut.cpp:125
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr ""

#: gui/kstandardshortcut.cpp:126
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr ""

#: gui/kstandardshortcut.cpp:127
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr ""

#: gui/kstandardshortcut.cpp:129
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr ""

#: gui/kstandardshortcut.cpp:130
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr ""

#: gui/kstandardshortcut.cpp:132
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr ""

#: gui/kstandardshortcut.cpp:133
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr ""

#: gui/kstandardshortcut.cpp:134
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr ""

#: gui/kstandardshortcut.cpp:135
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr ""

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr ""

#: gui/kstandardshortcut.cpp:137
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr ""

#: gui/kstandardshortcut.cpp:138
msgctxt "KStandardShortcut|@action"
msgid "Actual Size"
msgstr ""

#: gui/kstandardshortcut.cpp:139
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr ""

#: gui/kstandardshortcut.cpp:140
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr ""

#: gui/kstandardshortcut.cpp:141
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr ""

#: gui/kstandardshortcut.cpp:142
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr ""

#: gui/kstandardshortcut.cpp:143
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr ""

#: gui/kstandardshortcut.cpp:144
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr ""

#: gui/kstandardshortcut.cpp:145
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr ""

#: gui/kstandardshortcut.cpp:146
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr ""

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr ""

#: gui/kstandardshortcut.cpp:148
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr ""

#: gui/kstandardshortcut.cpp:149
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr ""

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr ""

#: gui/kstandardshortcut.cpp:152
msgctxt "KStandardShortcut|@action"
msgid "Save Options"
msgstr ""

#: gui/kstandardshortcut.cpp:157
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr ""

#: gui/kstandardshortcut.cpp:158
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr ""

#: gui/kstandardshortcut.cpp:159
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr ""

#: gui/kstandardshortcut.cpp:160
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr ""

#: gui/kstandardshortcut.cpp:161
msgctxt "KStandardShortcut|@action"
msgid "Tip Of Day"
msgstr ""

#: gui/kstandardshortcut.cpp:162
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr ""

#: gui/kstandardshortcut.cpp:163
msgctxt "KStandardShortcut|@action"
msgid "Configure Language..."
msgstr ""

#: gui/kstandardshortcut.cpp:164
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr ""

#: gui/kstandardshortcut.cpp:165
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr ""

#: gui/kstandardshortcut.cpp:168
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr ""

#: gui/kstandardshortcut.cpp:169
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr ""

#: gui/kstandardshortcut.cpp:170
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr ""

#: gui/kstandardshortcut.cpp:171
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr ""

#: gui/kstandardshortcut.cpp:172
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr ""

#: gui/kstandardshortcut.cpp:173
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr ""

#: kconf_update/kconf_update.cpp:936
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr ""

#: kconf_update/kconf_update.cpp:938
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr ""

#: kconf_update/kconf_update.cpp:939
msgctxt "main|"
msgid ""
"For unit tests only: use test directories to stay away from the user's real "
"files"
msgstr ""

#: kconf_update/kconf_update.cpp:940
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr ""

#: kconf_update/kconf_update.cpp:941
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:715
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:716
msgctxt "main|"
msgid "directory"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:720
msgctxt "main|"
msgid "Display software license."
msgstr ""

#: kreadconfig/kreadconfig.cpp:44 kreadconfig/kwriteconfig.cpp:24
#, fuzzy
#| msgid "Use <file> instead of global config"
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "ಸಾರ್ವತ್ರಿಕ ಸಂರಚನೆಯ ಬದಲು <file> ಅನ್ನು ಉಪಯೋಗಿಸು"

#: kreadconfig/kreadconfig.cpp:45 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Group to look in. Use repeatedly for nested groups."
msgstr ""

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:26
#, fuzzy
#| msgid "Key to look for"
msgctxt "main|"
msgid "Key to look for"
msgstr "ನೋಡಬೇಕಾದ ಪದ"

#: kreadconfig/kreadconfig.cpp:47
msgctxt "main|"
msgid "Default value"
msgstr ""

#: kreadconfig/kreadconfig.cpp:48
msgctxt "main|"
msgid "Type of variable"
msgstr ""

#: kreadconfig/kwriteconfig.cpp:27
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""

#: kreadconfig/kwriteconfig.cpp:28
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr ""

#: kreadconfig/kwriteconfig.cpp:29
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr ""
