# Uyghur translation for kwriteconfig.
# Copyright (C) YEAR This_file_is_part_of_KDE
# This file is distributed under the same license as the PACKAGE package.
# Sahran <sahran.ug@gmail.com>, 2011.
#
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2026-04-01 08:39-0400\n"
"Last-Translator: Abduqadir Abliz <sahranbay@gmail.com>\n"
"Language-Team: Uyghur Computer Science Association <UKIJ@yahoogroups.com>\n"
"Language: ug\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"X-Qt-Contexts: true\n"
"X-Generator: Poedit 3.8\n"

#: core/kconfig.cpp:991
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "سىستېما باشقۇرغۇچىسى بىلەن ئالاقىلىشىڭ."

#: core/kconfigini.cpp:456
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "«%1» سەپلىمە ھۆججەت يېزىشچان ئەمەس.\n"

#: core/kemailsettings.cpp:128 core/kemailsettings.cpp:131
#: core/kemailsettings.cpp:139
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "كۆڭۈلدىكى"

#: gui/kstandardactions.cpp:49
msgctxt "go back|"
msgid "&Back"
msgstr "قايت(&B)"

#: gui/kstandardactions.cpp:56
msgctxt "go forward|"
msgid "&Forward"
msgstr "ئالدىغا(&F)"

#: gui/kstandardactions.cpp:63
msgctxt "home page|"
msgid "&Home"
msgstr "باش قىسقۇچ(&H)"

#: gui/kstandardactions_p.h:64
msgctxt "KStandardActions|"
msgid "&New"
msgstr "يېڭى(&N)"

#: gui/kstandardactions_p.h:64
msgctxt "KStandardActions|"
msgid "Create new document"
msgstr "يېڭى پۈتۈك قۇر"

#: gui/kstandardactions_p.h:65
msgctxt "KStandardActions|"
msgid "&Open…"
msgstr "ئاچ(&O)…"

#: gui/kstandardactions_p.h:65
msgctxt "KStandardActions|"
msgid "Open an existing document"
msgstr "مەۋجۇت پۈتۈكنى ئاچ"

#: gui/kstandardactions_p.h:66
msgctxt "KStandardActions|"
msgid "Open &Recent"
msgstr "يېقىنقىنى ئاچ(&R)"

#: gui/kstandardactions_p.h:66
msgctxt "KStandardActions|"
msgid "Open a document which was recently opened"
msgstr "يېقىندا ئاچقان بىر پۈتۈكنى ئاچىدۇ"

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "&Save"
msgstr "ساقلا(&S)"

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "Save document"
msgstr "پۈتۈك ساقلا"

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "Save &As…"
msgstr "باشقا ئاتتا ساقلا(&A)…"

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "Save document under a new name"
msgstr "پۈتۈكنى يېڭى بىر ئاتتا ساقلايدۇ"

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Re&vert"
msgstr "ئەسلىگە قايتۇر(&V)"

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Revert unsaved changes made to document"
msgstr "ساقلانمىغان ھۆججەتكە ئېلىپ بارغان ئۆزگەرتىشلەرنى ئەسلىگە قايتۇرىدۇ"

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "&Close"
msgstr "ياپ(&C)"

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "Close document"
msgstr "پۈتۈكنى ياپىدۇ"

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "&Print…"
msgstr "باس(&P)…"

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "Print document"
msgstr "پۈتۈكنى باس"

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Print Previe&w"
msgstr "بېسىشنى ئالدىن كۆزەت(&W)"

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Show a print preview of document"
msgstr "پۈتۈكنىڭ ئالدىن كۆزىتىشىنى كۆرسەت"

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "&Mail…"
msgstr "خەت(&M)…"

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "Send document by mail"
msgstr "پۈتۈكنى ئېلخەتتە يوللا"

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "&Quit"
msgstr "چېكىن(&Q)"

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "Quit application"
msgstr "پىروگراممىدىن چېكىنىدۇ"

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "&Undo"
msgstr "يېنىۋال(&U)"

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "Undo last action"
msgstr "ئەڭ ئاخىرقى مەشغۇلاتتىن يېنىۋالىدۇ"

#: gui/kstandardactions_p.h:77
msgctxt "KStandardActions|"
msgid "Re&do"
msgstr "قايتىلا(&D)"

#: gui/kstandardactions_p.h:77
msgctxt "KStandardActions|"
msgid "Redo last undone action"
msgstr "ئاخىرقى يېنىۋالغان مەشغۇلاتنى قايتىلايدۇ"

#: gui/kstandardactions_p.h:78
msgctxt "KStandardActions|"
msgid "Cu&t"
msgstr "كەس(&T)"

#: gui/kstandardactions_p.h:78
msgctxt "KStandardActions|"
msgid "Cut selection to clipboard"
msgstr "تاللىغاننى چاپلاش تاختىسىغا كەس"

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "&Copy"
msgstr "كۆچۈر(&C)"

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "Copy selection to clipboard"
msgstr "تاللىغاننى چاپلاش تاختىسىغا كۆچۈر"

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "&Paste"
msgstr "چاپلا(&P)"

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Paste clipboard content"
msgstr "چاپلاش تاختىسىدىكى مەزمۇننى چاپلا"

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "C&lear"
msgstr "تازىلا(&L)"

#: gui/kstandardactions_p.h:82
msgctxt "KStandardActions|"
msgid "Select &All"
msgstr "ھەممىنى تاللا(&A)"

#: gui/kstandardactions_p.h:83
msgctxt "KStandardActions|"
msgid "Dese&lect"
msgstr "ئەكسىچە تاللا(&L)"

#: gui/kstandardactions_p.h:84
msgctxt "KStandardActions|"
msgid "&Find…"
msgstr "ئىزدە(&F)…"

#: gui/kstandardactions_p.h:85
msgctxt "KStandardActions|"
msgid "Find &Next"
msgstr "كېيىنكىنى ئىزدە(&N)"

#: gui/kstandardactions_p.h:86
msgctxt "KStandardActions|"
msgid "Find Pre&vious"
msgstr "ئالدىنقىنى ئىزدە(&V)"

#: gui/kstandardactions_p.h:87
msgctxt "KStandardActions|"
msgid "&Replace…"
msgstr "ئالماشتۇر(&R)…"

#: gui/kstandardactions_p.h:89
msgctxt "KStandardActions|"
msgid "Zoom to &Actual Size"
msgstr "ئەسلى چوڭلۇقىغا قايتۇر(&A)"

#: gui/kstandardactions_p.h:89
msgctxt "KStandardActions|"
msgid "View document at its actual size"
msgstr "پۈتۈكنى ئەسلى چوڭلۇقىغا كۆرسەت"

#: gui/kstandardactions_p.h:90
msgctxt "KStandardActions|"
msgid "&Fit to Page"
msgstr "بەتكە تولدۇر(&F)"

#: gui/kstandardactions_p.h:90
msgctxt "KStandardActions|"
msgid "Zoom to fit page in window"
msgstr "بەتنى كۆزنەككە ماسلاشتۇر"

#: gui/kstandardactions_p.h:91
msgctxt "KStandardActions|"
msgid "Fit to Page &Width"
msgstr "بەت كەڭلىكىگە تولدۇر(&W)"

#: gui/kstandardactions_p.h:91
msgctxt "KStandardActions|"
msgid "Zoom to fit page width in window"
msgstr "بەت كەڭلىكىنى كۆزنەككە ماسلاشتۇر"

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "Fit to Page &Height"
msgstr "بەت ئېگىزلىكىگە تولدۇر(&H)"

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "Zoom to fit page height in window"
msgstr "بەت ئېگىزلىكىنى كۆزنەككە ماسلاشتۇر"

#: gui/kstandardactions_p.h:93
msgctxt "KStandardActions|"
msgid "Zoom &In"
msgstr "چوڭايت(&I)"

#: gui/kstandardactions_p.h:94
msgctxt "KStandardActions|"
msgid "Zoom &Out"
msgstr "كىچىكلەت(&O)"

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "&Zoom…"
msgstr "نىسبەت(&Z)…"

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "Select zoom level"
msgstr "نىسبەت دەرىجىسى تاللىنىدۇ"

#: gui/kstandardactions_p.h:96
msgctxt "KStandardActions|"
msgid "&Refresh"
msgstr "يېڭىلا(&R)"

#: gui/kstandardactions_p.h:96
msgctxt "KStandardActions|"
msgid "Refresh document"
msgstr "پۈتۈكنى يېڭىلا"

#: gui/kstandardactions_p.h:98
msgctxt "KStandardActions|"
msgid "&Up"
msgstr "يۇقىرىغا (&U)"

#: gui/kstandardactions_p.h:98
msgctxt "KStandardActions|"
msgid "Go up"
msgstr "يۇقىرىغا يۆتكەل"

#: gui/kstandardactions_p.h:103
msgctxt "KStandardActions|"
msgid "&Previous Page"
msgstr "ئالدىنقى بەت(&P)"

#: gui/kstandardactions_p.h:103
msgctxt "KStandardActions|"
msgid "Go to previous page"
msgstr "ئالدىنقى بەتكە يۆتكەل"

#: gui/kstandardactions_p.h:104
msgctxt "KStandardActions|"
msgid "&Next Page"
msgstr "كېيىنكى بەت(&N)"

#: gui/kstandardactions_p.h:104
msgctxt "KStandardActions|"
msgid "Go to next page"
msgstr "كېيىنكى بەتكە يۆتكەل"

#: gui/kstandardactions_p.h:105
msgctxt "KStandardActions|"
msgid "&Go To…"
msgstr "يۆتكەل(&G)…"

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "&Go to Page…"
msgstr "بەتكە يۆتكەل(&G)…"

#: gui/kstandardactions_p.h:107
msgctxt "KStandardActions|"
msgid "&Go to Line…"
msgstr "قۇرغا يۆتكەل(&G)…"

#: gui/kstandardactions_p.h:108
msgctxt "KStandardActions|"
msgid "&First Page"
msgstr "بىرىنچى بەت(&F)"

#: gui/kstandardactions_p.h:108
msgctxt "KStandardActions|"
msgid "Go to first page"
msgstr "بىرىنچى بەتكە يۆتكەل"

#: gui/kstandardactions_p.h:109
msgctxt "KStandardActions|"
msgid "&Last Page"
msgstr "ئاخىرقى بەت(&L)"

#: gui/kstandardactions_p.h:109
msgctxt "KStandardActions|"
msgid "Go to last page"
msgstr "ئاخىرقى بەتكە يۆتكەل"

#: gui/kstandardactions_p.h:110
msgctxt "KStandardActions|"
msgid "&Back"
msgstr "قايت(&B)"

#: gui/kstandardactions_p.h:110
msgctxt "KStandardActions|"
msgid "Go back in document"
msgstr "پۈتۈكتە ئارقىغا يان"

#: gui/kstandardactions_p.h:111
msgctxt "KStandardActions|"
msgid "&Forward"
msgstr "ئالدىغا(&F)"

#: gui/kstandardactions_p.h:111
msgctxt "KStandardActions|"
msgid "Go forward in document"
msgstr "پۈتۈكتە ئالدىغا ئىلگىرىلە"

#: gui/kstandardactions_p.h:113
msgctxt "KStandardActions|"
msgid "&Add Bookmark"
msgstr "خەتكۈش قوش(&A)"

#: gui/kstandardactions_p.h:114
msgctxt "KStandardActions|"
msgid "&Edit Bookmarks…"
msgstr "خەتكۈش تەھرىر(&E)…"

#: gui/kstandardactions_p.h:116
msgctxt "KStandardActions|"
msgid "&Spelling…"
msgstr "ئىملا تەكشۈر(&S)…"

#: gui/kstandardactions_p.h:116
msgctxt "KStandardActions|"
msgid "Check spelling in document"
msgstr "پۈتۈكتە ئىملا تەكشۈر"

#: gui/kstandardactions_p.h:118
msgctxt "KStandardActions|"
msgid "Show &Menubar"
msgstr "تىزىملىك بالدىقىنى كۆرسەت(&M)"

#: gui/kstandardactions_p.h:118
msgctxt "KStandardActions|"
msgid "Show or hide menubar"
msgstr "تىزىملىك بالداقنى كۆرسەت ياكى يوشۇر"

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "Show &Toolbar"
msgstr "قورال بالداق كۆرسەت(&T)"

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "Show or hide toolbar"
msgstr "قورال بالداقنى كۆرسىتىدۇ ياكى يوشۇرىدۇ"

#: gui/kstandardactions_p.h:120
msgctxt "KStandardActions|"
msgid "Show St&atusbar"
msgstr "ھالەت بالدىقىنى كۆرسەت(&A)"

#: gui/kstandardactions_p.h:120
msgctxt "KStandardActions|"
msgid "Show or hide statusbar"
msgstr "ھالەت بالدىقىنى كۆرسىتىدۇ ياكى يوشۇرىدۇ"

#: gui/kstandardactions_p.h:121
msgctxt "KStandardActions|"
msgid "F&ull Screen Mode"
msgstr "پۈتۈن ئېكران ھالىتى(&U)"

#: gui/kstandardactions_p.h:122
msgctxt "KStandardActions|"
msgid "Configure Keyboard S&hortcuts…"
msgstr "ھەرپتاختا تېزلەتمىسىنى سەپلە(&H)…"

#: gui/kstandardactions_p.h:123
#, qt-format
msgctxt "KStandardActions|"
msgid "&Configure %1…"
msgstr "%1 نى سەپلە(&C)…"

#: gui/kstandardactions_p.h:124
msgctxt "KStandardActions|"
msgid "Configure Tool&bars…"
msgstr "قورال بالداق سەپلە(&B)…"

#: gui/kstandardactions_p.h:125
msgctxt "KStandardActions|"
msgid "Configure &Notifications…"
msgstr "ئۇقتۇرۇش سەپلە(&N)…"

#: gui/kstandardactions_p.h:129
#, qt-format
msgctxt "KStandardActions|"
msgid "%1 &Handbook"
msgstr "%1 قوللانما(&H)"

#: gui/kstandardactions_p.h:130
msgctxt "KStandardActions|"
msgid "What's &This?"
msgstr "بۇ نېمە؟(&T)"

#: gui/kstandardactions_p.h:131
msgctxt "KStandardActions|"
msgid "&Report Bug…"
msgstr "كەمتۈك مەلۇم قىل(&R)…"

#: gui/kstandardactions_p.h:132
msgctxt "KStandardActions|"
msgid "Configure &Language…"
msgstr "تىل سەپلە(&L)…"

#: gui/kstandardactions_p.h:133
#, qt-format
msgctxt "KStandardActions|"
msgid "&About %1"
msgstr "%1 ھەققىدە(&A)"

#: gui/kstandardactions_p.h:134
msgctxt "KStandardActions|"
msgid "About &KDE"
msgstr "ك د ئې(&KDE) ھەققىدە"

#: gui/kstandardactions_p.h:135
msgctxt "KStandardActions|"
msgid "&Delete"
msgstr "ئۆچۈر(&D)"

#: gui/kstandardactions_p.h:136
msgctxt "KStandardActions|"
msgid "&Rename…"
msgstr "ئات ئۆزگەرت(&R)…"

#: gui/kstandardactions_p.h:137
msgctxt "KStandardActions|"
msgid "&Move to Trash"
msgstr "ئەخلەتخانىغا يۆتكە(&M)"

#: gui/kstandardactions_p.h:138
msgctxt "KStandardActions|"
msgid "&Donate"
msgstr "ئىئانە(&D)"

#: gui/kstandardactions_p.h:139
msgctxt "KStandardActions|"
msgid "Open &Menu"
msgstr "تىزىملىك ئاچ(&M)"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "ئاچ"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "يېڭى"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "ياپ"

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "ساقلا"

#: gui/kstandardshortcut.cpp:77
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "باس"

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "چىكىن"

#: gui/kstandardshortcut.cpp:81
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "يېنىۋال"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "قايتىلا"

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "كەس"

#: gui/kstandardshortcut.cpp:86
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "كۆچۈر"

#: gui/kstandardshortcut.cpp:87
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "چاپلا"

#: gui/kstandardshortcut.cpp:90
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "تاللانغاننى چاپلا"

#: gui/kstandardshortcut.cpp:97
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "ھەممىنى تاللا"

#: gui/kstandardshortcut.cpp:98
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "ئەكسىچە تاللا"

#: gui/kstandardshortcut.cpp:101
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "كەينىدىكى بىر سۆزنى ئۆچۈر"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "ئالدىدىكى بىر سۆزنى ئۆچۈر"

#: gui/kstandardshortcut.cpp:124
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "ئىزدە"

#: gui/kstandardshortcut.cpp:127
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "كېيىنكىنى ئىزدە"

#: gui/kstandardshortcut.cpp:137
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "ئالدىنقىنى ئىزدە"

#: gui/kstandardshortcut.cpp:138
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "ئالماشتۇر"

#: gui/kstandardshortcut.cpp:143
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "باش بەت"

#: gui/kstandardshortcut.cpp:151
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "باشلا"

#: gui/kstandardshortcut.cpp:163
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "تامام"

#: gui/kstandardshortcut.cpp:173
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "ئالدى"

#: gui/kstandardshortcut.cpp:176
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "كېيىنكى"

#: gui/kstandardshortcut.cpp:183
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "ئۈستى"

#: gui/kstandardshortcut.cpp:186
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "قايت"

#: gui/kstandardshortcut.cpp:198
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "ئالدىغا"

#: gui/kstandardshortcut.cpp:210
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "قايتا يۈكلە"

#: gui/kstandardshortcut.cpp:219
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "قۇرنىڭ بېشى"

#: gui/kstandardshortcut.cpp:231
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "قۇر ئاخىرى"

#: gui/kstandardshortcut.cpp:243
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "قۇرغا يۆتكەل"

#: gui/kstandardshortcut.cpp:255
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "ئالدىدىكى سۆز"

#: gui/kstandardshortcut.cpp:267
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "كەينىدىكى سۆز"

#: gui/kstandardshortcut.cpp:280
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "خەتكۈش قوش"

#: gui/kstandardshortcut.cpp:286
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "چوڭايت"

#: gui/kstandardshortcut.cpp:287
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "كىچىكلىتىش"

#: gui/kstandardshortcut.cpp:290
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "پۈتۈن ئېكران ھالىتى"

#: gui/kstandardshortcut.cpp:301
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "تىزىملىك بالدىقىنى كۆرسەت"

#: gui/kstandardshortcut.cpp:304
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "كېيىنكى بەتكۈچنى ئاكتىپلا"

#: gui/kstandardshortcut.cpp:312
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "ئالدىنقى بەتكۈچنى ئاكتىپلا"

#: gui/kstandardshortcut.cpp:320
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "ياردەم"

#: gui/kstandardshortcut.cpp:321
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "بۇ نېمە"

#: gui/kstandardshortcut.cpp:326
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "تېكىست تاماملاش"

#: gui/kstandardshortcut.cpp:334
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "ئالدىنقى تاماملاشقا ماس كەلگىنى"

#: gui/kstandardshortcut.cpp:346
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "كېيىنكى تاماملاشقا ماس كەلگىنى"

#: gui/kstandardshortcut.cpp:358
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "ھەرپ تىزما تاماملاش"

#: gui/kstandardshortcut.cpp:367
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "تىزىملىكتىكى ئالدىنقى تۈر"

#: gui/kstandardshortcut.cpp:375
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "تىزىملىكتىكى كېيىنكى تۈر"

#: gui/kstandardshortcut.cpp:382
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "يېقىنقىنى ئاچ"

#: gui/kstandardshortcut.cpp:383
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "باشقا ئاتتا ساقلا"

#: gui/kstandardshortcut.cpp:384
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "ئەسلىگە ياندۇر"

#: gui/kstandardshortcut.cpp:385
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "بېسىشنى ئالدىن كۆر"

#: gui/kstandardshortcut.cpp:386
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "خەت"

#: gui/kstandardshortcut.cpp:387
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "تازىلا"

#: gui/kstandardshortcut.cpp:390
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr "ئەسلى چوڭلۇقىغا قايتۇر"

#: gui/kstandardshortcut.cpp:396
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "بەتكە ماسلاشتۇر"

#: gui/kstandardshortcut.cpp:397
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "كەڭلىككە ماسلاشتۇر"

#: gui/kstandardshortcut.cpp:398
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "ئېگىزلىككە ماسلاشتۇر"

#: gui/kstandardshortcut.cpp:399
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "نىسبەت"

#: gui/kstandardshortcut.cpp:400
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "يۆتكەل"

#: gui/kstandardshortcut.cpp:401
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "بەتكە يۆتكەل"

#: gui/kstandardshortcut.cpp:404
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "پۈتۈك ئالدىغا"

#: gui/kstandardshortcut.cpp:412
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "پۈتۈك كەينىگە"

#: gui/kstandardshortcut.cpp:420
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "خەتكۈش تەھرىر"

#: gui/kstandardshortcut.cpp:426
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "ئىملا تەكشۈر"

#: gui/kstandardshortcut.cpp:427
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "قورال بالداقنى كۆرسەت"

#: gui/kstandardshortcut.cpp:428
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "ھالەت بالدىقىنى كۆرسەت"

#: gui/kstandardshortcut.cpp:431
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "كۇنۇپكا باغلىنىشى"

#: gui/kstandardshortcut.cpp:439
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "پىروگرامما سەپلە"

#: gui/kstandardshortcut.cpp:447
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "قورال بالداق سەپلىمە"

#: gui/kstandardshortcut.cpp:455
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "ئۇقتۇرۇش سەپلەش"

#: gui/kstandardshortcut.cpp:461
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "كەمتۈك مەلۇم قىل"

#: gui/kstandardshortcut.cpp:464
msgctxt "KStandardShortcut|@action"
msgid "Configure Language…"
msgstr "تىل سەپلە…"

#: gui/kstandardshortcut.cpp:470
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "پىروگرامما ھەققىدە"

#: gui/kstandardshortcut.cpp:471
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "KDE ھەققىدە"

#: gui/kstandardshortcut.cpp:474
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "ئۆچۈر"

#: gui/kstandardshortcut.cpp:475
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "ئات ئۆزگەرت"

#: gui/kstandardshortcut.cpp:478
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "ئەخلەتخانىغا يۆتكە"

#: gui/kstandardshortcut.cpp:484
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "ئىئانە"

#: gui/kstandardshortcut.cpp:487
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr "يوشۇرۇن ھۆججەتنى كۆرسەت/يوشۇر"

#: gui/kstandardshortcut.cpp:495
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr "قىسقۇچ قۇر"

#: gui/kstandardshortcut.cpp:503
msgctxt ""
"KStandardShortcut|@action referring to the menu bar or a hamburger menu"
msgid "Open Main Menu"
msgstr "ئاساسىي تىزىملىكنى ئاچ"

#: gui/kstandardshortcut.cpp:511
msgctxt "KStandardShortcut|@action"
msgid "Open Context Menu"
msgstr "مەزمۇن تىزىملىكىنى ئاچ"

#: kconf_update/kconf_update.cpp:368
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "ئىشلەتكۈچى سەپلىمە ھۆججىتىنى يېڭىلاشقا ئىشلىتىدىغان KDE قورالى"

#: kconf_update/kconf_update.cpp:370
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "قوليازمىنىڭ چىقىرىش نەتىجىسىنى ساقلاپ قالىدۇ"

#: kconf_update/kconf_update.cpp:373
msgctxt "main|"
msgid ""
"For unit tests only: do not write the done entries, so that with every re-"
"run, the scripts are executed again"
msgstr ""
"بۆلەك سىناش ئۈچۈنلا: تاماملانغان تۈرنى يازماڭ، ھەر قېتىم قايتا ئىجرا "
"قىلغاندا، قوليازما قايتا ئىجرا قىلىنىدۇ"

#: kconf_update/kconf_update.cpp:375
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "سەپلىمە ھۆججەتنىڭ ئۆزىنى يېڭىلاش زۆرۈر ياكى ئەمەسلىكىنى تەكشۈرىدۇ"

#: kconf_update/kconf_update.cpp:378
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "يېڭىلاش بۇيرۇقىنى ئوقۇپ ئەكىرىدىغان ھۆججەت"

#: kconfig_compiler/kconfig_compiler.cpp:732
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "ھۆججەت قۇرىدىغان قىسقۇچ، پىچىمى [.]"

#: kconfig_compiler/kconfig_compiler.cpp:733
msgctxt "main|"
msgid "directory"
msgstr "مۇندەرىجە"

#: kconfig_compiler/kconfig_compiler.cpp:737
msgctxt "main|"
msgid "Display software license."
msgstr "يۇمشاق دېتال ئىجازەتنامىسىنى كۆرسىتىدۇ."

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "ئومۇمىيەت سەپلىمە ئورنىغا <file> نى ئىشلەت"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr ""
"كۆرمەكچى بولغان گۇرۇپپا. غول گۇرۇپپىغا «<default>» يەنى كۆڭۈلدىكىنى "
"ئىشلىتىدۇ، سىڭدۈرمە گۇرۇپپىغا قايتا-قايتا ئىشلىتىلىدۇ."

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "ئىزدەيدىغان ئاچقۇچلۇق سۆز"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "كۆڭۈلدىكى قىممەت"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "ئۆزگەرگۈچىنىڭ تۈرى"

#: kreadconfig/kreadconfig.cpp:55
msgctxt "main|"
msgid "Dump all entries"
msgstr ""

#: kreadconfig/kreadconfig.cpp:58
msgctxt "main|"
msgid ""
"Include globals; by default, the global config files are not read if a file "
"is specified"
msgstr ""

#: kreadconfig/kreadconfig.cpp:89 kreadconfig/kwriteconfig.cpp:71
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr ""
"گۇرۇپپا ئاتى بوش قالمايدۇ، غول گۇرۇپپىغا «<default>» يەنى كۆڭۈلدىكى "
"ئىشلىتىلىدۇ"

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"ئۆزگەرگۈچى تۈرى. «bool» نى بۇلېئان قىممىتى قىلىپ ئىشلىتىدۇ ئۇنداق بولمىسا "
"ھەرپ تىزىقى سۈپىتىدە ئىشلىتىدۇ"

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr "ئەگەر قوزغىتىلسا بەلگىلەن قىممەتنى ئۆچۈرىدۇ"

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "notify|"
msgid "Notify applications of the change"
msgstr "ئۆزگىرىشنى پىروگراممىغا ئۇقتۇرىدۇ"

#: kreadconfig/kwriteconfig.cpp:38
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr ""
"يازىدىغان قىممەت. تولدۇرۇش زۆرۈر، shell دە بوش قىممەتكە '' نى ئىشلىتىدۇ"

#~ msgid "KWriteConfig"
#~ msgstr "KWriteConfig"

#~ msgid "Write KConfig entries - for use in shell scripts"
#~ msgstr "KConfig تۈرلىرىنى يازىدۇ - shell قوليازما ئۈچۈن"

#~ msgid "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"
#~ msgstr "(c) 2001 Red Hat، Inc. & Luís Pedro Coelho"

#~ msgid "Wrote kreadconfig on which this is based"
#~ msgstr "بۇ پروگراممىنىڭ ئاساسىي kreadconfig نى يازغان"

#~ msgid "Luís Pedro Coelho"
#~ msgstr "Luís Pedro Coelho"

#~ msgid "Bernhard Rosenkraenzer"
#~ msgstr "Bernhard Rosenkraenzer"
