msgid ""
msgstr ""
"Project-Id-Version: \n"
"POT-Creation-Date: \n"
"PO-Revision-Date: \n"
"Last-Translator: Temuri Doghonadze <temuri.doghonadze@gmail.com>\n"
"Language-Team: \n"
"Language: ka\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=(n != 1);\n"
"X-Qt-Contexts: true\n"
"X-Generator: Poedit 3.2\n"

#: core/kconfig.cpp:965
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "დაუკავშირდით თქვენს სისტემურ ადმინისტრატორს."

#: core/kconfigini.cpp:572
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "%1: კონფიგურაციის ფაილი ჩაწერადი არაა.\n"

#: core/kemailsettings.cpp:237 core/kemailsettings.cpp:240
#: core/kemailsettings.cpp:248
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "ნაგულისხმები"

#: gui/kstandardshortcut.cpp:70
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "გახსნა"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "ახალი"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "დახურვა"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "შენახვა"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "ამობეჭდვა"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "გამოსვლა"

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "დაბრუნება"

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "ბრძანების აღდგენა"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "ამოჭრა"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "კოპირება"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "ჩასმა"

#: gui/kstandardshortcut.cpp:87
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "მონიშნულის ჩასმა"

#: gui/kstandardshortcut.cpp:94
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "ყველას მონიშვნა"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "მონიშვნის მოხსნა"

#: gui/kstandardshortcut.cpp:98
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "წინა სიტყვის წაშლა"

#: gui/kstandardshortcut.cpp:106
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "შემდეგი სიტყვის წაშლა"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "მოძებნა"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "მომდევნოს მოძებნა"

#: gui/kstandardshortcut.cpp:115
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "წინას პოვნა"

#: gui/kstandardshortcut.cpp:116
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "ჩანაცვლება"

#: gui/kstandardshortcut.cpp:121
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "საწყისი"

#: gui/kstandardshortcut.cpp:129
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "დაწყება"

#: gui/kstandardshortcut.cpp:135
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "დასრულება"

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "პრიორიტეტი"

#: gui/kstandardshortcut.cpp:139
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "შემდეგი"

#: gui/kstandardshortcut.cpp:146
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "მაღლა"

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "უკან"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "წინ"

#: gui/kstandardshortcut.cpp:158
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "თავიდან ჩატვირთვა"

#: gui/kstandardshortcut.cpp:167
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "ხაზის დასაწყისი"

#: gui/kstandardshortcut.cpp:175
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "ხაზის დასასრული"

#: gui/kstandardshortcut.cpp:181
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "ხაზზე გადასვლა"

#: gui/kstandardshortcut.cpp:184
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "წინა სიტყვა"

#: gui/kstandardshortcut.cpp:192
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "შემდეგი სიტყვა"

#: gui/kstandardshortcut.cpp:201
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "სანიშნის დამატება"

#: gui/kstandardshortcut.cpp:207
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "გადიდება"

#: gui/kstandardshortcut.cpp:208
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "გადიდება"

#: gui/kstandardshortcut.cpp:211
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "მთელი ეკრანის რეჟიმი"

#: gui/kstandardshortcut.cpp:218
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "მენიუს ზოლის ჩვენება"

#: gui/kstandardshortcut.cpp:221
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "შემდეგი ჩანართის გააქტიურება"

#: gui/kstandardshortcut.cpp:229
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "წინა ჩანართის გააქტიურება"

#: gui/kstandardshortcut.cpp:237
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "დახმარება"

#: gui/kstandardshortcut.cpp:238
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "რა არის ეს"

#: gui/kstandardshortcut.cpp:243
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "ტექსტის დასრულება"

#: gui/kstandardshortcut.cpp:251
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "წინა დასრულებაზე გადასვლა"

#: gui/kstandardshortcut.cpp:259
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "შემდეგ დასრულებაზე გადასვლა"

#: gui/kstandardshortcut.cpp:267
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "ქვესტრიქონის დასრულება"

#: gui/kstandardshortcut.cpp:276
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "სიის წინა ჩანაწერი"

#: gui/kstandardshortcut.cpp:284
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "სიის შემდეგი ჩანაწერი"

#: gui/kstandardshortcut.cpp:291
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "ბოლოს გახსნილი ფაილების გახსნა"

#: gui/kstandardshortcut.cpp:292
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "შენახვა როგორც"

#: gui/kstandardshortcut.cpp:293
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "დაბრუნება"

#: gui/kstandardshortcut.cpp:294
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "დასაბეჭდის გადახედვა"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "წერილი"

#: gui/kstandardshortcut.cpp:296
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "სუფთა ცა"

#: gui/kstandardshortcut.cpp:297
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr "რეალური ზომამდე გადიდება"

#: gui/kstandardshortcut.cpp:298
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "გვერდში ჩატევა"

#: gui/kstandardshortcut.cpp:299
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "სიგანეში ჩატევა"

#: gui/kstandardshortcut.cpp:300
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "სიმაღლეში ჩატევა"

#: gui/kstandardshortcut.cpp:301
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "გადიდება"

#: gui/kstandardshortcut.cpp:302
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "გადასვლა"

#: gui/kstandardshortcut.cpp:303
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "გვერდზე გადასვლა"

#: gui/kstandardshortcut.cpp:306
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "წინა დოკუმენტი"

#: gui/kstandardshortcut.cpp:314
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "შემდეგი დოკუმენტი"

#: gui/kstandardshortcut.cpp:322
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "სანიშნების ჩასწორება"

#: gui/kstandardshortcut.cpp:328
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "მართლწერა"

#: gui/kstandardshortcut.cpp:329
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "პანელის ჩვენება"

#: gui/kstandardshortcut.cpp:330
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "სტატუსის ზოლის ჩვენება"

#: gui/kstandardshortcut.cpp:332
msgctxt "KStandardShortcut|@action"
msgid "Save Options"
msgstr "პარამეტრების შენახვა"

#: gui/kstandardshortcut.cpp:337
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "კლავიატურის ბმები"

#: gui/kstandardshortcut.cpp:340
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "აპლიკაციის მორგება"

#: gui/kstandardshortcut.cpp:348
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "ხელსაწყოთა ზოლების გამართვა"

#: gui/kstandardshortcut.cpp:356
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "შეტყობინებების მორგება"

#: gui/kstandardshortcut.cpp:362
msgctxt "KStandardShortcut|@action"
msgid "Tip Of Day"
msgstr "დღის მინიშნება"

#: gui/kstandardshortcut.cpp:363
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "შეცდომის ანგარიში"

#: gui/kstandardshortcut.cpp:366
msgctxt "KStandardShortcut|@action"
msgid "Configure Language..."
msgstr "ენის გამართვა..."

#: gui/kstandardshortcut.cpp:372
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "ინფორმაცია ამ აპლიკაციის შესახებ"

#: gui/kstandardshortcut.cpp:373
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "KDE-ს შესახებ"

#: gui/kstandardshortcut.cpp:376
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "წაშლა"

#: gui/kstandardshortcut.cpp:377
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "%1 სურათის სახელის გადარქმევა"

#: gui/kstandardshortcut.cpp:380
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "ფაილის ნაგავში გადატანა"

#: gui/kstandardshortcut.cpp:386
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "შემოწირულობა"

#: gui/kstandardshortcut.cpp:389
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr "დამალული ფაილების ჩვენება/დამალვა"

#: gui/kstandardshortcut.cpp:397
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr "საქაღალდის შექმნა"

#: kconf_update/kconf_update.cpp:959
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "KDE-ის პროგრამა მომხმარებლის კონფიგურაციის ფაილების განახლებისთვის"

#: kconf_update/kconf_update.cpp:961
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "გამოტანილი შედეგების სკრიპტებისგან დამალვა"

#: kconf_update/kconf_update.cpp:964
msgctxt "main|"
msgid ""
"For unit tests only: use test directories to stay away from the user's real "
"files"
msgstr ""
"მხოლოდ ერთეულის ტესტირებისთვის: გამოიყენეთ სატესტო საქაღალდეები, რათა "
"მომხმარებლის რეალურ ფაილებს არ შეეხოთ"

#: kconf_update/kconf_update.cpp:966
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "შემოწმება, კონფიგურაციის ფაილი თვითონ ხომ არ ითხოვს განახლებას"

#: kconf_update/kconf_update.cpp:969
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "განახლების ინსტრუქციების ფაილი"

#: kconfig_compiler/kconfig_compiler.cpp:708
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "ფაილების დასაგენერირებელი საქაღალდე [.]"

#: kconfig_compiler/kconfig_compiler.cpp:709
msgctxt "main|"
msgid "directory"
msgstr "საქაღალდე"

#: kconfig_compiler/kconfig_compiler.cpp:713
msgctxt "main|"
msgid "Display software license."
msgstr "სალიცენზიო შეთანხმების ჩვენება."

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "გლობალური კონფიგურაციის მაგიერ<file> -ის გამოყენება"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr ""
"მოსაძებნი ჯგუფი. გამოიყენეთ\"<default>\" საწყისი ჯგუფისთვის ან გამოიყენეთ "
"გამეორებით, ჩალაგებული ჯგუფებისთვის."

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "მოსაძებნი გასაღები"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "ნაგულისხმები მნიშვნელობა"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "ცვლადის ტიპი"

#: kreadconfig/kreadconfig.cpp:84 kreadconfig/kwriteconfig.cpp:69
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr ""
"ჯგუფის სახელი ცარიელი ვერ იქნება. საწყისი ჯგუფისთვის გამოიყენეთ \"<default>\""

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"ცვლადის ტიპი. გამოიყენეთ \"bool\" ლოგიკური მნიშვნელობისთვის. წინააღმდეგ "
"შემთხვევაში ის სტრიქონად აღიქმება"

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr "გამოყოფილი გასაღების წაშლა, თუ ჩართულია"

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "ჩასაწერი მნიშვნელობა. გარსში, ცარიელისთვის გამოიყენეთ ''"
