# Vietnamese translation for kwriteconfig.
# Copyright © 2006 Free Software Foundation, Inc.
#
# Phan Vĩnh Thịnh <teppi82@gmail.com>, 2006.
# Lê Hoàng Phương <herophuong93@gmail.com>, 2012.
# Phu Hung Nguyen <phu.nguyen@kdemail.net>, 2020, 2021, 2022.
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2022-05-31 10:57+0200\n"
"Last-Translator: Phu Hung Nguyen <phu.nguyen@kdemail.net>\n"
"Language-Team: Vietnamese <kde-l10n-vi@kde.org>\n"
"Language: vi\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 21.12.2\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:940
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Vui lòng liên hệ với quản trị viên hệ thống của bạn."

#: core/kconfigini.cpp:565
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "Tệp cấu hình \"%1\" không ghi được.\n"

#: core/kemailsettings.cpp:128 core/kemailsettings.cpp:131
#: core/kemailsettings.cpp:139
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Mặc định"

#: gui/kstandardactions.cpp:49
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Back"
msgctxt "go back|"
msgid "&Back"
msgstr "Lùi"

#: gui/kstandardactions.cpp:56
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Forward"
msgctxt "go forward|"
msgid "&Forward"
msgstr "Tiến"

#: gui/kstandardactions.cpp:63
#, fuzzy
#| msgctxt "KStandardShortcut|@action Go to main page"
#| msgid "Home"
msgctxt "home page|"
msgid "&Home"
msgstr "Nhà"

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "&New"
msgstr ""

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "Create new document"
msgstr ""

#: gui/kstandardactions_p.h:68
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Open"
msgctxt "KStandardActions|"
msgid "&Open…"
msgstr "Mở"

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "Open an existing document"
msgstr ""

#: gui/kstandardactions_p.h:69
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Open Recent"
msgctxt "KStandardActions|"
msgid "Open &Recent"
msgstr "Mở gần đây"

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Open a document which was recently opened"
msgstr ""

#: gui/kstandardactions_p.h:70
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Save"
msgctxt "KStandardActions|"
msgid "&Save"
msgstr "Lưu"

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "Save document"
msgstr ""

#: gui/kstandardactions_p.h:71
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Save As"
msgctxt "KStandardActions|"
msgid "Save &As…"
msgstr "Lưu thành"

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "Save document under a new name"
msgstr ""

#: gui/kstandardactions_p.h:72
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Revert"
msgctxt "KStandardActions|"
msgid "Re&vert"
msgstr "Hoàn nguyên"

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Revert unsaved changes made to document"
msgstr ""

#: gui/kstandardactions_p.h:73
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Close"
msgctxt "KStandardActions|"
msgid "&Close"
msgstr "Đóng"

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "Close document"
msgstr ""

#: gui/kstandardactions_p.h:74
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Print"
msgctxt "KStandardActions|"
msgid "&Print…"
msgstr "In"

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "Print document"
msgstr ""

#: gui/kstandardactions_p.h:75
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Print Preview"
msgctxt "KStandardActions|"
msgid "Print Previe&w"
msgstr "Xem thử bản in"

#: gui/kstandardactions_p.h:75
msgctxt "KStandardActions|"
msgid "Show a print preview of document"
msgstr ""

#: gui/kstandardactions_p.h:76
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Mail"
msgctxt "KStandardActions|"
msgid "&Mail…"
msgstr "Thư"

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "Send document by mail"
msgstr ""

#: gui/kstandardactions_p.h:77
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Quit"
msgctxt "KStandardActions|"
msgid "&Quit"
msgstr "Thoát"

#: gui/kstandardactions_p.h:77
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "About Application"
msgctxt "KStandardActions|"
msgid "Quit application"
msgstr "Về ứng dụng"

#: gui/kstandardactions_p.h:79
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Undo"
msgctxt "KStandardActions|"
msgid "&Undo"
msgstr "Đảo ngược"

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "Undo last action"
msgstr ""

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Re&do"
msgstr ""

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Redo last undone action"
msgstr ""

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cu&t"
msgstr ""

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cut selection to clipboard"
msgstr ""

#: gui/kstandardactions_p.h:82
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Copy"
msgctxt "KStandardActions|"
msgid "&Copy"
msgstr "Chép"

#: gui/kstandardactions_p.h:82
msgctxt "KStandardActions|"
msgid "Copy selection to clipboard"
msgstr ""

#: gui/kstandardactions_p.h:83
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Paste"
msgctxt "KStandardActions|"
msgid "&Paste"
msgstr "Dán"

#: gui/kstandardactions_p.h:83
msgctxt "KStandardActions|"
msgid "Paste clipboard content"
msgstr ""

#: gui/kstandardactions_p.h:84
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Clear"
msgctxt "KStandardActions|"
msgid "C&lear"
msgstr "Làm trống"

#: gui/kstandardactions_p.h:85
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Select All"
msgctxt "KStandardActions|"
msgid "Select &All"
msgstr "Chọn tất cả"

#: gui/kstandardactions_p.h:86
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Deselect"
msgctxt "KStandardActions|"
msgid "Dese&lect"
msgstr "Bỏ chọn"

#: gui/kstandardactions_p.h:87
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Find"
msgctxt "KStandardActions|"
msgid "&Find…"
msgstr "Tìm"

#: gui/kstandardactions_p.h:88
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Find Next"
msgctxt "KStandardActions|"
msgid "Find &Next"
msgstr "Tìm về sau"

#: gui/kstandardactions_p.h:89
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Find Prev"
msgctxt "KStandardActions|"
msgid "Find Pre&vious"
msgstr "Tìm về trước"

#: gui/kstandardactions_p.h:90
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Replace"
msgctxt "KStandardActions|"
msgid "&Replace…"
msgstr "Thay thế"

#: gui/kstandardactions_p.h:92
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom to Actual Size"
msgctxt "KStandardActions|"
msgid "Zoom to &Actual Size"
msgstr "Thu phóng về kích cỡ thật"

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "View document at its actual size"
msgstr ""

#: gui/kstandardactions_p.h:93
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Page"
msgctxt "KStandardActions|"
msgid "&Fit to Page"
msgstr "Vừa trang"

#: gui/kstandardactions_p.h:93
msgctxt "KStandardActions|"
msgid "Zoom to fit page in window"
msgstr ""

#: gui/kstandardactions_p.h:94
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Width"
msgctxt "KStandardActions|"
msgid "Fit to Page &Width"
msgstr "Vừa bề rộng"

#: gui/kstandardactions_p.h:94
msgctxt "KStandardActions|"
msgid "Zoom to fit page width in window"
msgstr ""

#: gui/kstandardactions_p.h:95
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Height"
msgctxt "KStandardActions|"
msgid "Fit to Page &Height"
msgstr "Vừa bề cao"

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "Zoom to fit page height in window"
msgstr ""

#: gui/kstandardactions_p.h:96
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom In"
msgctxt "KStandardActions|"
msgid "Zoom &In"
msgstr "Phóng to"

#: gui/kstandardactions_p.h:97
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom Out"
msgctxt "KStandardActions|"
msgid "Zoom &Out"
msgstr "Thu nhỏ"

#: gui/kstandardactions_p.h:98
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom"
msgctxt "KStandardActions|"
msgid "&Zoom…"
msgstr "Thu phóng"

#: gui/kstandardactions_p.h:98
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Select All"
msgctxt "KStandardActions|"
msgid "Select zoom level"
msgstr "Chọn tất cả"

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "&Refresh"
msgstr ""

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "Refresh document"
msgstr ""

#: gui/kstandardactions_p.h:101
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Up"
msgctxt "KStandardActions|"
msgid "&Up"
msgstr "Lên"

#: gui/kstandardactions_p.h:101
msgctxt "KStandardActions|"
msgid "Go up"
msgstr ""

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "&Previous Page"
msgstr ""

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "Go to previous page"
msgstr ""

#: gui/kstandardactions_p.h:107
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Goto Page"
msgctxt "KStandardActions|"
msgid "&Next Page"
msgstr "Đi đến trang"

#: gui/kstandardactions_p.h:107
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Go to Line"
msgctxt "KStandardActions|"
msgid "Go to next page"
msgstr "Đi đến dòng"

#: gui/kstandardactions_p.h:108
msgctxt "KStandardActions|"
msgid "&Go To…"
msgstr ""

#: gui/kstandardactions_p.h:109
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Goto Page"
msgctxt "KStandardActions|"
msgid "&Go to Page…"
msgstr "Đi đến trang"

#: gui/kstandardactions_p.h:110
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Go to Line"
msgctxt "KStandardActions|"
msgid "&Go to Line…"
msgstr "Đi đến dòng"

#: gui/kstandardactions_p.h:111
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Page"
msgctxt "KStandardActions|"
msgid "&First Page"
msgstr "Vừa trang"

#: gui/kstandardactions_p.h:111
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Go to Line"
msgctxt "KStandardActions|"
msgid "Go to first page"
msgstr "Đi đến dòng"

#: gui/kstandardactions_p.h:112
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Goto Page"
msgctxt "KStandardActions|"
msgid "&Last Page"
msgstr "Đi đến trang"

#: gui/kstandardactions_p.h:112
msgctxt "KStandardActions|"
msgid "Go to last page"
msgstr ""

#: gui/kstandardactions_p.h:113
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Back"
msgctxt "KStandardActions|"
msgid "&Back"
msgstr "Lùi"

#: gui/kstandardactions_p.h:113
msgctxt "KStandardActions|"
msgid "Go back in document"
msgstr ""

#: gui/kstandardactions_p.h:114
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Forward"
msgctxt "KStandardActions|"
msgid "&Forward"
msgstr "Tiến"

#: gui/kstandardactions_p.h:114
msgctxt "KStandardActions|"
msgid "Go forward in document"
msgstr ""

#: gui/kstandardactions_p.h:116
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Add Bookmark"
msgctxt "KStandardActions|"
msgid "&Add Bookmark"
msgstr "Thêm dấu nhớ"

#: gui/kstandardactions_p.h:117
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Edit Bookmarks"
msgctxt "KStandardActions|"
msgid "&Edit Bookmarks…"
msgstr "Sửa dấu nhớ"

#: gui/kstandardactions_p.h:119
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Spelling"
msgctxt "KStandardActions|"
msgid "&Spelling…"
msgstr "Đánh vần"

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "Check spelling in document"
msgstr ""

#: gui/kstandardactions_p.h:121
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Menu Bar"
msgctxt "KStandardActions|"
msgid "Show &Menubar"
msgstr "Hiện thanh trình đơn"

#: gui/kstandardactions_p.h:121
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Menu Bar"
msgctxt "KStandardActions|"
msgid "Show or hide menubar"
msgstr "Hiện thanh trình đơn"

#: gui/kstandardactions_p.h:122
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Toolbar"
msgctxt "KStandardActions|"
msgid "Show &Toolbar"
msgstr "Hiện thanh công cụ"

#: gui/kstandardactions_p.h:122
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Toolbar"
msgctxt "KStandardActions|"
msgid "Show or hide toolbar"
msgstr "Hiện thanh công cụ"

#: gui/kstandardactions_p.h:123
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Statusbar"
msgctxt "KStandardActions|"
msgid "Show St&atusbar"
msgstr "Hiện thanh trạng thái"

#: gui/kstandardactions_p.h:123
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Statusbar"
msgctxt "KStandardActions|"
msgid "Show or hide statusbar"
msgstr "Hiện thanh trạng thái"

#: gui/kstandardactions_p.h:124
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Full Screen Mode"
msgctxt "KStandardActions|"
msgid "F&ull Screen Mode"
msgstr "Chế độ toàn màn hình"

#: gui/kstandardactions_p.h:125
msgctxt "KStandardActions|"
msgid "Configure Keyboard S&hortcuts…"
msgstr ""

#: gui/kstandardactions_p.h:126
#, fuzzy, qt-format
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Language..."
msgctxt "KStandardActions|"
msgid "&Configure %1…"
msgstr "Cấu hình ngôn ngữ..."

#: gui/kstandardactions_p.h:127
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Toolbars"
msgctxt "KStandardActions|"
msgid "Configure Tool&bars…"
msgstr "Cấu hình thanh công cụ"

#: gui/kstandardactions_p.h:128
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Notifications"
msgctxt "KStandardActions|"
msgid "Configure &Notifications…"
msgstr "Cấu hình thông báo"

#: gui/kstandardactions_p.h:132
#, qt-format
msgctxt "KStandardActions|"
msgid "%1 &Handbook"
msgstr ""

#: gui/kstandardactions_p.h:133
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "What's This"
msgctxt "KStandardActions|"
msgid "What's &This?"
msgstr "Đây là cái gì"

#: gui/kstandardactions_p.h:134
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Report Bug"
msgctxt "KStandardActions|"
msgid "&Report Bug…"
msgstr "Báo lỗi"

#: gui/kstandardactions_p.h:135
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Language..."
msgctxt "KStandardActions|"
msgid "Configure &Language…"
msgstr "Cấu hình ngôn ngữ..."

#: gui/kstandardactions_p.h:136
#, fuzzy, qt-format
#| msgctxt "KStandardShortcut|@action"
#| msgid "About KDE"
msgctxt "KStandardActions|"
msgid "&About %1"
msgstr "Về KDE"

#: gui/kstandardactions_p.h:137
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "About KDE"
msgctxt "KStandardActions|"
msgid "About &KDE"
msgstr "Về KDE"

#: gui/kstandardactions_p.h:138
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Delete"
msgctxt "KStandardActions|"
msgid "&Delete"
msgstr "Xoá"

#: gui/kstandardactions_p.h:139
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Rename"
msgctxt "KStandardActions|"
msgid "&Rename…"
msgstr "Đổi tên"

#: gui/kstandardactions_p.h:140
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Move to Trash"
msgctxt "KStandardActions|"
msgid "&Move to Trash"
msgstr "Chuyển vào thùng rác"

#: gui/kstandardactions_p.h:141
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Donate"
msgctxt "KStandardActions|"
msgid "&Donate"
msgstr "Quyên góp"

#: gui/kstandardactions_p.h:142
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Open Recent"
msgctxt "KStandardActions|"
msgid "Open &Menu"
msgstr "Mở gần đây"

#: gui/kstandardshortcut.cpp:70
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Mở"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Tạo"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Đóng"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Lưu"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "In"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Thoát"

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Đảo ngược"

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Làm lại"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Cắt"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Chép"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Dán"

#: gui/kstandardshortcut.cpp:87
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Dán phần chọn"

#: gui/kstandardshortcut.cpp:94
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Chọn tất cả"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Bỏ chọn"

#: gui/kstandardshortcut.cpp:98
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Xoá từ lùi"

#: gui/kstandardshortcut.cpp:106
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Xoá từ tiến"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Tìm"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Tìm về sau"

#: gui/kstandardshortcut.cpp:115
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Tìm về trước"

#: gui/kstandardshortcut.cpp:116
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Thay thế"

#: gui/kstandardshortcut.cpp:121
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Nhà"

#: gui/kstandardshortcut.cpp:129
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Đầu"

#: gui/kstandardshortcut.cpp:135
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Cuối"

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Trước"

#: gui/kstandardshortcut.cpp:139
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Sau"

#: gui/kstandardshortcut.cpp:146
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Lên"

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Lùi"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Tiến"

#: gui/kstandardshortcut.cpp:158
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Tải lại"

#: gui/kstandardshortcut.cpp:167
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Đầu dòng"

#: gui/kstandardshortcut.cpp:175
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Cuối dòng"

#: gui/kstandardshortcut.cpp:181
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Đi đến dòng"

#: gui/kstandardshortcut.cpp:184
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Lùi từng từ"

#: gui/kstandardshortcut.cpp:192
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Tiến từng từ"

#: gui/kstandardshortcut.cpp:201
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Thêm dấu nhớ"

#: gui/kstandardshortcut.cpp:207
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Phóng to"

#: gui/kstandardshortcut.cpp:208
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Thu nhỏ"

#: gui/kstandardshortcut.cpp:211
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Chế độ toàn màn hình"

#: gui/kstandardshortcut.cpp:218
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Hiện thanh trình đơn"

#: gui/kstandardshortcut.cpp:221
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Kích hoạt thẻ sau"

#: gui/kstandardshortcut.cpp:229
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Kích hoạt thẻ trước"

#: gui/kstandardshortcut.cpp:237
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Trợ giúp"

#: gui/kstandardshortcut.cpp:238
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "Đây là cái gì"

#: gui/kstandardshortcut.cpp:243
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Hoàn tất văn bản"

#: gui/kstandardshortcut.cpp:251
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Phần khớp hoàn tất trước"

#: gui/kstandardshortcut.cpp:259
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Phần khớp hoàn tất sau"

#: gui/kstandardshortcut.cpp:267
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Hoàn tất chuỗi con"

#: gui/kstandardshortcut.cpp:276
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Mục trước trong danh sách"

#: gui/kstandardshortcut.cpp:284
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Mục sau trong danh sách"

#: gui/kstandardshortcut.cpp:291
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Mở gần đây"

#: gui/kstandardshortcut.cpp:292
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Lưu thành"

#: gui/kstandardshortcut.cpp:293
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Hoàn nguyên"

#: gui/kstandardshortcut.cpp:294
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Xem thử bản in"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "Thư"

#: gui/kstandardshortcut.cpp:296
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Làm trống"

#: gui/kstandardshortcut.cpp:299
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr "Thu phóng về kích cỡ thật"

#: gui/kstandardshortcut.cpp:305
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Vừa trang"

#: gui/kstandardshortcut.cpp:306
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Vừa bề rộng"

#: gui/kstandardshortcut.cpp:307
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Vừa bề cao"

#: gui/kstandardshortcut.cpp:308
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Thu phóng"

#: gui/kstandardshortcut.cpp:309
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Đi đến"

#: gui/kstandardshortcut.cpp:310
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Đi đến trang"

#: gui/kstandardshortcut.cpp:313
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Tài liệu trước"

#: gui/kstandardshortcut.cpp:321
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Tài liệu sau"

#: gui/kstandardshortcut.cpp:329
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Sửa dấu nhớ"

#: gui/kstandardshortcut.cpp:335
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Đánh vần"

#: gui/kstandardshortcut.cpp:336
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Hiện thanh công cụ"

#: gui/kstandardshortcut.cpp:337
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Hiện thanh trạng thái"

#: gui/kstandardshortcut.cpp:340
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Kết buộc phím"

#: gui/kstandardshortcut.cpp:348
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "Cấu hình ứng dụng"

#: gui/kstandardshortcut.cpp:356
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Cấu hình thanh công cụ"

#: gui/kstandardshortcut.cpp:364
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Cấu hình thông báo"

#: gui/kstandardshortcut.cpp:370
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Báo lỗi"

#: gui/kstandardshortcut.cpp:373
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Language..."
msgctxt "KStandardShortcut|@action"
msgid "Configure Language…"
msgstr "Cấu hình ngôn ngữ..."

#: gui/kstandardshortcut.cpp:379
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "Về ứng dụng"

#: gui/kstandardshortcut.cpp:380
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "Về KDE"

#: gui/kstandardshortcut.cpp:383
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "Xoá"

#: gui/kstandardshortcut.cpp:384
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "Đổi tên"

#: gui/kstandardshortcut.cpp:387
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "Chuyển vào thùng rác"

#: gui/kstandardshortcut.cpp:393
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "Quyên góp"

#: gui/kstandardshortcut.cpp:396
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr "Hiện/ẩn tệp ẩn"

#: gui/kstandardshortcut.cpp:404
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr "Tạo thư mục"

#: gui/kstandardshortcut.cpp:412
msgctxt ""
"KStandardShortcut|@action referring to the menu bar or a hamburger menu"
msgid "Open Main Menu"
msgstr ""

#: gui/kstandardshortcut.cpp:420
msgctxt "KStandardShortcut|@action"
msgid "Open Context Menu"
msgstr ""

#: kconf_update/kconf_update.cpp:368
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "Công cụ KDE để cập nhật các tệp cấu hình của người dùng"

#: kconf_update/kconf_update.cpp:370
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Giữ lại các kết quả đầu ra từ các kịch bản"

#: kconf_update/kconf_update.cpp:373
msgctxt "main|"
msgid ""
"For unit tests only: do not write the done entries, so that with every re-"
"run, the scripts are executed again"
msgstr ""

#: kconf_update/kconf_update.cpp:375
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "Kiểm tra liệu chính tệp cấu hình có cần cập nhật không"

#: kconf_update/kconf_update.cpp:378
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "(Các) tệp để từ đó đọc ra hướng dẫn cập nhật"

#: kconfig_compiler/kconfig_compiler.cpp:726
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Thư mục để tạo tệp ở trong [.]"

#: kconfig_compiler/kconfig_compiler.cpp:727
msgctxt "main|"
msgid "directory"
msgstr "thư mục"

#: kconfig_compiler/kconfig_compiler.cpp:731
msgctxt "main|"
msgid "Display software license."
msgstr "Hiển thị giấy phép phần mềm."

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Dùng <file> thay cho cấu hình toàn cục"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr ""
"Tìm trong nhóm nào. Dùng \"<default>\" cho nhóm gốc, hoặc dùng lặp lại để "
"được các nhóm lồng nhau."

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "Khoá cần tìm"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "Giá trị mặc định"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "Kiểu biến"

#: kreadconfig/kreadconfig.cpp:84 kreadconfig/kwriteconfig.cpp:69
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr "Tên nhóm không được trống, dùng \"<default>\" cho nhóm gốc"

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Kiểu biến. Dùng \"bool\" cho một biến luận lí, ngược lại nó sẽ được coi là "
"một chuỗi."

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr "Nếu bật, xoá khoá được chỉ định"

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "Giá trị để ghi. Bắt buộc, trên một hệ vỏ dùng '' cho giá trị rỗng"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Tip Of Day"
#~ msgstr "Mẹo của ngày"

#~ msgctxt "main|"
#~ msgid ""
#~ "For unit tests only: use test directories to stay away from the user's "
#~ "real files"
#~ msgstr ""
#~ "Chỉ dành cho kiểm thử đơn vị: dùng các thư mục kiểm thử để không động đến "
#~ "các tệp thực tế của người dùng"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Save Options"
#~ msgstr "Lưu các lựa chọn"
