# Translation of kwriteconfig to Croatian
#
# Andrej Dundović <adundovi@gmail.com>, 2009.
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig 0\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2011-08-02 05:32+0200\n"
"PO-Revision-Date: 2009-07-01 09:19+0200\n"
"Last-Translator: Andrej Dundović <adundovi@gmail.com>\n"
"Language-Team: Croatian <kde-croatia-list@lists.sourceforge.net>\n"
"Language: hr\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=3; plural=(n%10==1 && n%100!=11 ? 0 : n%10>=2 && n"
"%10<=4 && (n%100<10 || n%100>=20) ? 1 : 2);\n"
"X-Generator: Lokalize 0.3\n"
"X-Environment: kde\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: kde4\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:936
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr ""

#: core/kconfigini.cpp:568
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr ""

#: core/kemailsettings.cpp:128 core/kemailsettings.cpp:131
#: core/kemailsettings.cpp:139
msgctxt "KEMailSettings|"
msgid "Default"
msgstr ""

#: gui/kstandardactions.cpp:49
msgctxt "go back|"
msgid "&Back"
msgstr ""

#: gui/kstandardactions.cpp:56
msgctxt "go forward|"
msgid "&Forward"
msgstr ""

#: gui/kstandardactions.cpp:63
msgctxt "home page|"
msgid "&Home"
msgstr ""

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "&New"
msgstr ""

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "Create new document"
msgstr ""

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "&Open…"
msgstr ""

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "Open an existing document"
msgstr ""

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Open &Recent"
msgstr ""

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Open a document which was recently opened"
msgstr ""

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "&Save"
msgstr ""

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "Save document"
msgstr ""

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "Save &As…"
msgstr ""

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "Save document under a new name"
msgstr ""

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Re&vert"
msgstr ""

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Revert unsaved changes made to document"
msgstr ""

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "&Close"
msgstr ""

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "Close document"
msgstr ""

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "&Print…"
msgstr ""

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "Print document"
msgstr ""

#: gui/kstandardactions_p.h:75
msgctxt "KStandardActions|"
msgid "Print Previe&w"
msgstr ""

#: gui/kstandardactions_p.h:75
msgctxt "KStandardActions|"
msgid "Show a print preview of document"
msgstr ""

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "&Mail…"
msgstr ""

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "Send document by mail"
msgstr ""

#: gui/kstandardactions_p.h:77
msgctxt "KStandardActions|"
msgid "&Quit"
msgstr ""

#: gui/kstandardactions_p.h:77
msgctxt "KStandardActions|"
msgid "Quit application"
msgstr ""

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "&Undo"
msgstr ""

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "Undo last action"
msgstr ""

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Re&do"
msgstr ""

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Redo last undone action"
msgstr ""

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cu&t"
msgstr ""

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cut selection to clipboard"
msgstr ""

#: gui/kstandardactions_p.h:82
msgctxt "KStandardActions|"
msgid "&Copy"
msgstr ""

#: gui/kstandardactions_p.h:82
msgctxt "KStandardActions|"
msgid "Copy selection to clipboard"
msgstr ""

#: gui/kstandardactions_p.h:83
msgctxt "KStandardActions|"
msgid "&Paste"
msgstr ""

#: gui/kstandardactions_p.h:83
msgctxt "KStandardActions|"
msgid "Paste clipboard content"
msgstr ""

#: gui/kstandardactions_p.h:84
msgctxt "KStandardActions|"
msgid "C&lear"
msgstr ""

#: gui/kstandardactions_p.h:85
msgctxt "KStandardActions|"
msgid "Select &All"
msgstr ""

#: gui/kstandardactions_p.h:86
msgctxt "KStandardActions|"
msgid "Dese&lect"
msgstr ""

#: gui/kstandardactions_p.h:87
msgctxt "KStandardActions|"
msgid "&Find…"
msgstr ""

#: gui/kstandardactions_p.h:88
msgctxt "KStandardActions|"
msgid "Find &Next"
msgstr ""

#: gui/kstandardactions_p.h:89
msgctxt "KStandardActions|"
msgid "Find Pre&vious"
msgstr ""

#: gui/kstandardactions_p.h:90
msgctxt "KStandardActions|"
msgid "&Replace…"
msgstr ""

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "Zoom to &Actual Size"
msgstr ""

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "View document at its actual size"
msgstr ""

#: gui/kstandardactions_p.h:93
msgctxt "KStandardActions|"
msgid "&Fit to Page"
msgstr ""

#: gui/kstandardactions_p.h:93
msgctxt "KStandardActions|"
msgid "Zoom to fit page in window"
msgstr ""

#: gui/kstandardactions_p.h:94
msgctxt "KStandardActions|"
msgid "Fit to Page &Width"
msgstr ""

#: gui/kstandardactions_p.h:94
msgctxt "KStandardActions|"
msgid "Zoom to fit page width in window"
msgstr ""

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "Fit to Page &Height"
msgstr ""

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "Zoom to fit page height in window"
msgstr ""

#: gui/kstandardactions_p.h:96
msgctxt "KStandardActions|"
msgid "Zoom &In"
msgstr ""

#: gui/kstandardactions_p.h:97
msgctxt "KStandardActions|"
msgid "Zoom &Out"
msgstr ""

#: gui/kstandardactions_p.h:98
msgctxt "KStandardActions|"
msgid "&Zoom…"
msgstr ""

#: gui/kstandardactions_p.h:98
msgctxt "KStandardActions|"
msgid "Select zoom level"
msgstr ""

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "&Refresh"
msgstr ""

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "Refresh document"
msgstr ""

#: gui/kstandardactions_p.h:101
msgctxt "KStandardActions|"
msgid "&Up"
msgstr ""

#: gui/kstandardactions_p.h:101
msgctxt "KStandardActions|"
msgid "Go up"
msgstr ""

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "&Previous Page"
msgstr ""

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "Go to previous page"
msgstr ""

#: gui/kstandardactions_p.h:107
msgctxt "KStandardActions|"
msgid "&Next Page"
msgstr ""

#: gui/kstandardactions_p.h:107
#, fuzzy
#| msgid "Group to look in"
msgctxt "KStandardActions|"
msgid "Go to next page"
msgstr "Tražiti u grupi"

#: gui/kstandardactions_p.h:108
msgctxt "KStandardActions|"
msgid "&Go To…"
msgstr ""

#: gui/kstandardactions_p.h:109
msgctxt "KStandardActions|"
msgid "&Go to Page…"
msgstr ""

#: gui/kstandardactions_p.h:110
#, fuzzy
#| msgid "Group to look in"
msgctxt "KStandardActions|"
msgid "&Go to Line…"
msgstr "Tražiti u grupi"

#: gui/kstandardactions_p.h:111
msgctxt "KStandardActions|"
msgid "&First Page"
msgstr ""

#: gui/kstandardactions_p.h:111
#, fuzzy
#| msgid "Group to look in"
msgctxt "KStandardActions|"
msgid "Go to first page"
msgstr "Tražiti u grupi"

#: gui/kstandardactions_p.h:112
msgctxt "KStandardActions|"
msgid "&Last Page"
msgstr ""

#: gui/kstandardactions_p.h:112
msgctxt "KStandardActions|"
msgid "Go to last page"
msgstr ""

#: gui/kstandardactions_p.h:113
msgctxt "KStandardActions|"
msgid "&Back"
msgstr ""

#: gui/kstandardactions_p.h:113
msgctxt "KStandardActions|"
msgid "Go back in document"
msgstr ""

#: gui/kstandardactions_p.h:114
msgctxt "KStandardActions|"
msgid "&Forward"
msgstr ""

#: gui/kstandardactions_p.h:114
msgctxt "KStandardActions|"
msgid "Go forward in document"
msgstr ""

#: gui/kstandardactions_p.h:116
msgctxt "KStandardActions|"
msgid "&Add Bookmark"
msgstr ""

#: gui/kstandardactions_p.h:117
msgctxt "KStandardActions|"
msgid "&Edit Bookmarks…"
msgstr ""

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "&Spelling…"
msgstr ""

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "Check spelling in document"
msgstr ""

#: gui/kstandardactions_p.h:121
msgctxt "KStandardActions|"
msgid "Show &Menubar"
msgstr ""

#: gui/kstandardactions_p.h:121
msgctxt "KStandardActions|"
msgid "Show or hide menubar"
msgstr ""

#: gui/kstandardactions_p.h:122
msgctxt "KStandardActions|"
msgid "Show &Toolbar"
msgstr ""

#: gui/kstandardactions_p.h:122
msgctxt "KStandardActions|"
msgid "Show or hide toolbar"
msgstr ""

#: gui/kstandardactions_p.h:123
msgctxt "KStandardActions|"
msgid "Show St&atusbar"
msgstr ""

#: gui/kstandardactions_p.h:123
msgctxt "KStandardActions|"
msgid "Show or hide statusbar"
msgstr ""

#: gui/kstandardactions_p.h:124
msgctxt "KStandardActions|"
msgid "F&ull Screen Mode"
msgstr ""

#: gui/kstandardactions_p.h:125
msgctxt "KStandardActions|"
msgid "Configure Keyboard S&hortcuts…"
msgstr ""

#: gui/kstandardactions_p.h:126
#, qt-format
msgctxt "KStandardActions|"
msgid "&Configure %1…"
msgstr ""

#: gui/kstandardactions_p.h:127
msgctxt "KStandardActions|"
msgid "Configure Tool&bars…"
msgstr ""

#: gui/kstandardactions_p.h:128
msgctxt "KStandardActions|"
msgid "Configure &Notifications…"
msgstr ""

#: gui/kstandardactions_p.h:132
#, qt-format
msgctxt "KStandardActions|"
msgid "%1 &Handbook"
msgstr ""

#: gui/kstandardactions_p.h:133
msgctxt "KStandardActions|"
msgid "What's &This?"
msgstr ""

#: gui/kstandardactions_p.h:134
msgctxt "KStandardActions|"
msgid "&Report Bug…"
msgstr ""

#: gui/kstandardactions_p.h:135
msgctxt "KStandardActions|"
msgid "Configure &Language…"
msgstr ""

#: gui/kstandardactions_p.h:136
#, qt-format
msgctxt "KStandardActions|"
msgid "&About %1"
msgstr ""

#: gui/kstandardactions_p.h:137
msgctxt "KStandardActions|"
msgid "About &KDE"
msgstr ""

#: gui/kstandardactions_p.h:138
msgctxt "KStandardActions|"
msgid "&Delete"
msgstr ""

#: gui/kstandardactions_p.h:139
msgctxt "KStandardActions|"
msgid "&Rename…"
msgstr ""

#: gui/kstandardactions_p.h:140
msgctxt "KStandardActions|"
msgid "&Move to Trash"
msgstr ""

#: gui/kstandardactions_p.h:141
msgctxt "KStandardActions|"
msgid "&Donate"
msgstr ""

#: gui/kstandardactions_p.h:142
msgctxt "KStandardActions|"
msgid "Open &Menu"
msgstr ""

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr ""

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr ""

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr ""

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr ""

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr ""

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr ""

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr ""

#: gui/kstandardshortcut.cpp:80
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr ""

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr ""

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr ""

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr ""

#: gui/kstandardshortcut.cpp:88
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr ""

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr ""

#: gui/kstandardshortcut.cpp:96
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr ""

#: gui/kstandardshortcut.cpp:99
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr ""

#: gui/kstandardshortcut.cpp:111
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr ""

#: gui/kstandardshortcut.cpp:122
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr ""

#: gui/kstandardshortcut.cpp:123
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr ""

#: gui/kstandardshortcut.cpp:124
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr ""

#: gui/kstandardshortcut.cpp:125
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr ""

#: gui/kstandardshortcut.cpp:130
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr ""

#: gui/kstandardshortcut.cpp:138
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr ""

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr ""

#: gui/kstandardshortcut.cpp:160
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr ""

#: gui/kstandardshortcut.cpp:163
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr ""

#: gui/kstandardshortcut.cpp:170
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr ""

#: gui/kstandardshortcut.cpp:171
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr ""

#: gui/kstandardshortcut.cpp:174
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr ""

#: gui/kstandardshortcut.cpp:182
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr ""

#: gui/kstandardshortcut.cpp:191
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr ""

#: gui/kstandardshortcut.cpp:203
#, fuzzy
#| msgid "Group to look in"
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Tražiti u grupi"

#: gui/kstandardshortcut.cpp:213
#, fuzzy
#| msgid "Group to look in"
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Tražiti u grupi"

#: gui/kstandardshortcut.cpp:216
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr ""

#: gui/kstandardshortcut.cpp:228
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr ""

#: gui/kstandardshortcut.cpp:241
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr ""

#: gui/kstandardshortcut.cpp:247
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr ""

#: gui/kstandardshortcut.cpp:248
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr ""

#: gui/kstandardshortcut.cpp:251
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr ""

#: gui/kstandardshortcut.cpp:262
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr ""

#: gui/kstandardshortcut.cpp:265
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr ""

#: gui/kstandardshortcut.cpp:273
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr ""

#: gui/kstandardshortcut.cpp:281
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr ""

#: gui/kstandardshortcut.cpp:282
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr ""

#: gui/kstandardshortcut.cpp:287
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr ""

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr ""

#: gui/kstandardshortcut.cpp:303
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr ""

#: gui/kstandardshortcut.cpp:311
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr ""

#: gui/kstandardshortcut.cpp:320
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr ""

#: gui/kstandardshortcut.cpp:328
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr ""

#: gui/kstandardshortcut.cpp:335
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr ""

#: gui/kstandardshortcut.cpp:336
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr ""

#: gui/kstandardshortcut.cpp:337
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr ""

#: gui/kstandardshortcut.cpp:338
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr ""

#: gui/kstandardshortcut.cpp:339
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr ""

#: gui/kstandardshortcut.cpp:340
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr ""

#: gui/kstandardshortcut.cpp:343
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr ""

#: gui/kstandardshortcut.cpp:349
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr ""

#: gui/kstandardshortcut.cpp:350
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr ""

#: gui/kstandardshortcut.cpp:351
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr ""

#: gui/kstandardshortcut.cpp:352
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr ""

#: gui/kstandardshortcut.cpp:353
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr ""

#: gui/kstandardshortcut.cpp:354
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr ""

#: gui/kstandardshortcut.cpp:357
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr ""

#: gui/kstandardshortcut.cpp:365
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr ""

#: gui/kstandardshortcut.cpp:373
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr ""

#: gui/kstandardshortcut.cpp:379
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr ""

#: gui/kstandardshortcut.cpp:380
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr ""

#: gui/kstandardshortcut.cpp:381
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr ""

#: gui/kstandardshortcut.cpp:384
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr ""

#: gui/kstandardshortcut.cpp:392
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr ""

#: gui/kstandardshortcut.cpp:400
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr ""

#: gui/kstandardshortcut.cpp:408
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr ""

#: gui/kstandardshortcut.cpp:414
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr ""

#: gui/kstandardshortcut.cpp:417
msgctxt "KStandardShortcut|@action"
msgid "Configure Language…"
msgstr ""

#: gui/kstandardshortcut.cpp:423
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr ""

#: gui/kstandardshortcut.cpp:424
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr ""

#: gui/kstandardshortcut.cpp:427
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr ""

#: gui/kstandardshortcut.cpp:428
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr ""

#: gui/kstandardshortcut.cpp:431
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr ""

#: gui/kstandardshortcut.cpp:437
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr ""

#: gui/kstandardshortcut.cpp:440
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr ""

#: gui/kstandardshortcut.cpp:448
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr ""

#: gui/kstandardshortcut.cpp:456
msgctxt ""
"KStandardShortcut|@action referring to the menu bar or a hamburger menu"
msgid "Open Main Menu"
msgstr ""

#: gui/kstandardshortcut.cpp:464
msgctxt "KStandardShortcut|@action"
msgid "Open Context Menu"
msgstr ""

#: kconf_update/kconf_update.cpp:368
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr ""

#: kconf_update/kconf_update.cpp:370
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr ""

#: kconf_update/kconf_update.cpp:373
msgctxt "main|"
msgid ""
"For unit tests only: do not write the done entries, so that with every re-"
"run, the scripts are executed again"
msgstr ""

#: kconf_update/kconf_update.cpp:375
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr ""

#: kconf_update/kconf_update.cpp:378
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:726
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:727
msgctxt "main|"
msgid "directory"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:731
msgctxt "main|"
msgid "Display software license."
msgstr ""

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
#, fuzzy
#| msgid "Use <file> instead of global config"
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Umjesto opće konfiguracije upotrijebi <file> "

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
#, fuzzy
#| msgid "Group to look in. Use repeatedly for nested groups."
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr "Grupa u kojoj se traži. Ponavljaj za ugnježdene grupe."

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
#, fuzzy
#| msgid "Key to look for"
msgctxt "main|"
msgid "Key to look for"
msgstr "Ključ za kojim se traga"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr ""

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr ""

#: kreadconfig/kreadconfig.cpp:84 kreadconfig/kwriteconfig.cpp:69
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr ""

#: kreadconfig/kwriteconfig.cpp:34
#, fuzzy
#| msgid ""
#| "Type of variable. Use \"bool\" for a boolean, otherwise it is treated as "
#| "a string"
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Vrsta varijable. Za Boolean unos upotrijebite \"bool\", u suprotnom će se s "
"njima postupati kao sa znakovnim nizovima."

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr ""

#: kreadconfig/kwriteconfig.cpp:37
#, fuzzy
#| msgid "The value to write. Mandatory, on a shell use '' for empty"
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr ""
"Vrijednost koja će biti zapisana. Obavezno u ljusci za prazninu upotrijebite "
"''"

#~ msgid "KWriteConfig"
#~ msgstr "KWriteConfig"

#~ msgid "Write KConfig entries - for use in shell scripts"
#~ msgstr "Zapisuj KConfig unose – za upotrebu u skriptama ljuske"

#~ msgid "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"
#~ msgstr "© 2001 Red Hat, Inc. & Luís Pedro Coelho"

#~ msgid "Luís Pedro Coelho"
#~ msgstr "Luís Pedro Coelho"

#~ msgid "Bernhard Rosenkraenzer"
#~ msgstr "Bernhard Rosenkraenzer"

#~ msgid "Wrote kreadconfig on which this is based"
#~ msgstr "Napisan je kreadconfig na kojem je ovo bazirano"

#~ msgctxt "NAME OF TRANSLATORS"
#~ msgid "Your names"
#~ msgstr "Danko Butorac, Denis Lackovic, Nikola Planinac, Robert Sedak"

#~ msgctxt "EMAIL OF TRANSLATORS"
#~ msgid "Your emails"
#~ msgstr "lokalizacija@linux.hr"
