# Thomas Diehl <thd@kde.org>, 2003.
# Thomas Reitelbach <tr@erdfunkstelle.de>, 2006, 2007, 2008.
# Frederik Schwarzer <schwarzer@kde.org>, 2012, 2014, 2015, 2016, 2020.
# Burkhard Lück <lueck@hube-lueck.de>, 2014, 2015, 2016, 2017, 2018, 2019, 2021.
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2021-05-10 06:42+0200\n"
"Last-Translator: Burkhard Lück <lueck@hube-lueck.de>\n"
"Language-Team: German <kde-i18n-de@kde.org>\n"
"Language: de\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:950
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Bitte nehmen Sie Kontakt zu Ihrer Systemverwaltung auf."

#: core/kconfigini.cpp:562
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "Einrichtungsdatei „%1“ lässt sich nicht speichern.\n"

#: core/kemailsettings.cpp:237 core/kemailsettings.cpp:240
#: core/kemailsettings.cpp:248
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Standard"

#: gui/kstandardshortcut.cpp:68
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Öffnen"

#: gui/kstandardshortcut.cpp:69
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Neu"

#: gui/kstandardshortcut.cpp:70
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Schließen"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Speichern"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Drucken"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Beenden"

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Rückgängig"

#: gui/kstandardshortcut.cpp:77
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Wiederherstellen"

#: gui/kstandardshortcut.cpp:80
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Ausschneiden"

#: gui/kstandardshortcut.cpp:81
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Kopieren"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Einfügen"

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Auswahl einfügen"

#: gui/kstandardshortcut.cpp:92
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Alle auswählen"

#: gui/kstandardshortcut.cpp:93
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Auswahl aufheben"

#: gui/kstandardshortcut.cpp:96
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Vorheriges Wort löschen"

#: gui/kstandardshortcut.cpp:104
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Nächstes Wort löschen"

#: gui/kstandardshortcut.cpp:111
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Suchen"

#: gui/kstandardshortcut.cpp:112
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Weitersuchen"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Vorherige suchen"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Ersetzen"

#: gui/kstandardshortcut.cpp:119
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Pos 1"

#: gui/kstandardshortcut.cpp:127
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Anfang"

#: gui/kstandardshortcut.cpp:133
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Ende"

#: gui/kstandardshortcut.cpp:134
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Vorherige"

#: gui/kstandardshortcut.cpp:137
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Weiter"

#: gui/kstandardshortcut.cpp:144
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Nach oben"

#: gui/kstandardshortcut.cpp:145
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Zurück"

#: gui/kstandardshortcut.cpp:148
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Vorwärts"

#: gui/kstandardshortcut.cpp:156
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Neu laden"

#: gui/kstandardshortcut.cpp:165
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Zeilenanfang"

#: gui/kstandardshortcut.cpp:173
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Zeilenende"

#: gui/kstandardshortcut.cpp:179
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Gehe zu Zeile"

#: gui/kstandardshortcut.cpp:182
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Ein Wort zurück"

#: gui/kstandardshortcut.cpp:190
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Ein Wort vor"

#: gui/kstandardshortcut.cpp:199
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Lesezeichen hinzufügen"

#: gui/kstandardshortcut.cpp:205
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Vergrößern"

#: gui/kstandardshortcut.cpp:206
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Verkleinern"

#: gui/kstandardshortcut.cpp:209
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Vollbildmodus"

#: gui/kstandardshortcut.cpp:216
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Menüleiste anzeigen"

#: gui/kstandardshortcut.cpp:219
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Nächstes Unterfenster aktivieren"

#: gui/kstandardshortcut.cpp:227
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Vorheriges Unterfenster aktivieren"

#: gui/kstandardshortcut.cpp:235
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Hilfe"

#: gui/kstandardshortcut.cpp:236
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "Was ist das"

#: gui/kstandardshortcut.cpp:241
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Textvervollständigung"

#: gui/kstandardshortcut.cpp:249
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Vorherige Vervollständigung"

#: gui/kstandardshortcut.cpp:257
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Nächste Vervollständigung"

#: gui/kstandardshortcut.cpp:265
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Teilzeichenfolgen-Vervollständigung"

#: gui/kstandardshortcut.cpp:274
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Vorheriges Listenelement"

#: gui/kstandardshortcut.cpp:282
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Nächstes Listenelement"

#: gui/kstandardshortcut.cpp:289
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Zuletzt geöffnete Dateien"

#: gui/kstandardshortcut.cpp:290
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Speichern unter"

#: gui/kstandardshortcut.cpp:291
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Zurücksetzen"

#: gui/kstandardshortcut.cpp:292
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Druckvorschau"

#: gui/kstandardshortcut.cpp:293
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "Via E-Mail versenden"

#: gui/kstandardshortcut.cpp:294
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Leeren"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Actual Size"
msgstr "Tatsächliche Größe"

#: gui/kstandardshortcut.cpp:296
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Auf Seite einpassen"

#: gui/kstandardshortcut.cpp:297
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Auf Seitenbreite einpassen"

#: gui/kstandardshortcut.cpp:298
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Auf Seitenhöhe einpassen"

#: gui/kstandardshortcut.cpp:299
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Skalierung"

#: gui/kstandardshortcut.cpp:300
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Gehe zu"

#: gui/kstandardshortcut.cpp:301
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Gehe zu Seite"

#: gui/kstandardshortcut.cpp:304
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Vorheriges Dokument"

#: gui/kstandardshortcut.cpp:312
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Nächstes Dokument"

#: gui/kstandardshortcut.cpp:320
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Lesezeichen bearbeiten"

#: gui/kstandardshortcut.cpp:326
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Rechtschreibung"

#: gui/kstandardshortcut.cpp:327
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Werkzeugleiste anzeigen"

#: gui/kstandardshortcut.cpp:328
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Statusleiste anzeigen"

#: gui/kstandardshortcut.cpp:330
msgctxt "KStandardShortcut|@action"
msgid "Save Options"
msgstr "Optionen speichern"

#: gui/kstandardshortcut.cpp:335
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Kurzbefehle"

#: gui/kstandardshortcut.cpp:338
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "Anwendung einrichten"

#: gui/kstandardshortcut.cpp:346
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Werkzeugleisten einrichten"

#: gui/kstandardshortcut.cpp:354
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Benachrichtigungen festlegen"

#: gui/kstandardshortcut.cpp:360
msgctxt "KStandardShortcut|@action"
msgid "Tip Of Day"
msgstr "Tipp des Tages"

#: gui/kstandardshortcut.cpp:361
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Probleme oder Wünsche berichten"

#: gui/kstandardshortcut.cpp:364
msgctxt "KStandardShortcut|@action"
msgid "Configure Language..."
msgstr "Sprache einrichten ..."

#: gui/kstandardshortcut.cpp:370
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "Über die Anwendung"

#: gui/kstandardshortcut.cpp:371
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "Über KDE"

#: gui/kstandardshortcut.cpp:374
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "Löschen"

#: gui/kstandardshortcut.cpp:375
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "Umbenennen"

#: gui/kstandardshortcut.cpp:378
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "In den Papierkorb verschieben"

#: gui/kstandardshortcut.cpp:384
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "Spenden"

#: gui/kstandardshortcut.cpp:387
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr "Versteckte Dateien anzeigen/ausblenden"

#: gui/kstandardshortcut.cpp:395
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr "Ordner erstellen"

#: kconf_update/kconf_update.cpp:957
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr ""
"KDE-Dienstprogramm für die Aktualisierung von Benutzer-Konfigurationsdateien"

#: kconf_update/kconf_update.cpp:959
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Skriptausgaben speichern"

#: kconf_update/kconf_update.cpp:962
msgctxt "main|"
msgid ""
"For unit tests only: use test directories to stay away from the user's real "
"files"
msgstr ""
"Nur für Unittests: Test-Ordner verwenden, um die Tests von den eigentlichen "
"Benutzerdateien zu trennen"

#: kconf_update/kconf_update.cpp:964
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr ""
"Überprüfen Sie, ob die Konfigurationsdatei selbst aktualisiert werden muss"

#: kconf_update/kconf_update.cpp:967
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "Dateien, der die Aktualisierungs-Informationen entnommen werden sollen"

#: kconfig_compiler/kconfig_compiler.cpp:708
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Ordner, in dem die Dateien generiert werden [.]"

#: kconfig_compiler/kconfig_compiler.cpp:709
msgctxt "main|"
msgid "directory"
msgstr "Ordner"

#: kconfig_compiler/kconfig_compiler.cpp:713
msgctxt "main|"
msgid "Display software license."
msgstr "Zeigt die Software-Lizenz an."

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "<file> statt globaler Konfigurationsdatei verwenden"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
#, fuzzy
#| msgctxt "main|"
#| msgid "Group to look in. Use repeatedly for nested groups."
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr ""
"Zu durchsuchende Gruppe. Mehrfach verwenden zur Suche in verschachtelten "
"Gruppen."

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "Zu suchender Schlüssel"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "Standardwert"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "Art der Variable"

#: kreadconfig/kreadconfig.cpp:84 kreadconfig/kwriteconfig.cpp:69
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr ""

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Art der Variable. Verwenden Sie „bool“ für den booleschen Typ. Anderenfalls "
"wird sie als Zeichenfolge (string) behandelt."

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr "Bezeichneten Schlüssel löschen, wenn er aktiviert ist"

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr ""
"Zu schreibender Wert. Zwingend erforderlich. Bei Shells bitte '' verwenden, "
"um „leer“ vorzugeben."
