# translation of kwriteconfig.po to Kazakh
#
# Sairan Kikkarin <sairan@computer.org>, 2005, 2007, 2008.
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2008-11-01 10:21-0400\n"
"Last-Translator: Sairan Kikkarin <sairan@computer.org>\n"
"Language-Team: Kazakh\n"
"Language: \n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: KBabel 1.11.4\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"\n"
"\n"

#: core/kconfig.cpp:854
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr ""

#: core/kconfigini.cpp:554
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr ""

#: core/kemailsettings.cpp:256 core/kemailsettings.cpp:259
#: core/kemailsettings.cpp:267
msgctxt "KEMailSettings|"
msgid "Default"
msgstr ""

#: kconf_update/kconf_update.cpp:933
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr ""

#: kconf_update/kconf_update.cpp:935
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr ""

#: kconf_update/kconf_update.cpp:936
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:1536
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:1537
msgctxt "main|"
msgid "directory"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:1540
msgctxt "main|"
msgid "Display software license."
msgstr ""

#: kreadconfig/kreadconfig.cpp:56 kreadconfig/kwriteconfig.cpp:35
#, fuzzy
#| msgid "Use <file> instead of global config"
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Жалпы баптау орнына <file> қолданылсын"

#: kreadconfig/kreadconfig.cpp:57 kreadconfig/kwriteconfig.cpp:36
#, fuzzy
#| msgid "Group to look in. Use repeatedly for nested groups."
msgctxt "main|"
msgid "Group to look in. Use repeatedly for nested groups."
msgstr "Ішінде іздейтін топ. Ішіндегі топтар үшін қайта қолданыңыз."

#: kreadconfig/kreadconfig.cpp:58 kreadconfig/kwriteconfig.cpp:37
#, fuzzy
#| msgid "Key to look for"
msgctxt "main|"
msgid "Key to look for"
msgstr "Кілті"

#: kreadconfig/kreadconfig.cpp:59
msgctxt "main|"
msgid "Default value"
msgstr ""

#: kreadconfig/kreadconfig.cpp:60
msgctxt "main|"
msgid "Type of variable"
msgstr ""

#: kreadconfig/kwriteconfig.cpp:38
#, fuzzy
#| msgid ""
#| "Type of variable. Use \"bool\" for a boolean, otherwise it is treated as "
#| "a string"
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Айнымалының түрі. Бульдік үшін \"bool\" деңіз, әйтпесе мәтін жолы деп "
"саналады"

#: kreadconfig/kwriteconfig.cpp:39
#, fuzzy
#| msgid "The value to write. Mandatory, on a shell use '' for empty"
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "Жазылатын мән. Міндетті түрде болу керек, бос болса '' деп жазыңыз"

#~ msgid "KWriteConfig"
#~ msgstr "KWriteConfig"

#~ msgid "Write KConfig entries - for use in shell scripts"
#~ msgstr "KConfig жазулары - қоршау-орта скрипттері үшін"

#~ msgid "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"
#~ msgstr "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"

#~ msgid "Wrote kreadconfig on which this is based"
#~ msgstr "kreadconfig-ті негіздеген және жазылған"

#~ msgid "Luís Pedro Coelho"
#~ msgstr "Luís Pedro Coelho"

#~ msgid "Bernhard Rosenkraenzer"
#~ msgstr "Bernhard Rosenkraenzer"
