# SPDX-FileCopyrightText: 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024 Freek de Kruijf <freekdekruijf@kde.nl>
msgid ""
msgstr ""
"Project-Id-Version: \n"
"PO-Revision-Date: 2024-05-22 13:48+0200\n"
"Last-Translator: Freek de Kruijf <freekdekruijf@kde.nl>\n"
"Language-Team: \n"
"Language: nl\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Qt-Contexts: true\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Generator: Lokalize 24.02.2\n"

#: core/kconfig.cpp:936
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Neem contact op met uw systeembeheerder."

#: core/kconfigini.cpp:568
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "Configuratiebestand \"%1\" is niet schrijfbaar.\n"

#: core/kemailsettings.cpp:128 core/kemailsettings.cpp:131
#: core/kemailsettings.cpp:139
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Standaard"

#: gui/kstandardactions.cpp:49
msgctxt "go back|"
msgid "&Back"
msgstr "&Terug"

#: gui/kstandardactions.cpp:56
msgctxt "go forward|"
msgid "&Forward"
msgstr "&Vooruit"

#: gui/kstandardactions.cpp:63
msgctxt "home page|"
msgid "&Home"
msgstr "&Home"

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "&New"
msgstr "&Nieuw"

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "Create new document"
msgstr "Nieuw document aanmaken"

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "&Open…"
msgstr "&Openen…"

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "Open an existing document"
msgstr "Open een bestaand document"

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Open &Recent"
msgstr "&Recent openen"

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Open a document which was recently opened"
msgstr "Een recent geopend document openen"

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "&Save"
msgstr "Op&slaan"

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "Save document"
msgstr "Document opslaan"

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "Save &As…"
msgstr "Opslaan &als…"

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "Save document under a new name"
msgstr "Document opslaan onder een nieuwe naam"

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Re&vert"
msgstr "Beginwaar&de"

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Revert unsaved changes made to document"
msgstr "Niet opslagen wijzigingen in document terugdraaien"

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "&Close"
msgstr "Sl&uiten"

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "Close document"
msgstr "Document sluiten"

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "&Print…"
msgstr "&Afdrukken…"

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "Print document"
msgstr "Document afdrukken"

#: gui/kstandardactions_p.h:75
msgctxt "KStandardActions|"
msgid "Print Previe&w"
msgstr "Afdruk&voorbeeld"

#: gui/kstandardactions_p.h:75
msgctxt "KStandardActions|"
msgid "Show a print preview of document"
msgstr "Een afdrukvoorbeeld van het document tonen"

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "&Mail…"
msgstr "&E-mail…"

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "Send document by mail"
msgstr "Document per e-mail verzenden"

#: gui/kstandardactions_p.h:77
msgctxt "KStandardActions|"
msgid "&Quit"
msgstr "A&fsluiten"

#: gui/kstandardactions_p.h:77
msgctxt "KStandardActions|"
msgid "Quit application"
msgstr "Toepassing afsluiten"

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "&Undo"
msgstr "&Ongedaan maken"

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "Undo last action"
msgstr "Laatste actie ongedaan maken"

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Re&do"
msgstr "Opnie&uw"

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Redo last undone action"
msgstr "Laatste ongedaan gemaakte actie opnieuw uitvoeren"

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cu&t"
msgstr "Kni&ppen"

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cut selection to clipboard"
msgstr "Selectie knippen naar het klembord "

#: gui/kstandardactions_p.h:82
msgctxt "KStandardActions|"
msgid "&Copy"
msgstr "&Kopiëren"

#: gui/kstandardactions_p.h:82
msgctxt "KStandardActions|"
msgid "Copy selection to clipboard"
msgstr "Selectie kopiëren naar het klembord"

#: gui/kstandardactions_p.h:83
msgctxt "KStandardActions|"
msgid "&Paste"
msgstr "P&lakken"

#: gui/kstandardactions_p.h:83
msgctxt "KStandardActions|"
msgid "Paste clipboard content"
msgstr "Inhoud klembord plakken"

#: gui/kstandardactions_p.h:84
msgctxt "KStandardActions|"
msgid "C&lear"
msgstr "W&issen"

#: gui/kstandardactions_p.h:85
msgctxt "KStandardActions|"
msgid "Select &All"
msgstr "&Alles selecteren"

#: gui/kstandardactions_p.h:86
msgctxt "KStandardActions|"
msgid "Dese&lect"
msgstr "Dese&lecteren"

#: gui/kstandardactions_p.h:87
msgctxt "KStandardActions|"
msgid "&Find…"
msgstr "&Zoeken…"

#: gui/kstandardactions_p.h:88
msgctxt "KStandardActions|"
msgid "Find &Next"
msgstr "Vol&gende zoeken"

#: gui/kstandardactions_p.h:89
msgctxt "KStandardActions|"
msgid "Find Pre&vious"
msgstr "Vo&rige zoeken"

#: gui/kstandardactions_p.h:90
msgctxt "KStandardActions|"
msgid "&Replace…"
msgstr "Ve&rvangen…"

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "Zoom to &Actual Size"
msgstr "Zoomen naar &actuele grootte"

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "View document at its actual size"
msgstr "Document in zijn actuele grootte bekijken"

#: gui/kstandardactions_p.h:93
msgctxt "KStandardActions|"
msgid "&Fit to Page"
msgstr "&Passend in pagina"

#: gui/kstandardactions_p.h:93
msgctxt "KStandardActions|"
msgid "Zoom to fit page in window"
msgstr "Zoomen naar passend maken in het venster"

#: gui/kstandardactions_p.h:94
msgctxt "KStandardActions|"
msgid "Fit to Page &Width"
msgstr "Passend in pagina&breedte"

#: gui/kstandardactions_p.h:94
msgctxt "KStandardActions|"
msgid "Zoom to fit page width in window"
msgstr "Zoomen naar breedte passend maken in het venster"

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "Fit to Page &Height"
msgstr "Passend in pagina&hoogte"

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "Zoom to fit page height in window"
msgstr "Zoomen naar hoogte passend maken in het venster"

#: gui/kstandardactions_p.h:96
msgctxt "KStandardActions|"
msgid "Zoom &In"
msgstr "&Inzoomen"

#: gui/kstandardactions_p.h:97
msgctxt "KStandardActions|"
msgid "Zoom &Out"
msgstr "&Uitzoomen"

#: gui/kstandardactions_p.h:98
msgctxt "KStandardActions|"
msgid "&Zoom…"
msgstr "&Zoomen…"

#: gui/kstandardactions_p.h:98
msgctxt "KStandardActions|"
msgid "Select zoom level"
msgstr "Zoomniveau selecteren"

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "&Refresh"
msgstr "Ve&rnieuwen"

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "Refresh document"
msgstr "Document vernieuwen"

#: gui/kstandardactions_p.h:101
msgctxt "KStandardActions|"
msgid "&Up"
msgstr "&Omhoog"

#: gui/kstandardactions_p.h:101
msgctxt "KStandardActions|"
msgid "Go up"
msgstr "Omhoog"

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "&Previous Page"
msgstr "&Vorige pagina"

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "Go to previous page"
msgstr "Naar vorige pagina gaan"

#: gui/kstandardactions_p.h:107
msgctxt "KStandardActions|"
msgid "&Next Page"
msgstr "V&olgende pagina"

#: gui/kstandardactions_p.h:107
msgctxt "KStandardActions|"
msgid "Go to next page"
msgstr "Naar volgende pagina gaan"

#: gui/kstandardactions_p.h:108
msgctxt "KStandardActions|"
msgid "&Go To…"
msgstr "&Ga naar…"

#: gui/kstandardactions_p.h:109
msgctxt "KStandardActions|"
msgid "&Go to Page…"
msgstr "&Ga naar pagina…"

#: gui/kstandardactions_p.h:110
msgctxt "KStandardActions|"
msgid "&Go to Line…"
msgstr "&Ga naar regel…"

#: gui/kstandardactions_p.h:111
msgctxt "KStandardActions|"
msgid "&First Page"
msgstr "&Eerste pagina"

#: gui/kstandardactions_p.h:111
msgctxt "KStandardActions|"
msgid "Go to first page"
msgstr "Naar eerste pagina gaan"

#: gui/kstandardactions_p.h:112
msgctxt "KStandardActions|"
msgid "&Last Page"
msgstr "&Laatste pagina"

#: gui/kstandardactions_p.h:112
msgctxt "KStandardActions|"
msgid "Go to last page"
msgstr "Naar laatste pagina gaan"

#: gui/kstandardactions_p.h:113
msgctxt "KStandardActions|"
msgid "&Back"
msgstr "&Terug"

#: gui/kstandardactions_p.h:113
msgctxt "KStandardActions|"
msgid "Go back in document"
msgstr "Terug gaan in het document"

#: gui/kstandardactions_p.h:114
msgctxt "KStandardActions|"
msgid "&Forward"
msgstr "&Vooruit"

#: gui/kstandardactions_p.h:114
msgctxt "KStandardActions|"
msgid "Go forward in document"
msgstr "Vooruit gaan in het document"

#: gui/kstandardactions_p.h:116
msgctxt "KStandardActions|"
msgid "&Add Bookmark"
msgstr "Bladwijzer &toevoegen"

#: gui/kstandardactions_p.h:117
msgctxt "KStandardActions|"
msgid "&Edit Bookmarks…"
msgstr "Bladwijzers &bewerken…"

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "&Spelling…"
msgstr "&Spellingcontrole…"

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "Check spelling in document"
msgstr "Spelling controleren in het document"

#: gui/kstandardactions_p.h:121
msgctxt "KStandardActions|"
msgid "Show &Menubar"
msgstr "&Menubalk tonen"

#: gui/kstandardactions_p.h:121
msgctxt "KStandardActions|"
msgid "Show or hide menubar"
msgstr "Menubalk tonen of verbergen"

#: gui/kstandardactions_p.h:122
msgctxt "KStandardActions|"
msgid "Show &Toolbar"
msgstr "&Werkbalk tonen"

#: gui/kstandardactions_p.h:122
msgctxt "KStandardActions|"
msgid "Show or hide toolbar"
msgstr "Werkbalk tonen of verbergen"

#: gui/kstandardactions_p.h:123
msgctxt "KStandardActions|"
msgid "Show St&atusbar"
msgstr "St&atusbalk tonen"

#: gui/kstandardactions_p.h:123
msgctxt "KStandardActions|"
msgid "Show or hide statusbar"
msgstr "Statusbalk tonen of verbergen"

#: gui/kstandardactions_p.h:124
msgctxt "KStandardActions|"
msgid "F&ull Screen Mode"
msgstr "Modus V&olledig scherm"

#: gui/kstandardactions_p.h:125
msgctxt "KStandardActions|"
msgid "Configure Keyboard S&hortcuts…"
msgstr "Sne&ltoetsen configureren…"

#: gui/kstandardactions_p.h:126
#, qt-format
msgctxt "KStandardActions|"
msgid "&Configure %1…"
msgstr "%1 &configureren %1…"

#: gui/kstandardactions_p.h:127
msgctxt "KStandardActions|"
msgid "Configure Tool&bars…"
msgstr "Werk&balken configureren…"

#: gui/kstandardactions_p.h:128
msgctxt "KStandardActions|"
msgid "Configure &Notifications…"
msgstr "&Meldingen configureren…"

#: gui/kstandardactions_p.h:132
#, qt-format
msgctxt "KStandardActions|"
msgid "%1 &Handbook"
msgstr "%1 &handboek"

#: gui/kstandardactions_p.h:133
msgctxt "KStandardActions|"
msgid "What's &This?"
msgstr "Wat is di&t?"

#: gui/kstandardactions_p.h:134
msgctxt "KStandardActions|"
msgid "&Report Bug…"
msgstr "Bug &rapporteren…"

#: gui/kstandardactions_p.h:135
msgctxt "KStandardActions|"
msgid "Configure &Language…"
msgstr "Taa&l configureren…"

#: gui/kstandardactions_p.h:136
#, qt-format
msgctxt "KStandardActions|"
msgid "&About %1"
msgstr "&Info over %1"

#: gui/kstandardactions_p.h:137
msgctxt "KStandardActions|"
msgid "About &KDE"
msgstr "Over &KDE"

#: gui/kstandardactions_p.h:138
msgctxt "KStandardActions|"
msgid "&Delete"
msgstr "Verwij&deren"

#: gui/kstandardactions_p.h:139
msgctxt "KStandardActions|"
msgid "&Rename…"
msgstr "He&rnoemen…"

#: gui/kstandardactions_p.h:140
msgctxt "KStandardActions|"
msgid "&Move to Trash"
msgstr "&Naar prullenbak verplaatsen"

#: gui/kstandardactions_p.h:141
msgctxt "KStandardActions|"
msgid "&Donate"
msgstr "&Doneren"

#: gui/kstandardactions_p.h:142
msgctxt "KStandardActions|"
msgid "Open &Menu"
msgstr "&Menu openen"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Openen"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Nieuw"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Sluiten"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Opslaan"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Afdrukken"

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Afsluiten"

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Ongedaan maken"

#: gui/kstandardshortcut.cpp:80
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Opnieuw"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Knippen"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Kopiëren"

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Plakken"

#: gui/kstandardshortcut.cpp:88
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Selectie plakken"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Alles selecteren"

#: gui/kstandardshortcut.cpp:96
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Selectie opheffen"

#: gui/kstandardshortcut.cpp:99
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Woord achterwaarts verwijderen"

#: gui/kstandardshortcut.cpp:111
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Woord voorwaarts verwijderen"

#: gui/kstandardshortcut.cpp:122
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Zoeken"

#: gui/kstandardshortcut.cpp:123
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Volgende zoeken"

#: gui/kstandardshortcut.cpp:124
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Zoek vorige"

#: gui/kstandardshortcut.cpp:125
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Vervangen"

#: gui/kstandardshortcut.cpp:130
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Home"

#: gui/kstandardshortcut.cpp:138
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Begin"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Einde"

#: gui/kstandardshortcut.cpp:160
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Vorige"

#: gui/kstandardshortcut.cpp:163
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Volgende"

#: gui/kstandardshortcut.cpp:170
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Omhoog"

#: gui/kstandardshortcut.cpp:171
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Terug"

#: gui/kstandardshortcut.cpp:174
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Vooruit"

#: gui/kstandardshortcut.cpp:182
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Herladen"

#: gui/kstandardshortcut.cpp:191
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Begin van regel"

#: gui/kstandardshortcut.cpp:203
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Einde van regel"

#: gui/kstandardshortcut.cpp:213
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Ga naar regel"

#: gui/kstandardshortcut.cpp:216
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Woord achterwaarts"

#: gui/kstandardshortcut.cpp:228
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Woord voorwaarts"

#: gui/kstandardshortcut.cpp:241
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Bladwijzer toevoegen"

#: gui/kstandardshortcut.cpp:247
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Inzoomen"

#: gui/kstandardshortcut.cpp:248
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Uitzoomen"

#: gui/kstandardshortcut.cpp:251
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Volledig schermmodus"

#: gui/kstandardshortcut.cpp:262
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Menubalk tonen"

#: gui/kstandardshortcut.cpp:265
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Volgend tabblad activeren"

#: gui/kstandardshortcut.cpp:273
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Vorig tabblad activeren"

#: gui/kstandardshortcut.cpp:281
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Help"

#: gui/kstandardshortcut.cpp:282
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "Wat is dit"

#: gui/kstandardshortcut.cpp:287
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Tekst aanvullen"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Vorige overeenkomende aanvulling"

#: gui/kstandardshortcut.cpp:303
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Volgende overeenkomende aanvulling"

#: gui/kstandardshortcut.cpp:311
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Subtekstaanvulling"

#: gui/kstandardshortcut.cpp:320
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Vorig item in de lijst"

#: gui/kstandardshortcut.cpp:328
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Volgend item in de lijst"

#: gui/kstandardshortcut.cpp:335
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Recent openen"

#: gui/kstandardshortcut.cpp:336
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Opslaan als"

#: gui/kstandardshortcut.cpp:337
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Terugdraaien"

#: gui/kstandardshortcut.cpp:338
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Afdrukvoorbeeld"

#: gui/kstandardshortcut.cpp:339
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "E-mail"

#: gui/kstandardshortcut.cpp:340
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Wissen"

#: gui/kstandardshortcut.cpp:343
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr "Zoomen naar actuele grootte"

#: gui/kstandardshortcut.cpp:349
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Passend in pagina"

#: gui/kstandardshortcut.cpp:350
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Passend in breedte"

#: gui/kstandardshortcut.cpp:351
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Passend in hoogte"

#: gui/kstandardshortcut.cpp:352
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Zoomen"

#: gui/kstandardshortcut.cpp:353
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Ga naar"

#: gui/kstandardshortcut.cpp:354
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Ga naar pagina"

#: gui/kstandardshortcut.cpp:357
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Document teruggaan"

#: gui/kstandardshortcut.cpp:365
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Document vooruitgaan"

#: gui/kstandardshortcut.cpp:373
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Bladwijzers bewerken"

#: gui/kstandardshortcut.cpp:379
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Spelling"

#: gui/kstandardshortcut.cpp:380
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Werkbalk tonen"

#: gui/kstandardshortcut.cpp:381
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Statusbalk tonen"

#: gui/kstandardshortcut.cpp:384
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Toetsenbindingen"

#: gui/kstandardshortcut.cpp:392
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "Toepassingen configureren"

#: gui/kstandardshortcut.cpp:400
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Werkbalken instellen"

#: gui/kstandardshortcut.cpp:408
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Meldingen instellen"

#: gui/kstandardshortcut.cpp:414
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Bug rapporteren"

#: gui/kstandardshortcut.cpp:417
msgctxt "KStandardShortcut|@action"
msgid "Configure Language…"
msgstr "Taal configureren…"

#: gui/kstandardshortcut.cpp:423
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "Info over programma"

#: gui/kstandardshortcut.cpp:424
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "Over KDE"

#: gui/kstandardshortcut.cpp:427
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "Verwijderen"

#: gui/kstandardshortcut.cpp:428
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "Hernoemen"

#: gui/kstandardshortcut.cpp:431
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "Naar prullenbak verplaatsen"

#: gui/kstandardshortcut.cpp:437
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "Doneren"

#: gui/kstandardshortcut.cpp:440
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr "Verborgen bestanden tonen/verbergen"

#: gui/kstandardshortcut.cpp:448
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr "Map aanmaken"

#: gui/kstandardshortcut.cpp:456
msgctxt ""
"KStandardShortcut|@action referring to the menu bar or a hamburger menu"
msgid "Open Main Menu"
msgstr "Hoofdmenu openen"

#: gui/kstandardshortcut.cpp:464
msgctxt "KStandardShortcut|@action"
msgid "Open Context Menu"
msgstr "Contextmenu openen"

#: kconf_update/kconf_update.cpp:368
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr ""
"KDE-programma voor het bijwerken van de gebruikers' configuratiebestanden"

#: kconf_update/kconf_update.cpp:370
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Uitvoerresultaten van scripts behouden"

#: kconf_update/kconf_update.cpp:373
msgctxt "main|"
msgid ""
"For unit tests only: do not write the done entries, so that with every re-"
"run, the scripts are executed again"
msgstr ""
"Alleen voor testen met eenheden: de gedane items niet schrijven, zodat met "
"elke keer opnieuw uitvoeren, de scripts opnieuw worden uitgevoerd"

#: kconf_update/kconf_update.cpp:375
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "Controleren of het configuratiebestand zelf bijgewerkt dient te worden"

#: kconf_update/kconf_update.cpp:378
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "Bestand(en) met instructies voor bijwerken"

#: kconfig_compiler/kconfig_compiler.cpp:726
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Map om bestanden in te genereren [.]"

#: kconfig_compiler/kconfig_compiler.cpp:727
msgctxt "main|"
msgid "directory"
msgstr "map"

#: kconfig_compiler/kconfig_compiler.cpp:731
msgctxt "main|"
msgid "Display software license."
msgstr "Softwarelicentie tonen."

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "<file> gebruiken in plaats van globale configuratie"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr ""
"Groep om in te zoeken. Gebruik \"<standaard>\" voor de groep root of "
"herhaaldelijk voor geneste groepen."

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "Term om naar te zoeken"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "Standaardwaarde"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "Variabeletype"

#: kreadconfig/kreadconfig.cpp:84 kreadconfig/kwriteconfig.cpp:69
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr ""
"Groepsnaam kan niet leeg zijn, gebruik \"<standaard>\" voor de groep root"

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Variabeletype. Gebruik \"bool\" voor een boleaanse waarde, anders wordt dit "
"behandeld als een tekenreeks."

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr "De aangeduide sleutel verwijderen indien ingeschakeld"

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "De waarde om te schrijven. Gebruik op een shell altijd '' voor leeg."

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Tip Of Day"
#~ msgstr "Tip van de dag"

#~ msgctxt "main|"
#~ msgid ""
#~ "For unit tests only: use test directories to stay away from the user's "
#~ "real files"
#~ msgstr ""
#~ "Alleen voor testen van units: gebruik testmappen om weg te blijven van de "
#~ "echte bestanden van gebruikers"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Save Options"
#~ msgstr "Opties opslaan"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Switch Application Language"
#~ msgstr "Taal van programma wijzigen"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Preferences"
#~ msgstr "Voorkeuren"
