msgid ""
msgstr ""
"Project-Id-Version: kdeorg\n"
"PO-Revision-Date: 2024-04-22 15:58\n"
"Language-Team: Chinese Simplified\n"
"Language: zh_CN\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Qt-Contexts: true\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"X-Crowdin-Project: kdeorg\n"
"X-Crowdin-Project-ID: 269464\n"
"X-Crowdin-Language: zh-CN\n"
"X-Crowdin-File: /kf6-trunk/messages/kconfig/kconfig6_qt.pot\n"
"X-Crowdin-File-ID: 43047\n"

#: core/kconfig.cpp:936
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "请联系您的系统管理员。"

#: core/kconfigini.cpp:568
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "配置文件“%1”不可写入。\n"

#: core/kemailsettings.cpp:128 core/kemailsettings.cpp:131
#: core/kemailsettings.cpp:139
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "默认"

#: gui/kstandardactions.cpp:49
msgctxt "go back|"
msgid "&Back"
msgstr "后退(&B)"

#: gui/kstandardactions.cpp:56
msgctxt "go forward|"
msgid "&Forward"
msgstr "前进(&F)"

#: gui/kstandardactions.cpp:63
msgctxt "home page|"
msgid "&Home"
msgstr "主页(&H)"

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "&New"
msgstr "新建(&N)"

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "Create new document"
msgstr "创建新文档"

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "&Open…"
msgstr "打开(&O)…"

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "Open an existing document"
msgstr "打开已有文档"

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Open &Recent"
msgstr "打开最近(&R)"

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Open a document which was recently opened"
msgstr "打开最近使用过的文档"

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "&Save"
msgstr "保存(&S)"

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "Save document"
msgstr "保存文档"

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "Save &As…"
msgstr "另存为(&A)…"

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "Save document under a new name"
msgstr "用新文件名保存文档"

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Re&vert"
msgstr "还原(&V)"

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Revert unsaved changes made to document"
msgstr "还原文档中未保存的更改"

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "&Close"
msgstr "关闭(&C)"

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "Close document"
msgstr "关闭文档"

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "&Print…"
msgstr "打印(&P)…"

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "Print document"
msgstr "打印文档"

#: gui/kstandardactions_p.h:75
msgctxt "KStandardActions|"
msgid "Print Previe&w"
msgstr "打印预览(&W)"

#: gui/kstandardactions_p.h:75
msgctxt "KStandardActions|"
msgid "Show a print preview of document"
msgstr "显示文档的打印预览"

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "&Mail…"
msgstr "电子邮件(&M)…"

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "Send document by mail"
msgstr "通过电子邮件发送文档"

#: gui/kstandardactions_p.h:77
msgctxt "KStandardActions|"
msgid "&Quit"
msgstr "退出(&Q)"

#: gui/kstandardactions_p.h:77
msgctxt "KStandardActions|"
msgid "Quit application"
msgstr "退出应用程序"

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "&Undo"
msgstr "撤销(&U)"

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "Undo last action"
msgstr "撤销上一步操作"

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Re&do"
msgstr "重做(&D)"

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Redo last undone action"
msgstr "重做上一次撤销的操作"

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cu&t"
msgstr "剪切(&T)"

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cut selection to clipboard"
msgstr "剪切所选内容到剪贴板"

#: gui/kstandardactions_p.h:82
msgctxt "KStandardActions|"
msgid "&Copy"
msgstr "复制(&C)"

#: gui/kstandardactions_p.h:82
msgctxt "KStandardActions|"
msgid "Copy selection to clipboard"
msgstr "复制所选内容到剪贴板"

#: gui/kstandardactions_p.h:83
msgctxt "KStandardActions|"
msgid "&Paste"
msgstr "粘贴(&P)"

#: gui/kstandardactions_p.h:83
msgctxt "KStandardActions|"
msgid "Paste clipboard content"
msgstr "粘贴剪贴板内容"

#: gui/kstandardactions_p.h:84
msgctxt "KStandardActions|"
msgid "C&lear"
msgstr "清除(&l)"

#: gui/kstandardactions_p.h:85
msgctxt "KStandardActions|"
msgid "Select &All"
msgstr "全部选择(&A)"

#: gui/kstandardactions_p.h:86
msgctxt "KStandardActions|"
msgid "Dese&lect"
msgstr "取消选择(&L)"

#: gui/kstandardactions_p.h:87
msgctxt "KStandardActions|"
msgid "&Find…"
msgstr "查找(&F)…"

#: gui/kstandardactions_p.h:88
msgctxt "KStandardActions|"
msgid "Find &Next"
msgstr "查找下一个(&N)"

#: gui/kstandardactions_p.h:89
msgctxt "KStandardActions|"
msgid "Find Pre&vious"
msgstr "查找上一个(&V)"

#: gui/kstandardactions_p.h:90
msgctxt "KStandardActions|"
msgid "&Replace…"
msgstr "替换(&R)…"

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "Zoom to &Actual Size"
msgstr "缩放为实际大小(&A)"

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "View document at its actual size"
msgstr "缩放到文档的实际大小"

#: gui/kstandardactions_p.h:93
msgctxt "KStandardActions|"
msgid "&Fit to Page"
msgstr "适合整个页面(&F)"

#: gui/kstandardactions_p.h:93
msgctxt "KStandardActions|"
msgid "Zoom to fit page in window"
msgstr "缩放到整个页面适合窗口大小"

#: gui/kstandardactions_p.h:94
msgctxt "KStandardActions|"
msgid "Fit to Page &Width"
msgstr "适合页面宽度(&W)"

#: gui/kstandardactions_p.h:94
msgctxt "KStandardActions|"
msgid "Zoom to fit page width in window"
msgstr "缩放到页面宽度适合窗口大小"

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "Fit to Page &Height"
msgstr "适合页面高度(&H)"

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "Zoom to fit page height in window"
msgstr "缩放到页面高度适合窗口大小"

#: gui/kstandardactions_p.h:96
msgctxt "KStandardActions|"
msgid "Zoom &In"
msgstr "放大(&I)"

#: gui/kstandardactions_p.h:97
msgctxt "KStandardActions|"
msgid "Zoom &Out"
msgstr "缩小(&O)"

#: gui/kstandardactions_p.h:98
msgctxt "KStandardActions|"
msgid "&Zoom…"
msgstr "缩放(&Z)…"

#: gui/kstandardactions_p.h:98
msgctxt "KStandardActions|"
msgid "Select zoom level"
msgstr "选择缩放级别"

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "&Refresh"
msgstr "刷新(&R)"

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "Refresh document"
msgstr "刷新"

#: gui/kstandardactions_p.h:101
msgctxt "KStandardActions|"
msgid "&Up"
msgstr "上一级(&U)"

#: gui/kstandardactions_p.h:101
msgctxt "KStandardActions|"
msgid "Go up"
msgstr "跳转到上一级"

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "&Previous Page"
msgstr "上一页(&P)"

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "Go to previous page"
msgstr "跳转到上一页"

#: gui/kstandardactions_p.h:107
msgctxt "KStandardActions|"
msgid "&Next Page"
msgstr "下一页(&N)"

#: gui/kstandardactions_p.h:107
msgctxt "KStandardActions|"
msgid "Go to next page"
msgstr "跳转到下一页"

#: gui/kstandardactions_p.h:108
msgctxt "KStandardActions|"
msgid "&Go To…"
msgstr "跳转到(&G)…"

#: gui/kstandardactions_p.h:109
msgctxt "KStandardActions|"
msgid "&Go to Page…"
msgstr "跳转到页面(&G)…"

#: gui/kstandardactions_p.h:110
msgctxt "KStandardActions|"
msgid "&Go to Line…"
msgstr "跳转到行(&G)…"

#: gui/kstandardactions_p.h:111
msgctxt "KStandardActions|"
msgid "&First Page"
msgstr "第一页(&F)"

#: gui/kstandardactions_p.h:111
msgctxt "KStandardActions|"
msgid "Go to first page"
msgstr "跳转到第一页"

#: gui/kstandardactions_p.h:112
msgctxt "KStandardActions|"
msgid "&Last Page"
msgstr "最后一页(&L)"

#: gui/kstandardactions_p.h:112
msgctxt "KStandardActions|"
msgid "Go to last page"
msgstr "跳转到最后一页"

#: gui/kstandardactions_p.h:113
msgctxt "KStandardActions|"
msgid "&Back"
msgstr "后退(&B)"

#: gui/kstandardactions_p.h:113
msgctxt "KStandardActions|"
msgid "Go back in document"
msgstr "在文档中后退"

#: gui/kstandardactions_p.h:114
msgctxt "KStandardActions|"
msgid "&Forward"
msgstr "前进(&F)"

#: gui/kstandardactions_p.h:114
msgctxt "KStandardActions|"
msgid "Go forward in document"
msgstr "在文档中前进"

#: gui/kstandardactions_p.h:116
msgctxt "KStandardActions|"
msgid "&Add Bookmark"
msgstr "添加书签(&A)"

#: gui/kstandardactions_p.h:117
msgctxt "KStandardActions|"
msgid "&Edit Bookmarks…"
msgstr "编辑书签(&E)…"

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "&Spelling…"
msgstr "拼写检查(&S)…"

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "Check spelling in document"
msgstr "检查文档中的拼写错误"

#: gui/kstandardactions_p.h:121
msgctxt "KStandardActions|"
msgid "Show &Menubar"
msgstr "显示菜单栏(&M)"

#: gui/kstandardactions_p.h:121
msgctxt "KStandardActions|"
msgid "Show or hide menubar"
msgstr "显示或者隐藏菜单栏"

#: gui/kstandardactions_p.h:122
msgctxt "KStandardActions|"
msgid "Show &Toolbar"
msgstr "显示工具栏(&T)"

#: gui/kstandardactions_p.h:122
msgctxt "KStandardActions|"
msgid "Show or hide toolbar"
msgstr "显示或者隐藏工具栏"

#: gui/kstandardactions_p.h:123
msgctxt "KStandardActions|"
msgid "Show St&atusbar"
msgstr "显示状态栏(&A)"

#: gui/kstandardactions_p.h:123
msgctxt "KStandardActions|"
msgid "Show or hide statusbar"
msgstr "显示或者隐藏状态栏"

#: gui/kstandardactions_p.h:124
msgctxt "KStandardActions|"
msgid "F&ull Screen Mode"
msgstr "全屏模式(&U)"

#: gui/kstandardactions_p.h:125
msgctxt "KStandardActions|"
msgid "Configure Keyboard S&hortcuts…"
msgstr "配置键盘快捷键(&H)…"

#: gui/kstandardactions_p.h:126
#, qt-format
msgctxt "KStandardActions|"
msgid "&Configure %1…"
msgstr "配置 %1(&C)…"

#: gui/kstandardactions_p.h:127
msgctxt "KStandardActions|"
msgid "Configure Tool&bars…"
msgstr "配置工具栏(&B)..."

#: gui/kstandardactions_p.h:128
msgctxt "KStandardActions|"
msgid "Configure &Notifications…"
msgstr "配置通知(&N)…"

#: gui/kstandardactions_p.h:132
#, qt-format
msgctxt "KStandardActions|"
msgid "%1 &Handbook"
msgstr "%1 使用手册(&H)"

#: gui/kstandardactions_p.h:133
msgctxt "KStandardActions|"
msgid "What's &This?"
msgstr "这是什么(&T)？"

#: gui/kstandardactions_p.h:134
msgctxt "KStandardActions|"
msgid "&Report Bug…"
msgstr "报告程序缺陷(&R)…"

#: gui/kstandardactions_p.h:135
msgctxt "KStandardActions|"
msgid "Configure &Language…"
msgstr "配置语言(&L)…"

#: gui/kstandardactions_p.h:136
#, qt-format
msgctxt "KStandardActions|"
msgid "&About %1"
msgstr "关于 %1(&A)"

#: gui/kstandardactions_p.h:137
msgctxt "KStandardActions|"
msgid "About &KDE"
msgstr "关于 &KDE"

#: gui/kstandardactions_p.h:138
msgctxt "KStandardActions|"
msgid "&Delete"
msgstr "删除(&D)"

#: gui/kstandardactions_p.h:139
msgctxt "KStandardActions|"
msgid "&Rename…"
msgstr "重命名(&R)…"

#: gui/kstandardactions_p.h:140
msgctxt "KStandardActions|"
msgid "&Move to Trash"
msgstr "移动到回收站(&M)"

#: gui/kstandardactions_p.h:141
msgctxt "KStandardActions|"
msgid "&Donate"
msgstr "捐款(&D)"

#: gui/kstandardactions_p.h:142
msgctxt "KStandardActions|"
msgid "Open &Menu"
msgstr "打开菜单(&M)"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "打开"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "新建"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "关闭"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "保存"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "打印"

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "退出"

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "撤销"

#: gui/kstandardshortcut.cpp:80
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "重做"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "剪切"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "复制"

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "粘贴"

#: gui/kstandardshortcut.cpp:88
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "粘贴选中内容"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "选择全部"

#: gui/kstandardshortcut.cpp:96
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "取消选择"

#: gui/kstandardshortcut.cpp:99
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "删除前一个单词"

#: gui/kstandardshortcut.cpp:111
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "删除后一个单词"

#: gui/kstandardshortcut.cpp:122
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "查找"

#: gui/kstandardshortcut.cpp:123
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "查找下一个"

#: gui/kstandardshortcut.cpp:124
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "查找上一个"

#: gui/kstandardshortcut.cpp:125
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "替换"

#: gui/kstandardshortcut.cpp:130
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "主页"

#: gui/kstandardshortcut.cpp:138
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "开头"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "结尾"

#: gui/kstandardshortcut.cpp:160
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "之前"

#: gui/kstandardshortcut.cpp:163
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "之后"

#: gui/kstandardshortcut.cpp:170
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "向上"

#: gui/kstandardshortcut.cpp:171
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "后退"

#: gui/kstandardshortcut.cpp:174
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "前进"

#: gui/kstandardshortcut.cpp:182
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "重新加载"

#: gui/kstandardshortcut.cpp:191
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "行首"

#: gui/kstandardshortcut.cpp:203
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "行尾"

#: gui/kstandardshortcut.cpp:213
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "跳转到行"

#: gui/kstandardshortcut.cpp:216
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "上一单词"

#: gui/kstandardshortcut.cpp:228
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "下一单词"

#: gui/kstandardshortcut.cpp:241
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "添加书签"

#: gui/kstandardshortcut.cpp:247
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "放大"

#: gui/kstandardshortcut.cpp:248
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "缩小"

#: gui/kstandardshortcut.cpp:251
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "全屏模式"

#: gui/kstandardshortcut.cpp:262
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "显示菜单栏"

#: gui/kstandardshortcut.cpp:265
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "激活下一标签页"

#: gui/kstandardshortcut.cpp:273
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "激活上一标签页"

#: gui/kstandardshortcut.cpp:281
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "帮助"

#: gui/kstandardshortcut.cpp:282
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "这是什么"

#: gui/kstandardshortcut.cpp:287
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "文本补全"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "上一条补全匹配"

#: gui/kstandardshortcut.cpp:303
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "下一条补全匹配"

#: gui/kstandardshortcut.cpp:311
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "子串补全"

#: gui/kstandardshortcut.cpp:320
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "列表中的前一项"

#: gui/kstandardshortcut.cpp:328
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "列表中的后一项"

#: gui/kstandardshortcut.cpp:335
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "打开最近项目"

#: gui/kstandardshortcut.cpp:336
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "另存为"

#: gui/kstandardshortcut.cpp:337
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "还原"

#: gui/kstandardshortcut.cpp:338
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "打印预览"

#: gui/kstandardshortcut.cpp:339
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "发送电子邮件"

#: gui/kstandardshortcut.cpp:340
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "清除"

#: gui/kstandardshortcut.cpp:343
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr "缩放为实际大小"

#: gui/kstandardshortcut.cpp:349
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "适合整个页面"

#: gui/kstandardshortcut.cpp:350
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "适合页面宽度"

#: gui/kstandardshortcut.cpp:351
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "适合页面高度"

#: gui/kstandardshortcut.cpp:352
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "缩放"

#: gui/kstandardshortcut.cpp:353
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "跳转到"

#: gui/kstandardshortcut.cpp:354
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "跳转到页面"

#: gui/kstandardshortcut.cpp:357
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "文档后退"

#: gui/kstandardshortcut.cpp:365
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "文档前进"

#: gui/kstandardshortcut.cpp:373
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "编辑书签"

#: gui/kstandardshortcut.cpp:379
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "拼写"

#: gui/kstandardshortcut.cpp:380
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "显示工具栏"

#: gui/kstandardshortcut.cpp:381
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "显示状态栏"

#: gui/kstandardshortcut.cpp:384
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "键位绑定"

#: gui/kstandardshortcut.cpp:392
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "配置应用程序"

#: gui/kstandardshortcut.cpp:400
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "配置工具栏"

#: gui/kstandardshortcut.cpp:408
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "配置通知"

#: gui/kstandardshortcut.cpp:414
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "报告程序缺陷"

#: gui/kstandardshortcut.cpp:417
msgctxt "KStandardShortcut|@action"
msgid "Configure Language…"
msgstr "配置语言…"

#: gui/kstandardshortcut.cpp:423
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "关于应用程序"

#: gui/kstandardshortcut.cpp:424
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "关于 KDE"

#: gui/kstandardshortcut.cpp:427
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "删除"

#: gui/kstandardshortcut.cpp:428
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "重命名"

#: gui/kstandardshortcut.cpp:431
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "移动到回收站"

#: gui/kstandardshortcut.cpp:437
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "捐款"

#: gui/kstandardshortcut.cpp:440
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr "显示/隐藏隐藏文件"

#: gui/kstandardshortcut.cpp:448
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr "创建文件夹"

#: gui/kstandardshortcut.cpp:456
msgctxt ""
"KStandardShortcut|@action referring to the menu bar or a hamburger menu"
msgid "Open Main Menu"
msgstr "打开主菜单"

#: gui/kstandardshortcut.cpp:464
msgctxt "KStandardShortcut|@action"
msgid "Open Context Menu"
msgstr "打开右键菜单"

#: kconf_update/kconf_update.cpp:368
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "KDE 的用户配置文件更新工具"

#: kconf_update/kconf_update.cpp:370
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "保留脚本的输出结果"

#: kconf_update/kconf_update.cpp:373
msgctxt "main|"
msgid ""
"For unit tests only: do not write the done entries, so that with every re-"
"run, the scripts are executed again"
msgstr ""
"仅针对单元测试：不要写入已完成的条目，于是每次重新运行时，脚本将被重新执行"

#: kconf_update/kconf_update.cpp:375
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "检查配置文件本身是否需要更新"

#: kconf_update/kconf_update.cpp:378
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "要读取更新指令的文件"

#: kconfig_compiler/kconfig_compiler.cpp:726
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "用于生成文件的目录，格式为 [.]"

#: kconfig_compiler/kconfig_compiler.cpp:727
msgctxt "main|"
msgid "directory"
msgstr "目录"

#: kconfig_compiler/kconfig_compiler.cpp:731
msgctxt "main|"
msgid "Display software license."
msgstr "显示软件许可证。"

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "使用 <file> 代替全局设置"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr "要查看的组。根组使用“<default>”，嵌套组可重复使用。"

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "要查询的键"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "默认值"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "变量类型"

#: kreadconfig/kreadconfig.cpp:84 kreadconfig/kwriteconfig.cpp:69
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr "组名称不能为空，根组应使用“<default>”"

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr "变量类型。布尔值应选择“bool”，否则它将被视作字符串。"

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr "启用时删除指定项"

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "要写入的值。此为必填项。在 shell 中应使用 \" 代表空值。"
