# Translation of kconfig5_qt to Norwegian Bokmål
#
# Knut Yrvin <knuty@skolelinux.no>, 2003.
# Bjørn Kvisli <bjorn.kvisli@gmail.com>, 2007.
# Bjørn Steensrud <bjornst@skogkatt.homelinux.org>, 2008, 2014.
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2014-09-25 18:02+0200\n"
"Last-Translator: Bjørn Steensrud <bjornst@skogkatt.homelinux.org>\n"
"Language-Team: Norwegian Bokmål <i18n-nb@lister.ping.uio.no>\n"
"Language: nb\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 1.5\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Environment: kde\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: qtrich\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:883
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Kontakt systemadministratoren din."

#: core/kconfigini.cpp:576
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "Oppsettsfila «%1» er ikke skrivbar.\n"

#: core/kemailsettings.cpp:256 core/kemailsettings.cpp:259
#: core/kemailsettings.cpp:267
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Standard"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Åpne"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Ny"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Lukk"

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Lagre"

#: gui/kstandardshortcut.cpp:77
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Skriv ut"

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Avslutt"

#: gui/kstandardshortcut.cpp:81
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Angre"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Gjør om"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Klipp ut"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Kopier"

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Lim inn"

#: gui/kstandardshortcut.cpp:86
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Lim inn utvalg"

#: gui/kstandardshortcut.cpp:88
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Velg alt"

#: gui/kstandardshortcut.cpp:89
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Fravelg"

#: gui/kstandardshortcut.cpp:90
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Slett ord bakover"

#: gui/kstandardshortcut.cpp:91
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Slett ord framover"

#: gui/kstandardshortcut.cpp:93
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Finn"

#: gui/kstandardshortcut.cpp:94
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Finn neste"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Finn forrige"

#: gui/kstandardshortcut.cpp:96
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Erstatt"

#: gui/kstandardshortcut.cpp:99
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Hjem"

#: gui/kstandardshortcut.cpp:100
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Begynnelse"

#: gui/kstandardshortcut.cpp:101
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Slutt"

#: gui/kstandardshortcut.cpp:102
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Forrige"

#: gui/kstandardshortcut.cpp:103
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Neste"

#: gui/kstandardshortcut.cpp:105
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Opp"

#: gui/kstandardshortcut.cpp:106
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Tilbake"

#: gui/kstandardshortcut.cpp:107
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Forover"

#: gui/kstandardshortcut.cpp:108
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Last på nytt"

#: gui/kstandardshortcut.cpp:110
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Begynnelsen av linja"

#: gui/kstandardshortcut.cpp:111
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Slutten på linja"

#: gui/kstandardshortcut.cpp:112
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Gå til linje"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Et ord bakover"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Et ord forover"

#: gui/kstandardshortcut.cpp:116
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Legg til bokmerke"

#: gui/kstandardshortcut.cpp:117
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Forstørr"

#: gui/kstandardshortcut.cpp:118
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Forminsk"

#: gui/kstandardshortcut.cpp:119
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Fullskjermskjøring"

#: gui/kstandardshortcut.cpp:121
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Vis menylinje"

#: gui/kstandardshortcut.cpp:122
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Gå til neste fane"

#: gui/kstandardshortcut.cpp:123
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Gå til forrige fane"

#: gui/kstandardshortcut.cpp:126
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Hjelp"

#: gui/kstandardshortcut.cpp:127
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "Hva er dette"

#: gui/kstandardshortcut.cpp:130
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Tekstfullføring"

#: gui/kstandardshortcut.cpp:131
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Forrige fullføringstreff"

#: gui/kstandardshortcut.cpp:132
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Neste fullføringstreff"

#: gui/kstandardshortcut.cpp:133
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Delstrengfullføring"

#: gui/kstandardshortcut.cpp:135
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Forrige element i lista"

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Neste element i lista"

#: gui/kstandardshortcut.cpp:138
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Åpne nylig brukt"

#: gui/kstandardshortcut.cpp:139
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Lagre som"

#: gui/kstandardshortcut.cpp:140
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Tilbakestill"

#: gui/kstandardshortcut.cpp:141
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Forhåndsvisning av utskrift"

#: gui/kstandardshortcut.cpp:142
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "E-post"

#: gui/kstandardshortcut.cpp:143
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Tøm"

#: gui/kstandardshortcut.cpp:144
msgctxt "KStandardShortcut|@action"
msgid "Actual Size"
msgstr "Virkelig størrelse"

#: gui/kstandardshortcut.cpp:145
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Tilpass til side"

#: gui/kstandardshortcut.cpp:146
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Tilpass til bredden"

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Tilpass til høyden"

#: gui/kstandardshortcut.cpp:148
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Forstørre/-minske"

#: gui/kstandardshortcut.cpp:149
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Gå til"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Gå til side"

#: gui/kstandardshortcut.cpp:151
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Dokument bakover"

#: gui/kstandardshortcut.cpp:152
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Dokument forover"

#: gui/kstandardshortcut.cpp:153
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Rediger bokmerker"

#: gui/kstandardshortcut.cpp:154
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Stavekontroll"

#: gui/kstandardshortcut.cpp:155
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Vis verktøylinje"

#: gui/kstandardshortcut.cpp:156
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Vis statuslinja"

#: gui/kstandardshortcut.cpp:157
msgctxt "KStandardShortcut|@action"
msgid "Save Options"
msgstr "Lagre valg"

#: gui/kstandardshortcut.cpp:158
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Tastebindinger"

#: gui/kstandardshortcut.cpp:159
msgctxt "KStandardShortcut|@action"
msgid "Preferences"
msgstr "Innstillinger"

#: gui/kstandardshortcut.cpp:160
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Sett opp verktøylinjer"

#: gui/kstandardshortcut.cpp:161
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Sett opp varslinger"

#: gui/kstandardshortcut.cpp:162
msgctxt "KStandardShortcut|@action"
msgid "Tip Of Day"
msgstr "Dagens tips"

#: gui/kstandardshortcut.cpp:163
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Rapporter feil"

#: gui/kstandardshortcut.cpp:164
msgctxt "KStandardShortcut|@action"
msgid "Switch Application Language"
msgstr "Bytt programspråk"

#: gui/kstandardshortcut.cpp:165
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "Om programmet"

#: gui/kstandardshortcut.cpp:166
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "Om KDE"

#: kconf_update/kconf_update.cpp:947
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "KDE-verktøy for å oppdatere brukerens oppsettsfiler"

#: kconf_update/kconf_update.cpp:949
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Behold sluttresultatet fra skript"

#: kconf_update/kconf_update.cpp:950
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "Sjekk om oppsettsfila selv trenger oppdatering"

#: kconfig_compiler/kconfig_compiler.cpp:1571
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Mappe der filer skal genereres [.]"

#: kconfig_compiler/kconfig_compiler.cpp:1572
msgctxt "main|"
msgid "directory"
msgstr "mappe"

#: kconfig_compiler/kconfig_compiler.cpp:1575
msgctxt "main|"
msgid "Display software license."
msgstr "Vis programvarelisens."

#: kreadconfig/kreadconfig.cpp:56 kreadconfig/kwriteconfig.cpp:35
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Bruk <fil> istedenfor globalt oppsett"

#: kreadconfig/kreadconfig.cpp:57 kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Group to look in. Use repeatedly for nested groups."
msgstr "Se i gruppe. Bruk flere ganger for grupper inni grupper."

#: kreadconfig/kreadconfig.cpp:58 kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "Key to look for"
msgstr "Nøkkel å se etter"

#: kreadconfig/kreadconfig.cpp:59
msgctxt "main|"
msgid "Default value"
msgstr "Standardverdi"

#: kreadconfig/kreadconfig.cpp:60
msgctxt "main|"
msgid "Type of variable"
msgstr "Variabeltype"

#: kreadconfig/kwriteconfig.cpp:38
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Variabeltype. Bruk \"bool\" for bolske verdier, ellers blir det behandlet "
"som en tekststreng"

#: kreadconfig/kwriteconfig.cpp:39
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr ""
"Verdien som skal skrives. Obligatorisk, i et skall må du bruke '' for tomme "
"verdier"
