# SPDX-FileCopyrightText: 2026 Kisaragi Hiu <mail@kisaragi-hiu.com>
msgid ""
msgstr ""
"Project-Id-Version: \n"
"PO-Revision-Date: 2026-06-08 01:52+0900\n"
"Last-Translator: Kisaragi Hiu <mail@kisaragi-hiu.com>\n"
"Language-Team: Taiwanese Hokkien <zh-l10n@lists.slat.org>\n"
"Language: nan_TW@latin\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Qt-Contexts: true\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"X-Generator: Lokalize 26.07.70\n"

#: core/kconfig.cpp:993
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Tshiánn kā lí-ê hē-thóng kuán-lí-tsiá liân-lo̍k."

#: core/kconfigini.cpp:459
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "Siat-tīng tóng-àn \"%1\" bô-huat-tōo siá-ji̍p.\n"

#: core/kemailsettings.cpp:128 core/kemailsettings.cpp:131
#: core/kemailsettings.cpp:139
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Ū-siat"

#: gui/kstandardactions.cpp:48
msgctxt "go back|"
msgid "&Back"
msgstr "Tńg-khì(&B)"

#: gui/kstandardactions.cpp:55
msgctxt "go forward|"
msgid "&Forward"
msgstr "Hiòng-tsiân(&F)"

#: gui/kstandardactions.cpp:62
msgctxt "home page|"
msgid "&Home"
msgstr "Thâu-ia̍h(&H)"

#: gui/kstandardactions_p.h:64
msgctxt "KStandardActions|"
msgid "&New"
msgstr "Kià&n-li̍p"

#: gui/kstandardactions_p.h:64
msgctxt "KStandardActions|"
msgid "Create new document"
msgstr "Kiàn-li̍p sin ê bûn-kiānn"

#: gui/kstandardactions_p.h:65
msgctxt "KStandardActions|"
msgid "&Open…"
msgstr "Phah-khui(&O)…"

#: gui/kstandardactions_p.h:65
msgctxt "KStandardActions|"
msgid "Open an existing document"
msgstr "Khui hiān-tsûn tóng-àn"

#: gui/kstandardactions_p.h:66
msgctxt "KStandardActions|"
msgid "Open &Recent"
msgstr "Khui Kīn-lâi Iōng--ê(&R)"

#: gui/kstandardactions_p.h:66
msgctxt "KStandardActions|"
msgid "Open a document which was recently opened"
msgstr "Khui tsuè-kīn ū khui kuè ê bûn-kiānn"

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "&Save"
msgstr "Tû-t&sûn"

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "Save document"
msgstr "Tû-tsûn bûn-kiānn"

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "Save &As…"
msgstr "Iōng Pa̍t-ê Miâ Tû-tsûn(&A)…"

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "Save document under a new name"
msgstr "Iōng sin-ê miâ tû-tsûn bûn-kiānn"

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Re&vert"
msgstr "Hue-ho̍k(&V)"

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Revert unsaved changes made to document"
msgstr "Kā bûn-kiānn iáu-buē tû-tsûn ê piàn-king hue-ho̍k--tiāu"

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "&Close"
msgstr "Kuainn(&C)"

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "Close document"
msgstr "Kuainn-tiāu bûn-kiānn"

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "&Print…"
msgstr "Lia̍t-ìn(&P)…"

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "Print document"
msgstr "Lia̍t-ìn bûn-kiānn"

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Print Previe&w"
msgstr "Ī-lám Lia̍t-ìn(&W)"

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Show a print preview of document"
msgstr "Hián-sī bûn-kiānn ê lia̍t-ìn liáu-āu ê kiat-kó ê ī-lám"

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "&Mail…"
msgstr "E&mail…"

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "Send document by mail"
msgstr "Iōng email thuân bûn-kiānn"

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "&Quit"
msgstr "&Lī-khui"

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "Quit application"
msgstr "Lī-khui ìng-iōng-tîng-sik"

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "&Undo"
msgstr "&Ho̍k-guân"

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "Undo last action"
msgstr "Ho̍k-guân tíng-kái ê tōng-tsok"

#: gui/kstandardactions_p.h:77
msgctxt "KStandardActions|"
msgid "Re&do"
msgstr "Tshú-s&iau ho̍k-guân"

#: gui/kstandardactions_p.h:77
msgctxt "KStandardActions|"
msgid "Redo last undone action"
msgstr "Kah tíng-kái ho̍k-guân ê tōng-tsok koh tsò tsi̍t-pái"

#: gui/kstandardactions_p.h:78
msgctxt "KStandardActions|"
msgid "Cu&t"
msgstr "K&a--lo̍h-lâi"

#: gui/kstandardactions_p.h:78
msgctxt "KStandardActions|"
msgid "Cut selection to clipboard"
msgstr "Kā suán-ê ka--lo̍h-lâi kàu tsián-tah-phōo"

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "&Copy"
msgstr "&Khóo-pih"

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "Copy selection to clipboard"
msgstr "Kā suán-ê khóo-pih kàu tsián-tah-phōo"

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "&Paste"
msgstr "&Tah--khí-khì"

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Paste clipboard content"
msgstr "Kā tsián-tah-phōo ê lāi-iông tah--khí-khì"

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "C&lear"
msgstr "Tshing-tû(&L)"

#: gui/kstandardactions_p.h:82
msgctxt "KStandardActions|"
msgid "Select &All"
msgstr "T&suān suán"

#: gui/kstandardactions_p.h:83
msgctxt "KStandardActions|"
msgid "Dese&lect"
msgstr "Bái Suán(&L)"

#: gui/kstandardactions_p.h:84
msgctxt "KStandardActions|"
msgid "&Find…"
msgstr "Tshuē(&F)…"

#: gui/kstandardactions_p.h:85
msgctxt "KStandardActions|"
msgid "Find &Next"
msgstr "Tshuē Ē-tsi̍t-ē(&N)"

#: gui/kstandardactions_p.h:86
msgctxt "KStandardActions|"
msgid "Find Pre&vious"
msgstr "Tshuē Tíng-tsi̍t-ê(&V)"

#: gui/kstandardactions_p.h:87
msgctxt "KStandardActions|"
msgid "&Replace…"
msgstr "Tshú-tāi(&R)…"

#: gui/kstandardactions_p.h:89
msgctxt "KStandardActions|"
msgid "Zoom to &Actual Size"
msgstr "Hòng-tuā kàu Si̍t-tsè Tuā-sè(&A)"

#: gui/kstandardactions_p.h:89
msgctxt "KStandardActions|"
msgid "View document at its actual size"
msgstr "Iōng si̍t-tsè ê tuā-sè kiám-sī bûn-kiānn"

#: gui/kstandardactions_p.h:90
msgctxt "KStandardActions|"
msgid "&Fit to Page"
msgstr "Hû-ha̍p Ia̍h(&F)"

#: gui/kstandardactions_p.h:90
msgctxt "KStandardActions|"
msgid "Zoom to fit page in window"
msgstr "Hòng-tuā kàu ia̍h hû-ha̍p sī-thang tuā-sè"

#: gui/kstandardactions_p.h:91
msgctxt "KStandardActions|"
msgid "Fit to Page &Width"
msgstr "Hû-ha̍p Ia̍h Khuan(&W)"

#: gui/kstandardactions_p.h:91
msgctxt "KStandardActions|"
msgid "Zoom to fit page width in window"
msgstr "Hòng-tuā kàu ia̍h ê khuah-tōo hû-ha̍p sī-thang"

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "Fit to Page &Height"
msgstr "Hû-ha̍p Ia̍h Kuân(&H)"

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "Zoom to fit page height in window"
msgstr "Hòng-tuā kàu ia̍h ê kuân-tōo hû-ha̍p sī-thang"

#: gui/kstandardactions_p.h:93
msgctxt "KStandardActions|"
msgid "Zoom &In"
msgstr "Hòng-tuā(&I)"

#: gui/kstandardactions_p.h:94
msgctxt "KStandardActions|"
msgid "Zoom &Out"
msgstr "Sok-sió(&O)"

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "&Zoom…"
msgstr "Hòng-tuā Sok-sió(&Z)…"

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "Select zoom level"
msgstr "Suán hòng-tuā thîng-tōo"

#: gui/kstandardactions_p.h:96
msgctxt "KStandardActions|"
msgid "&Refresh"
msgstr "Tîng Tsíng-lí(&R)"

#: gui/kstandardactions_p.h:96
msgctxt "KStandardActions|"
msgid "Refresh document"
msgstr "Tîng tsíng-lí bûn-kiānn"

#: gui/kstandardactions_p.h:98
msgctxt "KStandardActions|"
msgid "&Up"
msgstr "Óng siōng(&U)"

#: gui/kstandardactions_p.h:98
msgctxt "KStandardActions|"
msgid "Go up"
msgstr "Óng siōng khì"

#: gui/kstandardactions_p.h:103
msgctxt "KStandardActions|"
msgid "&Previous Page"
msgstr "Tíng-tsi̍t-ia̍h"

#: gui/kstandardactions_p.h:103
msgctxt "KStandardActions|"
msgid "Go to previous page"
msgstr "Tsiân-óng tíng-tsi̍t-ia̍h"

#: gui/kstandardactions_p.h:104
msgctxt "KStandardActions|"
msgid "&Next Page"
msgstr "Ē-tsi̍t-ia̍h"

#: gui/kstandardactions_p.h:104
msgctxt "KStandardActions|"
msgid "Go to next page"
msgstr "Tsiân-óng ē-tsi̍t-ia̍h"

#: gui/kstandardactions_p.h:105
msgctxt "KStandardActions|"
msgid "&Go To…"
msgstr "Tsiân-óng(&G)…"

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "&Go to Page…"
msgstr "Tsiân-óng Ia̍h(&G)…"

#: gui/kstandardactions_p.h:107
msgctxt "KStandardActions|"
msgid "&Go to Line…"
msgstr "Tsiân-óng Hâng(&G)…"

#: gui/kstandardactions_p.h:108
msgctxt "KStandardActions|"
msgid "&First Page"
msgstr "Thâu-ia̍h(&F)"

#: gui/kstandardactions_p.h:108
msgctxt "KStandardActions|"
msgid "Go to first page"
msgstr "Tsiân-óng thâu-ia̍h"

#: gui/kstandardactions_p.h:109
msgctxt "KStandardActions|"
msgid "&Last Page"
msgstr "Bué-ia̍h(&L)"

#: gui/kstandardactions_p.h:109
msgctxt "KStandardActions|"
msgid "Go to last page"
msgstr "Tsiân-óng bué-ia̍h"

#: gui/kstandardactions_p.h:110
msgctxt "KStandardActions|"
msgid "&Back"
msgstr "Hiòng-āu(&B)"

#: gui/kstandardactions_p.h:110
msgctxt "KStandardActions|"
msgid "Go back in document"
msgstr "Tī bûn-kiānn lāi-té hiòng-āu"

#: gui/kstandardactions_p.h:111
msgctxt "KStandardActions|"
msgid "&Forward"
msgstr "Hiòng-tsiân(&F)"

#: gui/kstandardactions_p.h:111
msgctxt "KStandardActions|"
msgid "Go forward in document"
msgstr "Tī bûn-kiānn lāi-té hiòng-tsiân"

#: gui/kstandardactions_p.h:113
msgctxt "KStandardActions|"
msgid "&Add Bookmark"
msgstr "Thi&am Su-tshiam"

#: gui/kstandardactions_p.h:114
msgctxt "KStandardActions|"
msgid "&Edit Bookmarks…"
msgstr "Pian-tsi̍p Su-tshiam(&E)…"

#: gui/kstandardactions_p.h:116
msgctxt "KStandardActions|"
msgid "&Spelling…"
msgstr "Kiám-t&sa Phing-jī…"

#: gui/kstandardactions_p.h:116
msgctxt "KStandardActions|"
msgid "Check spelling in document"
msgstr "Kiám-tsa bûn-kiānn phing-jī"

#: gui/kstandardactions_p.h:118
msgctxt "KStandardActions|"
msgid "Show &Menubar"
msgstr "Hián-sī Suán-tuann-lia̍t"

#: gui/kstandardactions_p.h:118
msgctxt "KStandardActions|"
msgid "Show or hide menubar"
msgstr "Tshiat-uānn hián-sī suán-tuann-lia̍t"

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "Show &Toolbar"
msgstr "Hián-sī Kang-kū-lia̍t(&T)"

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "Show or hide toolbar"
msgstr "Tshiat-uānn hián-sī kang-kū-lia̍t"

#: gui/kstandardactions_p.h:120
msgctxt "KStandardActions|"
msgid "Show St&atusbar"
msgstr "Hián-sī Tsōng-thài-lia̍t(&A)"

#: gui/kstandardactions_p.h:120
msgctxt "KStandardActions|"
msgid "Show or hide statusbar"
msgstr "Tshiat-uānn hián-sī tsōng-thài-lia̍t"

#: gui/kstandardactions_p.h:121
msgctxt "KStandardActions|"
msgid "F&ull Screen Mode"
msgstr "Ts&uân-îng-bōo Bôo-sik"

#: gui/kstandardactions_p.h:122
msgctxt "KStandardActions|"
msgid "Configure Keyboard S&hortcuts…"
msgstr "Siat-tīng K&hí-puânn Khuài-sok-khí…"

#: gui/kstandardactions_p.h:123
#, qt-format
msgctxt "KStandardActions|"
msgid "&Configure %1…"
msgstr "&Siat-tīng %1…"

#: gui/kstandardactions_p.h:124
msgctxt "KStandardActions|"
msgid "Configure Tool&bars…"
msgstr "Siat-tīng Kang-kū-lia̍t(&B)…"

#: gui/kstandardactions_p.h:125
msgctxt "KStandardActions|"
msgid "Configure &Notifications…"
msgstr "Siat-tīng Thong-ti(&N)…"

#: gui/kstandardactions_p.h:129
#, qt-format
msgctxt "KStandardActions|"
msgid "%1 &Handbook"
msgstr "%1 Ts&hiú-tsheh"

#: gui/kstandardactions_p.h:130
msgctxt "KStandardActions|"
msgid "What's &This?"
msgstr "&Tse-sī siánn?"

#: gui/kstandardactions_p.h:131
msgctxt "KStandardActions|"
msgid "&Report Bug…"
msgstr "Huê-pò tshò-gōo(&R)…"

#: gui/kstandardactions_p.h:132
msgctxt "KStandardActions|"
msgid "Configure &Language…"
msgstr "Siat-tīng Gí-giân(&L)…"

#: gui/kstandardactions_p.h:133
#, qt-format
msgctxt "KStandardActions|"
msgid "&About %1"
msgstr "%1 ê s&iāu-kài"

#: gui/kstandardactions_p.h:134
msgctxt "KStandardActions|"
msgid "About &KDE"
msgstr "&KDE ê siāu-kài"

#: gui/kstandardactions_p.h:135
msgctxt "KStandardActions|"
msgid "&Delete"
msgstr "Thâi-tiāu(&D)"

#: gui/kstandardactions_p.h:136
msgctxt "KStandardActions|"
msgid "&Rename…"
msgstr "Kái-miâ(&R)…"

#: gui/kstandardactions_p.h:137
msgctxt "KStandardActions|"
msgid "&Move to Trash"
msgstr "Suá-khì pùn-sò-tháng(&M)"

#: gui/kstandardactions_p.h:138
msgctxt "KStandardActions|"
msgid "&Donate"
msgstr "Kià-hù(&D)"

#: gui/kstandardactions_p.h:139
msgctxt "KStandardActions|"
msgid "Open &Menu"
msgstr "Phah-khui Suán-tuann(&M)"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Phah-khui"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Kiàn-li̍p"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Kuainn"

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Tû-tsûn"

#: gui/kstandardshortcut.cpp:77
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Lia̍t-ìn"

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Lī-khui"

#: gui/kstandardshortcut.cpp:81
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Ho̍k-guân"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Tshú-siau ho̍k-guân"

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Ka--lo̍h-lâi"

#: gui/kstandardshortcut.cpp:86
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Khóo-pih"

#: gui/kstandardshortcut.cpp:87
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Tah--khí-khì"

#: gui/kstandardshortcut.cpp:90
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Kā Suán-ti̍k-khu Tah--khí-khì"

#: gui/kstandardshortcut.cpp:97
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Tsuān Suán"

#: gui/kstandardshortcut.cpp:98
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Bái Suán"

#: gui/kstandardshortcut.cpp:101
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Thâi-tiāu Tíng-tsi̍t-ê Sû"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Thâi-tiāu Ē-tsi̍t-ê Sû"

#: gui/kstandardshortcut.cpp:124
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Tshuē"

#: gui/kstandardshortcut.cpp:127
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Tshuē Ē-tsi̍t-ē"

#: gui/kstandardshortcut.cpp:137
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Tshuē Tíng-tsi̍t-ē"

#: gui/kstandardshortcut.cpp:138
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Tshú-tāi"

#: gui/kstandardshortcut.cpp:143
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Thâu-ia̍h"

#: gui/kstandardshortcut.cpp:151
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Khai-sí"

#: gui/kstandardshortcut.cpp:163
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Āu-bué"

#: gui/kstandardshortcut.cpp:173
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Tíng-tsi̍t-ē"

#: gui/kstandardshortcut.cpp:176
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Ē-tsi̍t-ē"

#: gui/kstandardshortcut.cpp:183
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Óng siōng"

#: gui/kstandardshortcut.cpp:186
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Tńg-khì"

#: gui/kstandardshortcut.cpp:198
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Hiòng-tsiân"

#: gui/kstandardshortcut.cpp:210
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Tîng Tsài-ji̍p"

#: gui/kstandardshortcut.cpp:219
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Hâng-thâu"

#: gui/kstandardshortcut.cpp:231
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Hâng-bué"

#: gui/kstandardshortcut.cpp:243
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Tsiân-óng Hâng"

#: gui/kstandardshortcut.cpp:255
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Tíng-tsi̍t-ê Sû"

#: gui/kstandardshortcut.cpp:267
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Ē-tsi̍t-ê Sû"

#: gui/kstandardshortcut.cpp:280
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Thiam Su-tshiam"

#: gui/kstandardshortcut.cpp:286
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Hòng-tuā"

#: gui/kstandardshortcut.cpp:287
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Sok-sió"

#: gui/kstandardshortcut.cpp:290
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Tsuân-îng-bōo Bôo-sik"

#: gui/kstandardshortcut.cpp:301
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Hián-sī Suán-tuann-lia̍t"

#: gui/kstandardshortcut.cpp:304
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Tshiat-uānn Kàu Ē-tsi̍t-ê Hun-ia̍h"

#: gui/kstandardshortcut.cpp:312
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Tshiat-uānn Kàu Tíng-tsi̍t-ê Hun-ia̍h"

#: gui/kstandardshortcut.cpp:320
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Suat-bîng"

#: gui/kstandardshortcut.cpp:321
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "Tse-sī siánn"

#: gui/kstandardshortcut.cpp:326
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Bûn-jī Póo-tsuân"

#: gui/kstandardshortcut.cpp:334
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Tíng-tsi̍t-ê Póo-tsuân Hû-ha̍p"

#: gui/kstandardshortcut.cpp:346
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Ē-tsi̍t-ê Póo-tsuân Hû-ha̍p"

#: gui/kstandardshortcut.cpp:358
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Tsí-jī-tshng Póo-tsuân"

#: gui/kstandardshortcut.cpp:367
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Tuann ê Tíng-tsi̍t-ê Hāng-bo̍k"

#: gui/kstandardshortcut.cpp:375
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Tuann ê Ē-tsi̍t-ê Hāng-bo̍k"

#: gui/kstandardshortcut.cpp:382
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Khui Kīn-lâi Iōng--ê"

#: gui/kstandardshortcut.cpp:383
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Iōng Pa̍t-ê Miâ Tû-tsûn"

#: gui/kstandardshortcut.cpp:384
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Hue-ho̍k"

#: gui/kstandardshortcut.cpp:385
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Ī-lám Lia̍t-ìn"

#: gui/kstandardshortcut.cpp:386
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "Email"

#: gui/kstandardshortcut.cpp:387
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Tshing-tû"

#: gui/kstandardshortcut.cpp:390
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr "Hòng-tuā kàu Si̍t-tsè Tuā-sè"

#: gui/kstandardshortcut.cpp:396
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Hû-ha̍p Ia̍h"

#: gui/kstandardshortcut.cpp:397
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Hû-ha̍p Khuah-tōo"

#: gui/kstandardshortcut.cpp:398
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Hû-ha̍p Kuân-tōo"

#: gui/kstandardshortcut.cpp:399
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Hòng-tuā Sok-sió"

#: gui/kstandardshortcut.cpp:400
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Tsiân-óng"

#: gui/kstandardshortcut.cpp:401
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Tsiân-óng Ia̍h"

#: gui/kstandardshortcut.cpp:404
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Bûn-kiānn Thè-āu"

#: gui/kstandardshortcut.cpp:412
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Bûn-kiānn Hiòng-tsiân"

#: gui/kstandardshortcut.cpp:420
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Pian-tsi̍p Su-tshiam"

#: gui/kstandardshortcut.cpp:426
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Kiám-tsa Phing-jī"

#: gui/kstandardshortcut.cpp:427
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Hián-sī Kang-kū-lia̍t"

#: gui/kstandardshortcut.cpp:428
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Hián-sī Tsōng-thài-lia̍t"

#: gui/kstandardshortcut.cpp:431
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Khuài-sok-khí"

#: gui/kstandardshortcut.cpp:439
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "Siat-tīng Ìng-iōng-tîng-sik"

#: gui/kstandardshortcut.cpp:447
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Siat-tīng Kang-kū-lia̍t"

#: gui/kstandardshortcut.cpp:455
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Siat-tīng Thong-ti"

#: gui/kstandardshortcut.cpp:461
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Huê-pò tshò-gōo"

#: gui/kstandardshortcut.cpp:464
msgctxt "KStandardShortcut|@action"
msgid "Configure Language…"
msgstr "Siat-tīng Gí-giân…"

#: gui/kstandardshortcut.cpp:470
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "Ìng-iōng-tîng-sik ê Siāu-kài"

#: gui/kstandardshortcut.cpp:471
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "KDE ê siāu-kài"

#: gui/kstandardshortcut.cpp:474
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "Thâi-tiāu"

#: gui/kstandardshortcut.cpp:475
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "Kái-miâ"

#: gui/kstandardshortcut.cpp:478
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "Suá-khì pùn-sò-tháng"

#: gui/kstandardshortcut.cpp:484
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "Kià-hù"

#: gui/kstandardshortcut.cpp:487
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr "Hián-sī/tshàng Ún-tsông-tóng-àn"

#: gui/kstandardshortcut.cpp:495
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr "Kiàn-li̍p Tsu-liāu-giap-á"

#: gui/kstandardshortcut.cpp:503
msgctxt ""
"KStandardShortcut|@action referring to the menu bar or a hamburger menu"
msgid "Open Main Menu"
msgstr "Khui Tsú-suán-tuann"

#: gui/kstandardshortcut.cpp:511
msgctxt "KStandardShortcut|@action"
msgid "Open Context Menu"
msgstr "Khui Tsiànn-tsí-suán-tuann"

#: kconf_update/kconf_update.cpp:368
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "King-sin iōng-tsiá siat-tīng tóng-àn iōng ê KDE kang-kū"

#: kconf_update/kconf_update.cpp:370
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Pó-liû uì kio̍k-pún su-tshut ê kiat-kó"

#: kconf_update/kconf_update.cpp:373
msgctxt "main|"
msgid ""
"For unit tests only: do not write the done entries, so that with every re-"
"run, the scripts are executed again"
msgstr ""
"Tan-uī tshik-tshì iōng: bái siá uân-sîng ê hāng-bo̍k, án-ne ta̍k-pái tîng-sin "
"tsip-hîng tshik-tshì ê sî-tsūn, kio̍k-pún mā ē tsò-hué tîng-sin tsip-hîng"

#: kconf_update/kconf_update.cpp:375
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "Kiám-tsa siat-tīng tóng-àn pûn-sin kám sū-iàu king-sin"

#: kconf_update/kconf_update.cpp:378
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "Uì tsit-ê tóng-àn tha̍k king-sin tsí-līng"

#: kconfig_compiler/kconfig_compiler.cpp:739
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Ài sán-sing tóng-àn kàu ê bo̍k-lo̍k [.]"

#: kconfig_compiler/kconfig_compiler.cpp:740
msgctxt "main|"
msgid "directory"
msgstr "tsu-liāu-giap-á"

#: kconfig_compiler/kconfig_compiler.cpp:744
msgctxt "main|"
msgid "Display software license."
msgstr "Hián-sī nńg-thé siū-khuân."

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Iōng <file>, bái iōng tsuân-i̍k siat-tīng"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr ""
"Tī tsit-ê kûn-tsoo lāi-té tshuē. Iōng \"<default>\" lâi tshuē kin-kûn-tsoo, "
"á-sī tîng-ho̍k sú-iōng lâi tshuē nested ê kûn-tsoo."

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "Ài tshuē ê kiān"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "Ū-siat ti̍t"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "Piàn-sòo ê luī-hîng"

#: kreadconfig/kreadconfig.cpp:55
msgctxt "main|"
msgid "Dump all entries"
msgstr "Tó-tshut sóo-ū ê hāng-bo̍k"

#: kreadconfig/kreadconfig.cpp:58
msgctxt "main|"
msgid ""
"Include globals; by default, the global config files are not read if a file "
"is specified"
msgstr ""
"Pau-kuat tsuân-i̍k siat-tīng; ū-siat sī tī ū tsí-tīng tóng-àn ê sî-tsūn bē "
"tho̍k-tshú tsuán-i̍k siat-tīng tóng-àn"

#: kreadconfig/kreadconfig.cpp:89 kreadconfig/kwriteconfig.cpp:71
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr ""
"Kûn-tsoo miâ bē-sái sī khang ê, ài tsí-tīng kin-kûn-tsoo tshiánn iōng "
"\"<default>\""

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Piàn-sòo ê luī-hîng. Iōng \"bool\" lâi tsí-tīng pòo-lîm-ti̍t, kî-thann ê ti̍t "
"lóng sī tòng-tsò jī-tshng."

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr "Nā khé-iōng, thâi-tiāu tsí-tīng ê kiān"

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "notify|"
msgid "Notify applications of the change"
msgstr "Kā ìng-iōng-tîng-sik thong-ti piàn-king"

#: kreadconfig/kwriteconfig.cpp:38
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr ""
"Ài siá-ji̍p ê ti̍t. Su-iàu thê-kiong. Ài thê-kiong khang ê ti̍t, tī shell "
"tshiánn siá ''"
