# translation of kwriteconfig.po to Punjabi
# Amanpreet Singh Alam <aalam@redhat.com>, 2004, 2005.
# Amanpreet Singh Brar <amanpreetalam@yahoo.com>, 2005.
# A S Alam <aalam@users.sf.net>, 2007, 2009, 2010, 2014, 2018.
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2018-11-08 23:02-0800\n"
"Last-Translator: A S Alam <alam.yellow@gmail.com>\n"
"Language-Team: Punjabi <punjabi-users@lists.sf.net>\n"
"Language: pa\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 2.0\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:965
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "ਆਪਣੇ ਸਿਸਟਮ ਐਡਮਿਨਸਟੇਟਰ ਨਾਲ ਸੰਪਰਕ ਕਰੋ ਜੀ।"

#: core/kconfigini.cpp:572
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "ਸੰਰਚਨਾ ਫਾਈਲ \"%1\" ਲਿਖਣਯੋਗ ਹੈ।\n"

#: core/kemailsettings.cpp:237 core/kemailsettings.cpp:240
#: core/kemailsettings.cpp:248
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "ਡਿਫਾਲਟ"

#: gui/kstandardshortcut.cpp:70
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "ਖੋਲ੍ਹੋ"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "ਨਵਾਂ"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "ਬੰਦ ਕਰੋ"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "ਸੰਭਾਲੋ"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "ਪਰਿੰਟ ਕਰੋ"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "ਬਾਹਰ"

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "ਵਾਪਿਸ"

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "ਪਰਤਾਓ"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "ਕੱਟੋ"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "ਕਾਪੀ ਕਰੋ"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "ਚੇਪੋ"

#: gui/kstandardshortcut.cpp:87
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "ਚੋਣ ਕੀਤੀ ਨੂੰ ਚੇਪੋ"

#: gui/kstandardshortcut.cpp:94
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "ਸਭ ਚੁਣੋ"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "ਅਣ-ਚੁਣੇ ਕਰੋ"

#: gui/kstandardshortcut.cpp:98
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "ਅੱਖਰ ਪਿੱਛੇ ਵੱਲ ਹਟਾਓ"

#: gui/kstandardshortcut.cpp:106
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "ਅੱਖਰ ਅੱਗੇ ਵੱਲ ਹਟਾਓ"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "ਖੋਜੋ"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "ਅੱਗੇ ਖੋਜੋ"

#: gui/kstandardshortcut.cpp:115
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "ਪਿੱਛੇ ਖੋਜੋ"

#: gui/kstandardshortcut.cpp:116
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "ਤਬਦੀਲ ਕਰੋ"

#: gui/kstandardshortcut.cpp:121
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "ਘਰ"

#: gui/kstandardshortcut.cpp:129
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "ਸ਼ੁਰੂ"

#: gui/kstandardshortcut.cpp:135
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "ਅੰਤ"

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "ਦਰਜਾ"

#: gui/kstandardshortcut.cpp:139
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "ਅੱਗੇ"

#: gui/kstandardshortcut.cpp:146
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "ਉੱਤੇ"

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "ਪਿੱਛੇ"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "ਅੱਗੇ"

#: gui/kstandardshortcut.cpp:158
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "ਮੁੜ-ਲੋਡ ਕਰੋ"

#: gui/kstandardshortcut.cpp:167
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "ਲਾਈਨ ਦੇ ਸ਼ੁਰੂ ਉੱਤੇ"

#: gui/kstandardshortcut.cpp:175
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "ਲਾਈਨ ਦੇ ਅੰਤ ਉੱਤੇ"

#: gui/kstandardshortcut.cpp:181
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "ਲਾਈਨ ਉੱਤੇ ਜਾਓ"

#: gui/kstandardshortcut.cpp:184
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "ਪਿੱਛੇ ਸ਼ਬਦ"

#: gui/kstandardshortcut.cpp:192
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "ਅੱਗੇ ਸ਼ਬਦ"

#: gui/kstandardshortcut.cpp:201
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "ਬੁੱਕਮਾਰਕ ਜੋੜੋ"

#: gui/kstandardshortcut.cpp:207
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "ਜ਼ੂਮ ਇਨ"

#: gui/kstandardshortcut.cpp:208
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "ਜ਼ੂਮ ਆਉਟ"

#: gui/kstandardshortcut.cpp:211
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "ਪੂਰਾ ਸਕਰੀਨ ਮੋਡ"

#: gui/kstandardshortcut.cpp:218
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr ""

#: gui/kstandardshortcut.cpp:221
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr ""

#: gui/kstandardshortcut.cpp:229
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr ""

#: gui/kstandardshortcut.cpp:237
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "ਮਦਦ"

#: gui/kstandardshortcut.cpp:238
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "ਇਹ ਕੀ ਹੈ"

#: gui/kstandardshortcut.cpp:243
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr ""

#: gui/kstandardshortcut.cpp:251
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr ""

#: gui/kstandardshortcut.cpp:259
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr ""

#: gui/kstandardshortcut.cpp:267
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr ""

#: gui/kstandardshortcut.cpp:276
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr ""

#: gui/kstandardshortcut.cpp:284
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr ""

#: gui/kstandardshortcut.cpp:291
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "ਤਾਜ਼ਾ ਖੋਲ੍ਹੋ"

#: gui/kstandardshortcut.cpp:292
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "ਇੰਝ ਸੰਭਾਲੋ"

#: gui/kstandardshortcut.cpp:293
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr ""

#: gui/kstandardshortcut.cpp:294
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "ਪਰਿੰਟ ਝਲਕ"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "ਮੇਲ"

#: gui/kstandardshortcut.cpp:296
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "ਸਾਫ਼ ਕਰੋ"

#: gui/kstandardshortcut.cpp:297
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr ""

#: gui/kstandardshortcut.cpp:298
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "ਸਫ਼ੇ ਲਈ ਫਿੱਟ ਕਰੋ"

#: gui/kstandardshortcut.cpp:299
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr ""

#: gui/kstandardshortcut.cpp:300
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr ""

#: gui/kstandardshortcut.cpp:301
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "ਜ਼ੂਮ"

#: gui/kstandardshortcut.cpp:302
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "ਜਾਓ"

#: gui/kstandardshortcut.cpp:303
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "ਸਫ਼ੇ ਉੱਤੇ ਜਾਓ"

#: gui/kstandardshortcut.cpp:306
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr ""

#: gui/kstandardshortcut.cpp:314
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr ""

#: gui/kstandardshortcut.cpp:322
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr ""

#: gui/kstandardshortcut.cpp:328
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "ਸਪੈਲਿੰਗ"

#: gui/kstandardshortcut.cpp:329
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "ਟੂਲਬਾਰ ਵੇਖਾਓ"

#: gui/kstandardshortcut.cpp:330
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "ਹਾਲਤ-ਪੱਟੀ ਵੇਖਾਓ"

#: gui/kstandardshortcut.cpp:332
msgctxt "KStandardShortcut|@action"
msgid "Save Options"
msgstr "ਚੋਣਾਂ ਸੰਭਾਲੋ"

#: gui/kstandardshortcut.cpp:337
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr ""

#: gui/kstandardshortcut.cpp:340
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "ਐਪਲੀਕੇਸ਼ਨ ਸੰਰਚਨਾ"

#: gui/kstandardshortcut.cpp:348
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr ""

#: gui/kstandardshortcut.cpp:356
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "ਸੂਚਨਾਵਾਂ ਸੰਰਚਨਾ"

#: gui/kstandardshortcut.cpp:362
msgctxt "KStandardShortcut|@action"
msgid "Tip Of Day"
msgstr ""

#: gui/kstandardshortcut.cpp:363
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr ""

#: gui/kstandardshortcut.cpp:366
msgctxt "KStandardShortcut|@action"
msgid "Configure Language..."
msgstr ""

#: gui/kstandardshortcut.cpp:372
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "ਐਪਲੀਕੇਸ਼ਨ ਬਾਰੇ"

#: gui/kstandardshortcut.cpp:373
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "ਕੇਡੀਈ ਬਾਰੇ"

#: gui/kstandardshortcut.cpp:376
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "ਹਟਾਓ"

#: gui/kstandardshortcut.cpp:377
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "ਨਾਂ ਬਦਲੋ"

#: gui/kstandardshortcut.cpp:380
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "ਰੱਦੀ ਵਿੱਚ ਭੇਜੋ"

#: gui/kstandardshortcut.cpp:386
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "ਦਾਨ ਕਰੋ"

#: gui/kstandardshortcut.cpp:389
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr ""

#: gui/kstandardshortcut.cpp:397
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr ""

#: kconf_update/kconf_update.cpp:959
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "ਯੂਜ਼ਰ ਸੰਰਚਨਾ ਫਾਈਲਾਂ ਦੇ ਅੱਪਡੇਟ ਲਈ KDE ਟੂਲ"

#: kconf_update/kconf_update.cpp:961
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "ਸਕਰਿਪਟਾਂ ਤੋਂ ਪ੍ਰਾਪਤ ਨਤੀਜੇ ਰੱਖੋ"

#: kconf_update/kconf_update.cpp:964
msgctxt "main|"
msgid ""
"For unit tests only: use test directories to stay away from the user's real "
"files"
msgstr ""

#: kconf_update/kconf_update.cpp:966
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "ਜਾਂਚ ਕਰੋ ਕਿ config ਫਾਈਲ ਨੂੰ ਅੱਪਡੇਟ ਦੀ ਲੋੜ ਹੈ।"

#: kconf_update/kconf_update.cpp:969
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:708
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:709
msgctxt "main|"
msgid "directory"
msgstr "ਡਾਇਰੈਕਟਰੀ"

#: kconfig_compiler/kconfig_compiler.cpp:713
msgctxt "main|"
msgid "Display software license."
msgstr "ਸਾਫਟਵੇਅਰ ਲਾਈਸੈਂਸ ਵੇਖੋ।"

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "ਗਲੋਬਲ ਸੰਰਚਨਾ ਦੀ ਬਜਾਏ <file> ਵਰਤੋਂ"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
#, fuzzy
#| msgctxt "main|"
#| msgid "Group to look in. Use repeatedly for nested groups."
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr "ਲੱਭਣ ਲਈ ਗਰੁੱਪ। ਅੰਦਰੂਨੀ ਗਰੁੱਪਾਂ ਲਈ ਲਗਾਤਾਰ ਵਰਤੋਂ।"

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "ਖੋਜ ਲਈ ਕੁੰਜੀ"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "ਡਿਫਾਲਟ ਮੁੱਲ"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "ਵੇਰੀਬਲ ਦੀ ਟਾਈਪ"

#: kreadconfig/kreadconfig.cpp:84 kreadconfig/kwriteconfig.cpp:69
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr ""

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr "ਵੇਰੀਬਲ ਦੀ ਕਿਸਮ। ਬੁਲੀਅਨ ਲਈ \"bool\" ਵਰਤੋਂ, ਨਹੀਂ ਤਾਂ ਇਸ ਨੂੰ ਸਤਰ ਹੀ ਮੰਨਿਆ ਜਾਵੇਗਾ।"

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr ""

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "ਲਿਖਣ ਲਈ ਮੁੱਲ। ਲਾਜ਼ਮੀ ਰੂਪ ਵਿੱਚ ਸੈੱਲ ਉੱਤੇ ਖਾਲੀ ਲਈ '' ਵਰਤੋਂ"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Switch Application Language"
#~ msgstr "ਐਪਲੀਕੇਸ਼ਨ ਭਾਸ਼ਾ ਬਦਲੋ"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Preferences"
#~ msgstr "ਮੇਰੀ ਪਸੰਦ"

#~ msgid "KWriteConfig"
#~ msgstr "KWriteConfig"

#~ msgid "Write KConfig entries - for use in shell scripts"
#~ msgstr "KConfig ਇੰਦਰਾਜ਼ ਲਿਖੋ - ਸੈੱਲ ਸਕਰਿਪਟ ਵਿੱਚ ਵਰਤਣ ਲਈ"

#~ msgid "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"
#~ msgstr "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"

#~ msgid "Wrote kreadconfig on which this is based"
#~ msgstr "kreadconfig ਲਿਖੋ, ਜਿਸ ਉੱਤੇ ਇਹ ਅਧਾਰਿਤ ਹੈ"

#~ msgid "Luís Pedro Coelho"
#~ msgstr "ਲਿਊਸ ਪੀਡਰੋ ਕੋਈਲਹੋ"

#~ msgid "Bernhard Rosenkraenzer"
#~ msgstr "Bernhard Rosenkraenzer"
