include($KDE_DOCS/global/qt-module-defaults.qdocconf)

project = KConfigCore
description = Persistent platform-independent application settings

documentationinheaders = true

headerdirs += .
sourcedirs += . ../kconf_update ../kconfig_compiler

outputformats = HTML

navigation.landingpage = "KConfig"

depends += \
    kde \
    qtcore \
    kconfiggui \
    kconfigqml
