[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KConfigBackend

Comment=Storage backend for KConfig
Comment[uk]=Модуль зберігання даних для KConfig
Comment[x-test]=xxStorage backend for KConfigxx

