include($KDE_DOCS/global/qt-module-defaults.qdocconf)

project = KConfigCore
description = I am XML

documentationinheaders = true

headerdirs = .
sourcedirs = .

outputformats = HTML

depends += \
    qtcore
