# Safa Alfulaij <safa1996alfulaij@gmail.com>, 2014, 2017, 2018.
# SPDX-FileCopyrightText: 2021, 2022, 2023, 2024 Zayed Al-Saidi <zayed.alsaidi@gmail.com>
msgid ""
msgstr ""
"Project-Id-Version: \n"
"Report-Msgid-Bugs-To: \n"
"POT-Creation-Date: 2014-06-28 15:38+0300\n"
"PO-Revision-Date: 2024-05-09 09:47+0400\n"
"Last-Translator: Zayed Al-Saidi <zayed.alsaidi@gmail.com>\n"
"Language-Team: ar\n"
"Language: ar\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=6; plural=n==0 ? 0 : n==1 ? 1 : n==2 ? 2 : n%100>=3 "
"&& n%100<=10 ? 3 : n%100>=11 ? 4 : 5;\n"
"X-Generator: Lokalize 23.08.1\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:940
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "رجاءً راسل مدير النظام."

#: core/kconfigini.cpp:561
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "لا يمكن الكتابة في ملف الضبط ”%1“.\n"

#: core/kemailsettings.cpp:128 core/kemailsettings.cpp:131
#: core/kemailsettings.cpp:139
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "المبدئي"

#: gui/kstandardactions.cpp:49
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Back"
msgctxt "go back|"
msgid "&Back"
msgstr "عُد"

#: gui/kstandardactions.cpp:56
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Forward"
msgctxt "go forward|"
msgid "&Forward"
msgstr "تقدّم"

#: gui/kstandardactions.cpp:63
#, fuzzy
#| msgctxt "KStandardShortcut|@action Go to main page"
#| msgid "Home"
msgctxt "home page|"
msgid "&Home"
msgstr "المنزل"

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "&New"
msgstr ""

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "Create new document"
msgstr ""

#: gui/kstandardactions_p.h:68
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Open"
msgctxt "KStandardActions|"
msgid "&Open…"
msgstr "افتح"

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "Open an existing document"
msgstr ""

#: gui/kstandardactions_p.h:69
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Open Recent"
msgctxt "KStandardActions|"
msgid "Open &Recent"
msgstr "افتح ملفاً حديثًا"

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Open a document which was recently opened"
msgstr ""

#: gui/kstandardactions_p.h:70
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Save"
msgctxt "KStandardActions|"
msgid "&Save"
msgstr "احفظ"

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "Save document"
msgstr ""

#: gui/kstandardactions_p.h:71
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Save As"
msgctxt "KStandardActions|"
msgid "Save &As…"
msgstr "احفظ كَ‍"

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "Save document under a new name"
msgstr ""

#: gui/kstandardactions_p.h:72
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Revert"
msgctxt "KStandardActions|"
msgid "Re&vert"
msgstr "اعكس"

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Revert unsaved changes made to document"
msgstr ""

#: gui/kstandardactions_p.h:73
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Close"
msgctxt "KStandardActions|"
msgid "&Close"
msgstr "أغلق"

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "Close document"
msgstr ""

#: gui/kstandardactions_p.h:74
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Print"
msgctxt "KStandardActions|"
msgid "&Print…"
msgstr "اطبع"

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "Print document"
msgstr ""

#: gui/kstandardactions_p.h:75
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Print Preview"
msgctxt "KStandardActions|"
msgid "Print Previe&w"
msgstr "عاين الطباعة"

#: gui/kstandardactions_p.h:75
msgctxt "KStandardActions|"
msgid "Show a print preview of document"
msgstr ""

#: gui/kstandardactions_p.h:76
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Mail"
msgctxt "KStandardActions|"
msgid "&Mail…"
msgstr "أبرِد"

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "Send document by mail"
msgstr ""

#: gui/kstandardactions_p.h:77
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Quit"
msgctxt "KStandardActions|"
msgid "&Quit"
msgstr "أنهِ"

#: gui/kstandardactions_p.h:77
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "About Application"
msgctxt "KStandardActions|"
msgid "Quit application"
msgstr "عن التطبيق"

#: gui/kstandardactions_p.h:79
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Undo"
msgctxt "KStandardActions|"
msgid "&Undo"
msgstr "تراجع"

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "Undo last action"
msgstr ""

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Re&do"
msgstr ""

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Redo last undone action"
msgstr ""

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cu&t"
msgstr ""

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cut selection to clipboard"
msgstr ""

#: gui/kstandardactions_p.h:82
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Copy"
msgctxt "KStandardActions|"
msgid "&Copy"
msgstr "انسخ"

#: gui/kstandardactions_p.h:82
msgctxt "KStandardActions|"
msgid "Copy selection to clipboard"
msgstr ""

#: gui/kstandardactions_p.h:83
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Paste"
msgctxt "KStandardActions|"
msgid "&Paste"
msgstr "ألصق"

#: gui/kstandardactions_p.h:83
msgctxt "KStandardActions|"
msgid "Paste clipboard content"
msgstr ""

#: gui/kstandardactions_p.h:84
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Clear"
msgctxt "KStandardActions|"
msgid "C&lear"
msgstr "امسح"

#: gui/kstandardactions_p.h:85
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Select All"
msgctxt "KStandardActions|"
msgid "Select &All"
msgstr "حدّد الكل"

#: gui/kstandardactions_p.h:86
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Deselect"
msgctxt "KStandardActions|"
msgid "Dese&lect"
msgstr "أزل التحديد"

#: gui/kstandardactions_p.h:87
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Find"
msgctxt "KStandardActions|"
msgid "&Find…"
msgstr "ابحث"

#: gui/kstandardactions_p.h:88
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Find Next"
msgctxt "KStandardActions|"
msgid "Find &Next"
msgstr "ابحث عن التالي"

#: gui/kstandardactions_p.h:89
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Find Prev"
msgctxt "KStandardActions|"
msgid "Find Pre&vious"
msgstr "ابحث عن السابق"

#: gui/kstandardactions_p.h:90
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Replace"
msgctxt "KStandardActions|"
msgid "&Replace…"
msgstr "استبدل"

#: gui/kstandardactions_p.h:92
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom to Actual Size"
msgctxt "KStandardActions|"
msgid "Zoom to &Actual Size"
msgstr "كبر للحجم الفعلي"

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "View document at its actual size"
msgstr ""

#: gui/kstandardactions_p.h:93
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Page"
msgctxt "KStandardActions|"
msgid "&Fit to Page"
msgstr "لائم إلى الصفحة"

#: gui/kstandardactions_p.h:93
msgctxt "KStandardActions|"
msgid "Zoom to fit page in window"
msgstr ""

#: gui/kstandardactions_p.h:94
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Width"
msgctxt "KStandardActions|"
msgid "Fit to Page &Width"
msgstr "لائم إلى العرض"

#: gui/kstandardactions_p.h:94
msgctxt "KStandardActions|"
msgid "Zoom to fit page width in window"
msgstr ""

#: gui/kstandardactions_p.h:95
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Height"
msgctxt "KStandardActions|"
msgid "Fit to Page &Height"
msgstr "لائم إلى الارتفاع"

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "Zoom to fit page height in window"
msgstr ""

#: gui/kstandardactions_p.h:96
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom In"
msgctxt "KStandardActions|"
msgid "Zoom &In"
msgstr "قرّب"

#: gui/kstandardactions_p.h:97
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom Out"
msgctxt "KStandardActions|"
msgid "Zoom &Out"
msgstr "بعّد"

#: gui/kstandardactions_p.h:98
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom"
msgctxt "KStandardActions|"
msgid "&Zoom…"
msgstr "التقريب"

#: gui/kstandardactions_p.h:98
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Select All"
msgctxt "KStandardActions|"
msgid "Select zoom level"
msgstr "حدّد الكل"

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "&Refresh"
msgstr ""

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "Refresh document"
msgstr ""

#: gui/kstandardactions_p.h:101
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Up"
msgctxt "KStandardActions|"
msgid "&Up"
msgstr "لأعلى"

#: gui/kstandardactions_p.h:101
msgctxt "KStandardActions|"
msgid "Go up"
msgstr ""

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "&Previous Page"
msgstr ""

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "Go to previous page"
msgstr ""

#: gui/kstandardactions_p.h:107
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Goto Page"
msgctxt "KStandardActions|"
msgid "&Next Page"
msgstr "انتقل إلى صفحة"

#: gui/kstandardactions_p.h:107
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Go to Line"
msgctxt "KStandardActions|"
msgid "Go to next page"
msgstr "انتقل إلى سطر"

#: gui/kstandardactions_p.h:108
msgctxt "KStandardActions|"
msgid "&Go To…"
msgstr ""

#: gui/kstandardactions_p.h:109
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Goto Page"
msgctxt "KStandardActions|"
msgid "&Go to Page…"
msgstr "انتقل إلى صفحة"

#: gui/kstandardactions_p.h:110
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Go to Line"
msgctxt "KStandardActions|"
msgid "&Go to Line…"
msgstr "انتقل إلى سطر"

#: gui/kstandardactions_p.h:111
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Page"
msgctxt "KStandardActions|"
msgid "&First Page"
msgstr "لائم إلى الصفحة"

#: gui/kstandardactions_p.h:111
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Go to Line"
msgctxt "KStandardActions|"
msgid "Go to first page"
msgstr "انتقل إلى سطر"

#: gui/kstandardactions_p.h:112
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Goto Page"
msgctxt "KStandardActions|"
msgid "&Last Page"
msgstr "انتقل إلى صفحة"

#: gui/kstandardactions_p.h:112
msgctxt "KStandardActions|"
msgid "Go to last page"
msgstr ""

#: gui/kstandardactions_p.h:113
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Back"
msgctxt "KStandardActions|"
msgid "&Back"
msgstr "عُد"

#: gui/kstandardactions_p.h:113
msgctxt "KStandardActions|"
msgid "Go back in document"
msgstr ""

#: gui/kstandardactions_p.h:114
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Forward"
msgctxt "KStandardActions|"
msgid "&Forward"
msgstr "تقدّم"

#: gui/kstandardactions_p.h:114
msgctxt "KStandardActions|"
msgid "Go forward in document"
msgstr ""

#: gui/kstandardactions_p.h:116
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Add Bookmark"
msgctxt "KStandardActions|"
msgid "&Add Bookmark"
msgstr "أضف علامة"

#: gui/kstandardactions_p.h:117
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Edit Bookmarks"
msgctxt "KStandardActions|"
msgid "&Edit Bookmarks…"
msgstr "حرّر العلامات"

#: gui/kstandardactions_p.h:119
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Spelling"
msgctxt "KStandardActions|"
msgid "&Spelling…"
msgstr "الإملاء"

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "Check spelling in document"
msgstr ""

#: gui/kstandardactions_p.h:121
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Menu Bar"
msgctxt "KStandardActions|"
msgid "Show &Menubar"
msgstr "اعرض شريط القوائم"

#: gui/kstandardactions_p.h:121
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Menu Bar"
msgctxt "KStandardActions|"
msgid "Show or hide menubar"
msgstr "اعرض شريط القوائم"

#: gui/kstandardactions_p.h:122
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Toolbar"
msgctxt "KStandardActions|"
msgid "Show &Toolbar"
msgstr "اعرض شريط الأدوات"

#: gui/kstandardactions_p.h:122
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Toolbar"
msgctxt "KStandardActions|"
msgid "Show or hide toolbar"
msgstr "اعرض شريط الأدوات"

#: gui/kstandardactions_p.h:123
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Statusbar"
msgctxt "KStandardActions|"
msgid "Show St&atusbar"
msgstr "اعرض شريط الحالة"

#: gui/kstandardactions_p.h:123
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Statusbar"
msgctxt "KStandardActions|"
msgid "Show or hide statusbar"
msgstr "اعرض شريط الحالة"

#: gui/kstandardactions_p.h:124
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Full Screen Mode"
msgctxt "KStandardActions|"
msgid "F&ull Screen Mode"
msgstr "وضع ملء الشاشة"

#: gui/kstandardactions_p.h:125
msgctxt "KStandardActions|"
msgid "Configure Keyboard S&hortcuts…"
msgstr ""

#: gui/kstandardactions_p.h:126
#, fuzzy, qt-format
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Language…"
msgctxt "KStandardActions|"
msgid "&Configure %1…"
msgstr "اضبط اللغة…"

#: gui/kstandardactions_p.h:127
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Toolbars"
msgctxt "KStandardActions|"
msgid "Configure Tool&bars…"
msgstr "اضبط أشرطة الأدوات"

#: gui/kstandardactions_p.h:128
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Notifications"
msgctxt "KStandardActions|"
msgid "Configure &Notifications…"
msgstr "اضبط الإخطارات"

#: gui/kstandardactions_p.h:132
#, qt-format
msgctxt "KStandardActions|"
msgid "%1 &Handbook"
msgstr ""

#: gui/kstandardactions_p.h:133
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "What's This"
msgctxt "KStandardActions|"
msgid "What's &This?"
msgstr "ما هذا"

#: gui/kstandardactions_p.h:134
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Report Bug"
msgctxt "KStandardActions|"
msgid "&Report Bug…"
msgstr "أبلغ عن علّة"

#: gui/kstandardactions_p.h:135
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Language…"
msgctxt "KStandardActions|"
msgid "Configure &Language…"
msgstr "اضبط اللغة…"

#: gui/kstandardactions_p.h:136
#, fuzzy, qt-format
#| msgctxt "KStandardShortcut|@action"
#| msgid "About KDE"
msgctxt "KStandardActions|"
msgid "&About %1"
msgstr "عن كِيدِي"

#: gui/kstandardactions_p.h:137
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "About KDE"
msgctxt "KStandardActions|"
msgid "About &KDE"
msgstr "عن كِيدِي"

#: gui/kstandardactions_p.h:138
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Delete"
msgctxt "KStandardActions|"
msgid "&Delete"
msgstr "احذف"

#: gui/kstandardactions_p.h:139
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Rename"
msgctxt "KStandardActions|"
msgid "&Rename…"
msgstr "غيّر الاسم"

#: gui/kstandardactions_p.h:140
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Move to Trash"
msgctxt "KStandardActions|"
msgid "&Move to Trash"
msgstr "انقل إلى المهملات"

#: gui/kstandardactions_p.h:141
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Donate"
msgctxt "KStandardActions|"
msgid "&Donate"
msgstr "تبرّع"

#: gui/kstandardactions_p.h:142
#, fuzzy
#| msgctxt ""
#| "KStandardShortcut|@action referring to the menu bar or a hamburger menu"
#| msgid "Open Main Menu"
msgctxt "KStandardActions|"
msgid "Open &Menu"
msgstr "افتح في القائمة الرئيسة"

#: gui/kstandardshortcut.cpp:70
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "افتح"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "جديد"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "أغلق"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "احفظ"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "اطبع"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "أنهِ"

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "تراجع"

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "أعِد"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "قصّ"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "انسخ"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "ألصق"

#: gui/kstandardshortcut.cpp:87
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "ألصق التحديد"

#: gui/kstandardshortcut.cpp:94
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "حدّد الكل"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "أزل التحديد"

#: gui/kstandardshortcut.cpp:98
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "احذف الكلمة السابقة"

#: gui/kstandardshortcut.cpp:106
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "احذف الكلمة التالية"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "ابحث"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "ابحث عن التالي"

#: gui/kstandardshortcut.cpp:115
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "ابحث عن السابق"

#: gui/kstandardshortcut.cpp:116
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "استبدل"

#: gui/kstandardshortcut.cpp:121
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "المنزل"

#: gui/kstandardshortcut.cpp:129
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "البداية"

#: gui/kstandardshortcut.cpp:135
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "النهاية"

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "السابق"

#: gui/kstandardshortcut.cpp:139
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "التالي"

#: gui/kstandardshortcut.cpp:146
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "لأعلى"

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "عُد"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "تقدّم"

#: gui/kstandardshortcut.cpp:158
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "أعد التحميل"

#: gui/kstandardshortcut.cpp:167
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "بداية السطر"

#: gui/kstandardshortcut.cpp:175
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "نهاية السطر"

#: gui/kstandardshortcut.cpp:181
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "انتقل إلى سطر"

#: gui/kstandardshortcut.cpp:184
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "الكلمة السابقة"

#: gui/kstandardshortcut.cpp:192
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "الكلمة التالية"

#: gui/kstandardshortcut.cpp:201
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "أضف علامة"

#: gui/kstandardshortcut.cpp:207
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "قرّب"

#: gui/kstandardshortcut.cpp:208
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "بعّد"

#: gui/kstandardshortcut.cpp:211
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "وضع ملء الشاشة"

#: gui/kstandardshortcut.cpp:218
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "اعرض شريط القوائم"

#: gui/kstandardshortcut.cpp:221
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "فعّل اللسان التالي"

#: gui/kstandardshortcut.cpp:229
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "فعّل اللسان السابق"

#: gui/kstandardshortcut.cpp:237
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "مساعدة"

#: gui/kstandardshortcut.cpp:238
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "ما هذا"

#: gui/kstandardshortcut.cpp:243
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "إكمال النص"

#: gui/kstandardshortcut.cpp:251
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "مطابقة الإكمال السابقة"

#: gui/kstandardshortcut.cpp:259
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "مطابقة الإكمال التالية"

#: gui/kstandardshortcut.cpp:267
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "إكمال نص فرعي"

#: gui/kstandardshortcut.cpp:276
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "العنصر السابق في القائمة"

#: gui/kstandardshortcut.cpp:284
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "العنصر التالي في القائمة"

#: gui/kstandardshortcut.cpp:291
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "افتح ملفاً حديثًا"

#: gui/kstandardshortcut.cpp:292
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "احفظ كَ‍"

#: gui/kstandardshortcut.cpp:293
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "اعكس"

#: gui/kstandardshortcut.cpp:294
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "عاين الطباعة"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "أبرِد"

#: gui/kstandardshortcut.cpp:296
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "امسح"

#: gui/kstandardshortcut.cpp:299
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr "كبر للحجم الفعلي"

#: gui/kstandardshortcut.cpp:305
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "لائم إلى الصفحة"

#: gui/kstandardshortcut.cpp:306
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "لائم إلى العرض"

#: gui/kstandardshortcut.cpp:307
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "لائم إلى الارتفاع"

#: gui/kstandardshortcut.cpp:308
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "التقريب"

#: gui/kstandardshortcut.cpp:309
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "انتقل إلى"

#: gui/kstandardshortcut.cpp:310
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "انتقل إلى صفحة"

#: gui/kstandardshortcut.cpp:313
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "عُد في المستند"

#: gui/kstandardshortcut.cpp:321
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "تقدّم في المستند"

#: gui/kstandardshortcut.cpp:329
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "حرّر العلامات"

#: gui/kstandardshortcut.cpp:335
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "الإملاء"

#: gui/kstandardshortcut.cpp:336
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "اعرض شريط الأدوات"

#: gui/kstandardshortcut.cpp:337
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "اعرض شريط الحالة"

#: gui/kstandardshortcut.cpp:340
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "ارتباطات المفاتيح"

#: gui/kstandardshortcut.cpp:348
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "اضبط التطبيق"

#: gui/kstandardshortcut.cpp:356
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "اضبط أشرطة الأدوات"

#: gui/kstandardshortcut.cpp:364
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "اضبط الإخطارات"

#: gui/kstandardshortcut.cpp:370
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "أبلغ عن علّة"

#: gui/kstandardshortcut.cpp:373
msgctxt "KStandardShortcut|@action"
msgid "Configure Language…"
msgstr "اضبط اللغة…"

#: gui/kstandardshortcut.cpp:379
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "عن التطبيق"

#: gui/kstandardshortcut.cpp:380
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "عن كِيدِي"

#: gui/kstandardshortcut.cpp:383
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "احذف"

#: gui/kstandardshortcut.cpp:384
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "غيّر الاسم"

#: gui/kstandardshortcut.cpp:387
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "انقل إلى المهملات"

#: gui/kstandardshortcut.cpp:393
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "تبرّع"

#: gui/kstandardshortcut.cpp:396
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr "أظهر/أخف الملفات المخفية"

#: gui/kstandardshortcut.cpp:404
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr "أنشئ مجلّدًا"

#: gui/kstandardshortcut.cpp:412
msgctxt ""
"KStandardShortcut|@action referring to the menu bar or a hamburger menu"
msgid "Open Main Menu"
msgstr "افتح في القائمة الرئيسة"

#: gui/kstandardshortcut.cpp:420
msgctxt "KStandardShortcut|@action"
msgid "Open Context Menu"
msgstr "افتح قائمة السياق"

#: kconf_update/kconf_update.cpp:368
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "أداة «كِيدِي» لتحديث ملفات ضبط المستخدم"

#: kconf_update/kconf_update.cpp:370
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "أبقِ نتائج الخرج من السكربتات"

#: kconf_update/kconf_update.cpp:373
msgctxt "main|"
msgid ""
"For unit tests only: do not write the done entries, so that with every re-"
"run, the scripts are executed again"
msgstr ""
"بالنسبة لاختبارات الوحدة فقط: لا تكتب الإدخالات المنجزة، بحيث يتم تنفيذ "
"البرامج النصية مرة أخرى مع كل إعادة تشغيل"

#: kconf_update/kconf_update.cpp:375
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "التمس فيما إذا كان ملف الضبط نفسه يحتاج تحديثًا"

#: kconf_update/kconf_update.cpp:378
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "الملف/الملفات التي ستُقرأ منها إرشادات التحديث"

#: kconfig_compiler/kconfig_compiler.cpp:726
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "الدليل الذي سيُولّد فيه الملفات [.]"

#: kconfig_compiler/kconfig_compiler.cpp:727
msgctxt "main|"
msgid "directory"
msgstr "دليل"

#: kconfig_compiler/kconfig_compiler.cpp:731
msgctxt "main|"
msgid "Display software license."
msgstr "اعرض رخصة البرمجية."

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "استخدم <file> بدل الضبط العمومي"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr ""
"المجموعة للبحث فيها. استخدم \"<default>\" لمجموعة الجذر، أو استخدمها أكثر من "
"مرة للمجموعات المتداخلة."

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "المفتاح الذي سيُبحث عنها"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "القيمة المبدئية"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "نوع المتغيّر"

#: kreadconfig/kreadconfig.cpp:84 kreadconfig/kwriteconfig.cpp:69
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr "اسم المجموعة لا يمكن أن يكون فارغ، استخدم \"<default>\" لمجموعة الجذر"

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"نوع المتغيّر. استخدم ”bool“ للقيم المنطقية، وإلا فستتعامل معه البرمجية كسلسلة"

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr "احذف المفتاح المعين إذا كان ممكن"

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "القيمة التي ستُكتب. هذه إلزامية وإلا استُخدمت ”“ باعتبارها (لا شيء)"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Tip Of Day"
#~ msgstr "فائدة اليوم"

#~ msgctxt "main|"
#~ msgid ""
#~ "For unit tests only: use test directories to stay away from the user's "
#~ "real files"
#~ msgstr ""
#~ "لاختبارات الوحدات فحسب: استخدم الأدلّة الاختبارية لألا تعطب ملفات المستخدم "
#~ "الحقيقية"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Save Options"
#~ msgstr "خيارات الحفظ"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Switch Application Language"
#~ msgstr "بدّل لغة التطبيق"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Preferences"
#~ msgstr "التّفضيلات"
