# Indonesian translations for kwriteconfig package.
# Copyright (C) 2010 This_file_is_part_of_KDE
# This file is distributed under the same license as the kwriteconfig package.
# Gian Giovani <wejick@gmail.com>, 2010.
# Andhika Padmawan <andhika.padmawan@gmail.com>, 2014.
#
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2014-10-19 11:07+0700\n"
"Last-Translator: Andhika Padmawan <andhika.padmawan@gmail.com>\n"
"Language-Team: Indonesian <translation-team-id@lists.sourceforge.net>\n"
"Language: id\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Poedit-Language: Indonesian\n"
"X-Poedit-Country: INDONESIA\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:917
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Silakan kontak administrator sistem anda."

#: core/kconfigini.cpp:577
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "Berkas konfigurasi \"%1\" tak dapat ditulis.\n"

#: core/kemailsettings.cpp:256 core/kemailsettings.cpp:259
#: core/kemailsettings.cpp:267
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Standar"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Buka"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Baru"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Tutup"

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Simpan"

#: gui/kstandardshortcut.cpp:77
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Cetak"

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Keluar"

#: gui/kstandardshortcut.cpp:81
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Tak Jadi"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Jadi Lagi"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Potong"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Salin"

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Tempel"

#: gui/kstandardshortcut.cpp:86
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Seleksi Tempel"

#: gui/kstandardshortcut.cpp:88
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Piliah Semua"

#: gui/kstandardshortcut.cpp:89
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Tak Pilih"

#: gui/kstandardshortcut.cpp:90
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Hapus Kata Mundur"

#: gui/kstandardshortcut.cpp:91
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Hapus Kata Maju"

#: gui/kstandardshortcut.cpp:93
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Cari"

#: gui/kstandardshortcut.cpp:94
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Cari Berikutnya"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Cari Sebelumnya"

#: gui/kstandardshortcut.cpp:96
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Ganti"

#: gui/kstandardshortcut.cpp:99
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Rumah"

#: gui/kstandardshortcut.cpp:100
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Awal"

#: gui/kstandardshortcut.cpp:101
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Akhir"

#: gui/kstandardshortcut.cpp:102
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Sebelumnya"

#: gui/kstandardshortcut.cpp:103
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Berikutnya"

#: gui/kstandardshortcut.cpp:105
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Atas"

#: gui/kstandardshortcut.cpp:106
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Mundur"

#: gui/kstandardshortcut.cpp:107
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Maju"

#: gui/kstandardshortcut.cpp:108
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Muat Ulang"

#: gui/kstandardshortcut.cpp:110
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Awal Baris"

#: gui/kstandardshortcut.cpp:111
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Akhir Baris"

#: gui/kstandardshortcut.cpp:112
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Ke Baris"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Kata Mundur"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Kata Maju"

#: gui/kstandardshortcut.cpp:116
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Tambah Penanda"

#: gui/kstandardshortcut.cpp:117
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Perbesar"

#: gui/kstandardshortcut.cpp:118
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Perkecil"

#: gui/kstandardshortcut.cpp:119
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Mode Layar Penuh"

#: gui/kstandardshortcut.cpp:121
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Tampilkan Batang Menu"

#: gui/kstandardshortcut.cpp:122
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Aktifkan Tab Berikutnya"

#: gui/kstandardshortcut.cpp:123
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Aktifkan Tab Sebelumnya"

#: gui/kstandardshortcut.cpp:126
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Bantuan"

#: gui/kstandardshortcut.cpp:127
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "Apakah Ini"

#: gui/kstandardshortcut.cpp:130
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Penyelesai Teks"

#: gui/kstandardshortcut.cpp:131
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Kecocokan Penyelesai Sebelumnya"

#: gui/kstandardshortcut.cpp:132
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Kecocokan Penyelesai Berikutnya"

#: gui/kstandardshortcut.cpp:133
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Penyelesai Subtali"

#: gui/kstandardshortcut.cpp:135
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Item Sebelumnya di Daftar"

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Item Berikutnya di Daftar"

#: gui/kstandardshortcut.cpp:138
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Buka Terkini"

#: gui/kstandardshortcut.cpp:139
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Simpan Sebagai"

#: gui/kstandardshortcut.cpp:140
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Kembalikan"

#: gui/kstandardshortcut.cpp:141
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Pratinjau Cetak"

#: gui/kstandardshortcut.cpp:142
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "Surat"

#: gui/kstandardshortcut.cpp:143
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Bersihkan"

#: gui/kstandardshortcut.cpp:144
msgctxt "KStandardShortcut|@action"
msgid "Actual Size"
msgstr "Ukuran Sebenarnya"

#: gui/kstandardshortcut.cpp:145
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Pas Ke Halaman"

#: gui/kstandardshortcut.cpp:146
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Pas Ke Lebar"

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Pas Ke Tinggi"

#: gui/kstandardshortcut.cpp:148
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Zum"

#: gui/kstandardshortcut.cpp:149
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Ke"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Ke Halaman"

#: gui/kstandardshortcut.cpp:151
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Dokumen Mundur"

#: gui/kstandardshortcut.cpp:152
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Dokumen Maju"

#: gui/kstandardshortcut.cpp:153
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Sunting Penanda"

#: gui/kstandardshortcut.cpp:154
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Pengeja"

#: gui/kstandardshortcut.cpp:155
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Tampilkan Batang Alat"

#: gui/kstandardshortcut.cpp:156
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Tampilkan Batang Status"

#: gui/kstandardshortcut.cpp:157
msgctxt "KStandardShortcut|@action"
msgid "Save Options"
msgstr "Opsi Simpan"

#: gui/kstandardshortcut.cpp:158
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Pengikat Kunci"

#: gui/kstandardshortcut.cpp:159
msgctxt "KStandardShortcut|@action"
msgid "Preferences"
msgstr "Pengaturan"

#: gui/kstandardshortcut.cpp:160
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Atur Batang Alat"

#: gui/kstandardshortcut.cpp:161
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Atur Notifikasi"

#: gui/kstandardshortcut.cpp:162
msgctxt "KStandardShortcut|@action"
msgid "Tip Of Day"
msgstr "Tip Hari Ini"

#: gui/kstandardshortcut.cpp:163
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Laporkan Kutu"

#: gui/kstandardshortcut.cpp:164
msgctxt "KStandardShortcut|@action"
msgid "Switch Application Language"
msgstr "Ganti Bahasa Aplikasi"

#: gui/kstandardshortcut.cpp:165
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "Tentang Aplikasi"

#: gui/kstandardshortcut.cpp:166
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "Tentang KDE"

#: kconf_update/kconf_update.cpp:953
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "Alat KDE untuk memutakhirkan berkas konfigurasi pengguna"

#: kconf_update/kconf_update.cpp:955
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Jaga keluaran dihasilkan dari skrip"

#: kconf_update/kconf_update.cpp:956
msgctxt "main|"
msgid ""
"For unit tests only: use test directories to stay away from the user's real "
"files"
msgstr ""

#: kconf_update/kconf_update.cpp:957
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "Cek apakah berkas konfigurasi itu sendiri memerlukan pemutakhiran"

#: kconf_update/kconf_update.cpp:958
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:1572
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Direktori untuk membuat berkas di [.]"

#: kconfig_compiler/kconfig_compiler.cpp:1573
msgctxt "main|"
msgid "directory"
msgstr "direktori"

#: kconfig_compiler/kconfig_compiler.cpp:1576
msgctxt "main|"
msgid "Display software license."
msgstr "Tampilkan lisensi peranti lunak."

#: kreadconfig/kreadconfig.cpp:56 kreadconfig/kwriteconfig.cpp:35
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Gunakan <file> daripada pengaturan global"

#: kreadconfig/kreadconfig.cpp:57 kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Group to look in. Use repeatedly for nested groups."
msgstr "Group untuk dilihat. Gunakan berulangkali untuk grup berkumpul."

#: kreadconfig/kreadconfig.cpp:58 kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "Key to look for"
msgstr "kunci untuk dilihat"

#: kreadconfig/kreadconfig.cpp:59
msgctxt "main|"
msgid "Default value"
msgstr "Nilai standar"

#: kreadconfig/kreadconfig.cpp:60
msgctxt "main|"
msgid "Type of variable"
msgstr "Tipe variabel"

#: kreadconfig/kwriteconfig.cpp:38
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Tipe dari variabel. Gunakan \"bool\" untuk boolean, yang lain akan "
"diperlakukan seperti string"

#: kreadconfig/kwriteconfig.cpp:39
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "Nilai untuk dituliskan. Keharusan, di shell gunakan '' untuk kosong"
