# Sönke Dibbern <s_dibbern@web.de>, 2014.
msgid ""
msgstr ""
"Project-Id-Version: \n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2014-08-13 00:11+0200\n"
"Last-Translator: Sönke Dibbern <s_dibbern@web.de>\n"
"Language-Team: Low Saxon <kde-i18n-nds@kde.org>\n"
"Language: nds\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Generator: Lokalize 1.5\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:909
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Snack bitte Dien Systeempleger an."

#: core/kconfigini.cpp:576
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "De Instellen-Datei „%1“ lett sik nich schrieven.\n"

#: core/kemailsettings.cpp:256 core/kemailsettings.cpp:259
#: core/kemailsettings.cpp:267
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Standard"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Opmaken"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Nieg"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Tomaken"

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Sekern"

#: gui/kstandardshortcut.cpp:77
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Drucken"

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Utmaken"

#: gui/kstandardshortcut.cpp:81
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Torüchnehmen"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Wedderhalen"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Knippen"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Koperen"

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Infögen"

#: gui/kstandardshortcut.cpp:86
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Köör infögen"

#: gui/kstandardshortcut.cpp:88
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "All utsöken"

#: gui/kstandardshortcut.cpp:89
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Köör torüchnehmen"

#: gui/kstandardshortcut.cpp:90
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Verleden Woort wegdoon"

#: gui/kstandardshortcut.cpp:91
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Nakamen Woort wegdoon"

#: gui/kstandardshortcut.cpp:93
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Söken"

#: gui/kstandardshortcut.cpp:94
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Nakamen söken"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Verleden söken"

#: gui/kstandardshortcut.cpp:96
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Utwesseln"

#: gui/kstandardshortcut.cpp:99
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Tohuus"

#: gui/kstandardshortcut.cpp:100
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Anfang"

#: gui/kstandardshortcut.cpp:101
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Enn"

#: gui/kstandardshortcut.cpp:102
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Verleden"

#: gui/kstandardshortcut.cpp:103
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Nakamen"

#: gui/kstandardshortcut.cpp:105
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Na baven"

#: gui/kstandardshortcut.cpp:106
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Torüch"

#: gui/kstandardshortcut.cpp:107
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Vörut"

#: gui/kstandardshortcut.cpp:108
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Nieg laden"

#: gui/kstandardshortcut.cpp:110
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Reeganfang"

#: gui/kstandardshortcut.cpp:111
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Reegenn"

#: gui/kstandardshortcut.cpp:112
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Na Reeg gahn"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Een Woort torüch"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Een Woort vörut"

#: gui/kstandardshortcut.cpp:116
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Leesteken tofögen"

#: gui/kstandardshortcut.cpp:117
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Grötter maken"

#: gui/kstandardshortcut.cpp:118
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Lütter maken"

#: gui/kstandardshortcut.cpp:119
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Heelschirmbedrief"

#: gui/kstandardshortcut.cpp:121
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Menübalken wiesen"

#: gui/kstandardshortcut.cpp:122
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Nakamen Paneel anmaken"

#: gui/kstandardshortcut.cpp:123
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Verleden Paneel anmaken"

#: gui/kstandardshortcut.cpp:126
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Hülp"

#: gui/kstandardshortcut.cpp:127
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "Wat is dat"

#: gui/kstandardshortcut.cpp:130
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Text kompletteren"

#: gui/kstandardshortcut.cpp:131
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Verleden Kompletteren"

#: gui/kstandardshortcut.cpp:132
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Nakamen Kompletteren"

#: gui/kstandardshortcut.cpp:133
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Ünnertext kompletteren"

#: gui/kstandardshortcut.cpp:135
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Verleden Listindrag"

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Nakamen Listindrag"

#: gui/kstandardshortcut.cpp:138
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Verleden opmaken"

#: gui/kstandardshortcut.cpp:139
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Sekern as"

#: gui/kstandardshortcut.cpp:140
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Torüchdreihen"

#: gui/kstandardshortcut.cpp:141
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Druckvöransicht"

#: gui/kstandardshortcut.cpp:142
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "Nettpost"

#: gui/kstandardshortcut.cpp:143
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Leddig maken"

#: gui/kstandardshortcut.cpp:144
msgctxt "KStandardShortcut|@action"
msgid "Actual Size"
msgstr "Redig Grött"

#: gui/kstandardshortcut.cpp:145
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Op Siet topassen"

#: gui/kstandardshortcut.cpp:146
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Op Breed topassen"

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Op Hööchde topassen"

#: gui/kstandardshortcut.cpp:148
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Ansichtgrött"

#: gui/kstandardshortcut.cpp:149
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Gahn"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Na Siet gahn"

#: gui/kstandardshortcut.cpp:151
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Dokment torüch"

#: gui/kstandardshortcut.cpp:152
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Dokment vörut"

#: gui/kstandardshortcut.cpp:153
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Leestekens bewerken"

#: gui/kstandardshortcut.cpp:154
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Klookschriever"

#: gui/kstandardshortcut.cpp:155
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Warktüüchbalken wiesen"

#: gui/kstandardshortcut.cpp:156
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Statusbalken wiesen"

#: gui/kstandardshortcut.cpp:157
msgctxt "KStandardShortcut|@action"
msgid "Save Options"
msgstr "Instellen sekern"

#: gui/kstandardshortcut.cpp:158
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Tasttoornen"

#: gui/kstandardshortcut.cpp:159
msgctxt "KStandardShortcut|@action"
msgid "Preferences"
msgstr "Instellen"

#: gui/kstandardshortcut.cpp:160
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Warktüüchbalkens instellen"

#: gui/kstandardshortcut.cpp:161
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Bescheden instellen"

#: gui/kstandardshortcut.cpp:162
msgctxt "KStandardShortcut|@action"
msgid "Tip Of Day"
msgstr "Tipp för Vundaag"

#: gui/kstandardshortcut.cpp:163
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Fehler künnig maken"

#: gui/kstandardshortcut.cpp:164
msgctxt "KStandardShortcut|@action"
msgid "Switch Application Language"
msgstr "Programmspraak wesseln"

#: gui/kstandardshortcut.cpp:165
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "Wat över't Programm vertellen"

#: gui/kstandardshortcut.cpp:166
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "Över KDE"

#: kconf_update/kconf_update.cpp:952
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "KDE-Warktüüch för't Opfrischen vun Bruker-Instellendateien"

#: kconf_update/kconf_update.cpp:954
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Skriptutgaven wohren"

#: kconf_update/kconf_update.cpp:955
msgctxt "main|"
msgid ""
"For unit tests only: use test directories to stay away from the user's real "
"files"
msgstr ""

#: kconf_update/kconf_update.cpp:956
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "Kiek bitte na, wat de Instellendatei sülven opfrischt warrn mutt"

#: kconf_update/kconf_update.cpp:957
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:1577
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Orner, binnen den Dateien opstellt warrt [.]"

#: kconfig_compiler/kconfig_compiler.cpp:1578
msgctxt "main|"
msgid "directory"
msgstr "Orner"

#: kconfig_compiler/kconfig_compiler.cpp:1581
msgctxt "main|"
msgid "Display software license."
msgstr "Verlööfnis wiesen"

#: kreadconfig/kreadconfig.cpp:56 kreadconfig/kwriteconfig.cpp:35
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "<Datei> ansteed de globalen Instellen bruken"

#: kreadconfig/kreadconfig.cpp:57 kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Group to look in. Use repeatedly for nested groups."
msgstr ""
"Koppel, binnen den Du kieken wullt. Bi inbett Koppeln mehrmaalig bruken."

#: kreadconfig/kreadconfig.cpp:58 kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "Key to look for"
msgstr "Slötel, de söcht warrt"

#: kreadconfig/kreadconfig.cpp:59
msgctxt "main|"
msgid "Default value"
msgstr "Standardweert"

#: kreadconfig/kreadconfig.cpp:60
msgctxt "main|"
msgid "Type of variable"
msgstr "Typ vun de Variable"

#: kreadconfig/kwriteconfig.cpp:38
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Typ vun de Variable. Bruuk „bool“ för'n boolsche, anners warrt se as en "
"Tekenkeed behannelt"

#: kreadconfig/kwriteconfig.cpp:39
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr ""
"De Weert, den Du schrieven wullt. Mutt angeven warrn. Op'n Konsool tweemaal "
"Apostrof ('') bruken, wenn Du en leddig Weert angeven wullt."
