# Translation of kconfig5_qt.po into Serbian.
# Chusslove Illich <caslav.ilic@gmx.net>, 2014, 2015, 2016, 2017.
msgid ""
msgstr ""
"Project-Id-Version: kconfig5_qt\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2017-08-21 22:33+0200\n"
"Last-Translator: Chusslove Illich <caslav.ilic@gmx.net>\n"
"Language-Team: Serbian <kde-i18n-sr@kde.org>\n"
"Language: sr@latin\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=3; plural=n%10==1 && n%100!=11 ? 0 : n%10>=2 && n"
"%10<=4 && (n%100<10 || n%100>=20) ? 1 : 2;\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: qtrich\n"
"X-Environment: kde\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:926
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Obratite se sistem-administratoru."

#: core/kconfigini.cpp:569
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "Ne može se pisati u postavni fajl „%1“.\n"

#: core/kemailsettings.cpp:235 core/kemailsettings.cpp:238
#: core/kemailsettings.cpp:246
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Podrazumevano"

#: gui/kstandardshortcut.cpp:62
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Otvori"

#: gui/kstandardshortcut.cpp:63
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Novo"

#: gui/kstandardshortcut.cpp:64
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Zatvori"

#: gui/kstandardshortcut.cpp:65
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Sačuvaj"

#: gui/kstandardshortcut.cpp:66
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Štampaj"

#: gui/kstandardshortcut.cpp:67
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Napusti"

#: gui/kstandardshortcut.cpp:70
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Opozovi"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Ponovi"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Iseci"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Kopiraj"

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Nalepi"

#: gui/kstandardshortcut.cpp:77
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Nalepi izbor"

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Izaberi sve"

#: gui/kstandardshortcut.cpp:80
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Poništi izbor"

#: gui/kstandardshortcut.cpp:81
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Obriši reč unazad"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Obriši reč unapred"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Nađi"

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Nađi sledeće"

#: gui/kstandardshortcut.cpp:86
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Nađi prethodno"

#: gui/kstandardshortcut.cpp:87
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Zameni"

#: gui/kstandardshortcut.cpp:90
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Domaće"

#: gui/kstandardshortcut.cpp:91
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Početak"

#: gui/kstandardshortcut.cpp:92
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Kraj"

#: gui/kstandardshortcut.cpp:93
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Prethodno"

#: gui/kstandardshortcut.cpp:94
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Sledeće"

#: gui/kstandardshortcut.cpp:96
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Gore"

#: gui/kstandardshortcut.cpp:97
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Nazad"

#: gui/kstandardshortcut.cpp:98
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Napred"

#: gui/kstandardshortcut.cpp:99
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Učitaj ponovo"

#: gui/kstandardshortcut.cpp:101
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Početak reda"

#: gui/kstandardshortcut.cpp:102
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Kraj reda"

#: gui/kstandardshortcut.cpp:103
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Idi na red"

#: gui/kstandardshortcut.cpp:104
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Reč unazad"

#: gui/kstandardshortcut.cpp:105
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Reč unapred"

#: gui/kstandardshortcut.cpp:107
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Dodaj obeleživač"

#: gui/kstandardshortcut.cpp:108
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Uveličaj"

#: gui/kstandardshortcut.cpp:109
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Umanji"

#: gui/kstandardshortcut.cpp:110
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Režim celog ekrana"

#: gui/kstandardshortcut.cpp:112
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Prikaži traku menija"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Aktiviraj sledeći jezičak"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Aktiviraj prethodni jezičak"

#: gui/kstandardshortcut.cpp:117
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Pomoć"

#: gui/kstandardshortcut.cpp:118
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "Šta je ovo"

#: gui/kstandardshortcut.cpp:121
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Dopuna teksta"

#: gui/kstandardshortcut.cpp:122
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Prethodno poklapanje za dopunu"

#: gui/kstandardshortcut.cpp:123
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Sledeće poklapanje za dopunu"

#: gui/kstandardshortcut.cpp:124
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Dopuna podniske"

#: gui/kstandardshortcut.cpp:126
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Prethodna stavka na spisku"

#: gui/kstandardshortcut.cpp:127
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Sledeća stavka na spisku"

#: gui/kstandardshortcut.cpp:129
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Otvori nedavni"

#: gui/kstandardshortcut.cpp:130
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Sačuvaj kao"

#: gui/kstandardshortcut.cpp:131
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Vrati"

#: gui/kstandardshortcut.cpp:132
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Pregled pred štampanje"

#: gui/kstandardshortcut.cpp:133
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "Pošta"

#: gui/kstandardshortcut.cpp:134
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Očisti"

#: gui/kstandardshortcut.cpp:135
msgctxt "KStandardShortcut|@action"
msgid "Actual Size"
msgstr "Stvarna veličina"

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Uklopi u stranicu"

#: gui/kstandardshortcut.cpp:137
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Uklopi u širinu"

#: gui/kstandardshortcut.cpp:138
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Uklopi u visinu"

#: gui/kstandardshortcut.cpp:139
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Uveličaj"

#: gui/kstandardshortcut.cpp:140
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Idi na"

#: gui/kstandardshortcut.cpp:141
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Idi na stranicu"

#: gui/kstandardshortcut.cpp:142
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Dokument nazad"

#: gui/kstandardshortcut.cpp:143
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Dokument napred"

#: gui/kstandardshortcut.cpp:144
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Uredi obeleživače"

#: gui/kstandardshortcut.cpp:145
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Pravopis"

#: gui/kstandardshortcut.cpp:146
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Prikaži traku alatki"

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Prikaži traku stanja"

#: gui/kstandardshortcut.cpp:149
msgctxt "KStandardShortcut|@action"
msgid "Save Options"
msgstr "Sačuvaj opcije"

#: gui/kstandardshortcut.cpp:154
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Sveze tastera"

#: gui/kstandardshortcut.cpp:155
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Notifications"
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "Podesi obaveštenja"

#: gui/kstandardshortcut.cpp:156
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Podesi trake alatki"

#: gui/kstandardshortcut.cpp:157
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Podesi obaveštenja"

#: gui/kstandardshortcut.cpp:158
msgctxt "KStandardShortcut|@action"
msgid "Tip Of Day"
msgstr "Savet dana"

#: gui/kstandardshortcut.cpp:159
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Prijavi grešku"

#: gui/kstandardshortcut.cpp:160
msgctxt "KStandardShortcut|@action"
msgid "Switch Application Language"
msgstr "Promeni jezik programa"

#: gui/kstandardshortcut.cpp:161
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "O programu"

#: gui/kstandardshortcut.cpp:162
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "O KDE‑u"

#: gui/kstandardshortcut.cpp:165
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "Obriši"

#: gui/kstandardshortcut.cpp:166
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "Preimenuj"

#: gui/kstandardshortcut.cpp:167
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "Premesti u smeće"

#: gui/kstandardshortcut.cpp:168
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "Donacija"

#: gui/kstandardshortcut.cpp:169
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr ""

#: kconf_update/kconf_update.cpp:934
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "KDE‑ova alatka za ažuriranje korisničkih postavnih fajlova"

#: kconf_update/kconf_update.cpp:936
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Zadrži izlazne rezultate iz skripti"

#: kconf_update/kconf_update.cpp:937
msgctxt "main|"
msgid ""
"For unit tests only: use test directories to stay away from the user's real "
"files"
msgstr ""
"Samo za jedinične probe: koristi probne fascikle da ne bi dirao korisnikove "
"prave fajlove"

#: kconf_update/kconf_update.cpp:938
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "Proveri da li sȃ̑m postavni fajl zahteva ažuriranje"

#: kconf_update/kconf_update.cpp:939
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "Fajlovi iz kojih se čitaju instrukcije za ažuriranje"

#: kconfig_compiler/kconfig_compiler.cpp:715
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Fascikla u kojoj se stvaraju fajlovi [.]"

#: kconfig_compiler/kconfig_compiler.cpp:716
msgctxt "main|"
msgid "directory"
msgstr "fascikla"

#: kconfig_compiler/kconfig_compiler.cpp:720
msgctxt "main|"
msgid "Display software license."
msgstr "Prikaži licencu softvera"

#: kreadconfig/kreadconfig.cpp:44 kreadconfig/kwriteconfig.cpp:24
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Koristi ovaj fajl umesto globalne postave"

#: kreadconfig/kreadconfig.cpp:45 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Group to look in. Use repeatedly for nested groups."
msgstr "Grupa u kojoj se traži. Ponavljajte za ugnežđene grupe."

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:26
msgctxt "main|"
msgid "Key to look for"
msgstr "Ključ koji treba potražiti"

#: kreadconfig/kreadconfig.cpp:47
msgctxt "main|"
msgid "Default value"
msgstr "Podrazumevana vrednost"

#: kreadconfig/kreadconfig.cpp:48
msgctxt "main|"
msgid "Type of variable"
msgstr "Tip promenljive"

#: kreadconfig/kwriteconfig.cpp:27
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Tip promenljive. Zadajte „bool“ za logičke, u suprotnom se uzima kao "
"„string“ (niska)"

#: kreadconfig/kwriteconfig.cpp:28
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr ""

# rewrite-msgid: /on a shell//
#: kreadconfig/kwriteconfig.cpp:29
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "Vrednost koja se upisuje. Obavezno, zadajte '' za praznu"
