# translation of kwriteconfig.po to Thai
# Copyright (C) 2003, 2007 Free Software Foundation, Inc.
#
# Thanomsub Noppaburana <donga_n@yahoo.com>, 2003.
# Sahachart Anukulkitch <drrider@gmail.com>, 2007.
# Thanomsub Noppaburana <donga.nb@gmail.com>, 2008.
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2008-07-17 16:28+0700\n"
"Last-Translator: Thanomsub Noppaburana <donga.nb@gmail.com>\n"
"Language-Team: Thai <thai-l10n@googlegroups.com>\n"
"Language: th\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 0.2\n"
"Plural-Forms: nplurals=1; plural=0;\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:918
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr ""

#: core/kconfigini.cpp:567
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr ""

#: core/kemailsettings.cpp:237 core/kemailsettings.cpp:240
#: core/kemailsettings.cpp:248
msgctxt "KEMailSettings|"
msgid "Default"
msgstr ""

#: gui/kstandardshortcut.cpp:67
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr ""

#: gui/kstandardshortcut.cpp:68
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr ""

#: gui/kstandardshortcut.cpp:69
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr ""

#: gui/kstandardshortcut.cpp:70
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr ""

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr ""

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr ""

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr ""

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr ""

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr ""

#: gui/kstandardshortcut.cpp:80
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr ""

#: gui/kstandardshortcut.cpp:81
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr ""

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr ""

#: gui/kstandardshortcut.cpp:91
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr ""

#: gui/kstandardshortcut.cpp:92
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr ""

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr ""

#: gui/kstandardshortcut.cpp:103
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr ""

#: gui/kstandardshortcut.cpp:110
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr ""

#: gui/kstandardshortcut.cpp:111
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr ""

#: gui/kstandardshortcut.cpp:112
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr ""

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr ""

#: gui/kstandardshortcut.cpp:118
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr ""

#: gui/kstandardshortcut.cpp:126
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr ""

#: gui/kstandardshortcut.cpp:132
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr ""

#: gui/kstandardshortcut.cpp:133
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr ""

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr ""

#: gui/kstandardshortcut.cpp:143
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr ""

#: gui/kstandardshortcut.cpp:144
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr ""

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr ""

#: gui/kstandardshortcut.cpp:155
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr ""

#: gui/kstandardshortcut.cpp:164
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr ""

#: gui/kstandardshortcut.cpp:172
#, fuzzy
#| msgid "Group to look in"
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "กลุ่มที่จะค้นหา"

#: gui/kstandardshortcut.cpp:178
#, fuzzy
#| msgid "Group to look in"
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "กลุ่มที่จะค้นหา"

#: gui/kstandardshortcut.cpp:181
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr ""

#: gui/kstandardshortcut.cpp:189
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr ""

#: gui/kstandardshortcut.cpp:198
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr ""

#: gui/kstandardshortcut.cpp:204
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr ""

#: gui/kstandardshortcut.cpp:205
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr ""

#: gui/kstandardshortcut.cpp:208
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr ""

#: gui/kstandardshortcut.cpp:215
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr ""

#: gui/kstandardshortcut.cpp:218
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr ""

#: gui/kstandardshortcut.cpp:226
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr ""

#: gui/kstandardshortcut.cpp:234
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr ""

#: gui/kstandardshortcut.cpp:235
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr ""

#: gui/kstandardshortcut.cpp:240
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr ""

#: gui/kstandardshortcut.cpp:248
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr ""

#: gui/kstandardshortcut.cpp:256
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr ""

#: gui/kstandardshortcut.cpp:264
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr ""

#: gui/kstandardshortcut.cpp:273
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr ""

#: gui/kstandardshortcut.cpp:281
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr ""

#: gui/kstandardshortcut.cpp:288
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr ""

#: gui/kstandardshortcut.cpp:289
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr ""

#: gui/kstandardshortcut.cpp:290
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr ""

#: gui/kstandardshortcut.cpp:291
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr ""

#: gui/kstandardshortcut.cpp:292
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr ""

#: gui/kstandardshortcut.cpp:293
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr ""

#: gui/kstandardshortcut.cpp:294
msgctxt "KStandardShortcut|@action"
msgid "Actual Size"
msgstr ""

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr ""

#: gui/kstandardshortcut.cpp:296
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr ""

#: gui/kstandardshortcut.cpp:297
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr ""

#: gui/kstandardshortcut.cpp:298
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr ""

#: gui/kstandardshortcut.cpp:299
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr ""

#: gui/kstandardshortcut.cpp:300
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr ""

#: gui/kstandardshortcut.cpp:303
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr ""

#: gui/kstandardshortcut.cpp:311
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr ""

#: gui/kstandardshortcut.cpp:319
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr ""

#: gui/kstandardshortcut.cpp:325
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr ""

#: gui/kstandardshortcut.cpp:326
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr ""

#: gui/kstandardshortcut.cpp:327
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr ""

#: gui/kstandardshortcut.cpp:329
msgctxt "KStandardShortcut|@action"
msgid "Save Options"
msgstr ""

#: gui/kstandardshortcut.cpp:334
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr ""

#: gui/kstandardshortcut.cpp:337
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr ""

#: gui/kstandardshortcut.cpp:345
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr ""

#: gui/kstandardshortcut.cpp:353
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr ""

#: gui/kstandardshortcut.cpp:359
msgctxt "KStandardShortcut|@action"
msgid "Tip Of Day"
msgstr ""

#: gui/kstandardshortcut.cpp:360
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr ""

#: gui/kstandardshortcut.cpp:363
msgctxt "KStandardShortcut|@action"
msgid "Configure Language..."
msgstr ""

#: gui/kstandardshortcut.cpp:369
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr ""

#: gui/kstandardshortcut.cpp:370
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr ""

#: gui/kstandardshortcut.cpp:373
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr ""

#: gui/kstandardshortcut.cpp:374
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr ""

#: gui/kstandardshortcut.cpp:377
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr ""

#: gui/kstandardshortcut.cpp:383
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr ""

#: gui/kstandardshortcut.cpp:386
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr ""

#: gui/kstandardshortcut.cpp:394
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr ""

#: kconf_update/kconf_update.cpp:953
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr ""

#: kconf_update/kconf_update.cpp:955
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr ""

#: kconf_update/kconf_update.cpp:958
msgctxt "main|"
msgid ""
"For unit tests only: use test directories to stay away from the user's real "
"files"
msgstr ""

#: kconf_update/kconf_update.cpp:960
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr ""

#: kconf_update/kconf_update.cpp:963
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:706
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:707
msgctxt "main|"
msgid "directory"
msgstr ""

#: kconfig_compiler/kconfig_compiler.cpp:711
msgctxt "main|"
msgid "Display software license."
msgstr ""

#: kreadconfig/kreadconfig.cpp:45 kreadconfig/kwriteconfig.cpp:25
#, fuzzy
#| msgid "Use <file> instead of global config"
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "ใช้ <แฟ้ม> แทนค่าปรับแต่งทั่วไป"

#: kreadconfig/kreadconfig.cpp:47 kreadconfig/kwriteconfig.cpp:27
#, fuzzy
#| msgid "Group to look in. Use repeatedly for nested groups."
msgctxt "main|"
msgid "Group to look in. Use repeatedly for nested groups."
msgstr "กลุ่มที่จะค้นหาภายใน โดยปรับใช้กับกลุ่มย่อยภายในมันด้วย"

#: kreadconfig/kreadconfig.cpp:50 kreadconfig/kwriteconfig.cpp:30
#, fuzzy
#| msgid "Key to look for"
msgctxt "main|"
msgid "Key to look for"
msgstr "คำสำหรับค้นหา"

#: kreadconfig/kreadconfig.cpp:51
msgctxt "main|"
msgid "Default value"
msgstr ""

#: kreadconfig/kreadconfig.cpp:52
msgctxt "main|"
msgid "Type of variable"
msgstr ""

#: kreadconfig/kwriteconfig.cpp:33
#, fuzzy
#| msgid ""
#| "Type of variable. Use \"bool\" for a boolean, otherwise it is treated as "
#| "a string"
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr "ชนิดของตัวแปร ใช้ \"bool\" สำหรับตัวแปรตรรกะ มิฉะนั้น ตัวแปรนั้นจะถูกตีค่าเป็น สตริง"

#: kreadconfig/kwriteconfig.cpp:35
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr ""

#: kreadconfig/kwriteconfig.cpp:36
#, fuzzy
#| msgid "The value to write. Mandatory, on a shell use '' for empty"
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "ค่าที่จะเขียน จำเป็นต้องใส่ หากเป็นค่าว่างจะใช้ ''"
