msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2022-06-03 18:00+0100\n"
"Last-Translator: Pedro Morais <morais@kde.org>\n"
"Language-Team: pt <kde-i18n-pt@kde.org>\n"
"Language: pt\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-POFile-SpellExtra: bool KConfig KWriteConfig Rosenkraenzer Bernhard\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-POFile-SpellExtra: kreadconfig Hat Red Inc\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:965
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Contacte por favor o seu administrador do sistema."

#: core/kconfigini.cpp:572
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "Não é possível escrever no ficheiro de configuração \"%1\".\n"

#: core/kemailsettings.cpp:237 core/kemailsettings.cpp:240
#: core/kemailsettings.cpp:248
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Predefinição"

#: gui/kstandardshortcut.cpp:70
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Abrir"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Novo"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Fechar"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Gravar"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Imprimir"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Sair"

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Desfazer"

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Refazer"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Cortar"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Copiar"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Colar"

#: gui/kstandardshortcut.cpp:87
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Colar a Selecção"

#: gui/kstandardshortcut.cpp:94
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Seleccionar Tudo"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Deseleccionar"

#: gui/kstandardshortcut.cpp:98
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Apagar a Palavra Atrás"

#: gui/kstandardshortcut.cpp:106
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Apagar a Palavra à Frente"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Procurar"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Procurar o Seguinte"

#: gui/kstandardshortcut.cpp:115
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Procurar o Anterior"

#: gui/kstandardshortcut.cpp:116
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Substituir"

#: gui/kstandardshortcut.cpp:121
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Pasta Pessoal"

#: gui/kstandardshortcut.cpp:129
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Início"

#: gui/kstandardshortcut.cpp:135
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Fim"

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Anterior"

#: gui/kstandardshortcut.cpp:139
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Seguinte"

#: gui/kstandardshortcut.cpp:146
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Subir"

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Recuar"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Avançar"

#: gui/kstandardshortcut.cpp:158
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Recarregar"

#: gui/kstandardshortcut.cpp:167
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Início da Linha"

#: gui/kstandardshortcut.cpp:175
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Fim da Linha"

#: gui/kstandardshortcut.cpp:181
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Ir para a Linha"

#: gui/kstandardshortcut.cpp:184
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Recuar uma Palavra"

#: gui/kstandardshortcut.cpp:192
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Avançar uma Palavra"

#: gui/kstandardshortcut.cpp:201
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Adicionar aos Favoritos"

#: gui/kstandardshortcut.cpp:207
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Ampliar"

#: gui/kstandardshortcut.cpp:208
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Reduzir"

#: gui/kstandardshortcut.cpp:211
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Modo de Ecrã Completo"

#: gui/kstandardshortcut.cpp:218
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Mostrar o Menu"

#: gui/kstandardshortcut.cpp:221
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Activar a Página Seguinte"

#: gui/kstandardshortcut.cpp:229
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Activar a Página Anterior"

#: gui/kstandardshortcut.cpp:237
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Ajuda"

#: gui/kstandardshortcut.cpp:238
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "O Que é Isto"

#: gui/kstandardshortcut.cpp:243
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Completação de Texto"

#: gui/kstandardshortcut.cpp:251
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Correspondência Anterior"

#: gui/kstandardshortcut.cpp:259
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Correspondência Seguinte"

#: gui/kstandardshortcut.cpp:267
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Completação de Sub-Textos"

#: gui/kstandardshortcut.cpp:276
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Item Anterior na Lista"

#: gui/kstandardshortcut.cpp:284
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Item Seguinte na Lista"

#: gui/kstandardshortcut.cpp:291
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Abrir um Recente"

#: gui/kstandardshortcut.cpp:292
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Gravar Como"

#: gui/kstandardshortcut.cpp:293
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Reverter"

#: gui/kstandardshortcut.cpp:294
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Antevisão da Impressão"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "Enviar um E-Mail"

#: gui/kstandardshortcut.cpp:296
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Limpar"

#: gui/kstandardshortcut.cpp:297
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr "Ampliar para o Tamanho Actual"

#: gui/kstandardshortcut.cpp:298
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Ajustar à Página"

#: gui/kstandardshortcut.cpp:299
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Ajustar à Largura"

#: gui/kstandardshortcut.cpp:300
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Ajustar à Altura"

#: gui/kstandardshortcut.cpp:301
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Ampliação"

#: gui/kstandardshortcut.cpp:302
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Ir Para"

#: gui/kstandardshortcut.cpp:303
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Ir Para a Página"

#: gui/kstandardshortcut.cpp:306
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Recuar no Documento"

#: gui/kstandardshortcut.cpp:314
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Avançar no Documento"

#: gui/kstandardshortcut.cpp:322
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Editar os Favoritos"

#: gui/kstandardshortcut.cpp:328
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Ortografia"

#: gui/kstandardshortcut.cpp:329
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Mostrar a Barra de Ferramentas"

#: gui/kstandardshortcut.cpp:330
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Mostrar a Barra de Estado"

#: gui/kstandardshortcut.cpp:332
msgctxt "KStandardShortcut|@action"
msgid "Save Options"
msgstr "Gravar as Opções"

#: gui/kstandardshortcut.cpp:337
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Atalhos de Teclado"

#: gui/kstandardshortcut.cpp:340
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "Configurar a Aplicação"

#: gui/kstandardshortcut.cpp:348
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Configurar as Barras de Ferramentas"

#: gui/kstandardshortcut.cpp:356
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Configurar as Notificações"

#: gui/kstandardshortcut.cpp:362
msgctxt "KStandardShortcut|@action"
msgid "Tip Of Day"
msgstr "Dica do Dia"

#: gui/kstandardshortcut.cpp:363
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Comunicar um Erro"

#: gui/kstandardshortcut.cpp:366
msgctxt "KStandardShortcut|@action"
msgid "Configure Language..."
msgstr "Configurar a Língua..."

#: gui/kstandardshortcut.cpp:372
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "Acerca da Aplicação"

#: gui/kstandardshortcut.cpp:373
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "Acerca do KDE"

#: gui/kstandardshortcut.cpp:376
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "Apagar"

#: gui/kstandardshortcut.cpp:377
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "Mudar o Nome"

#: gui/kstandardshortcut.cpp:380
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "Enviar para o Lixo"

#: gui/kstandardshortcut.cpp:386
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "Doar"

#: gui/kstandardshortcut.cpp:389
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr "Mostrar/Esconder os Ficheiros Escondidos"

#: gui/kstandardshortcut.cpp:397
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr "Criar a Pasta"

#: kconf_update/kconf_update.cpp:959
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr ""
"Uma ferramenta do KDE para actualizar os ficheiros de configuração do "
"utilizador"

#: kconf_update/kconf_update.cpp:961
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Manter os resultados à saída dos programas"

#: kconf_update/kconf_update.cpp:964
msgctxt "main|"
msgid ""
"For unit tests only: use test directories to stay away from the user's real "
"files"
msgstr ""
"Apenas para testes unitários: usar as pastas de testes para separar dos "
"ficheiros originais do utilizador"

#: kconf_update/kconf_update.cpp:966
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr ""
"Verificar se o ficheiro de configuração em si necessita de actualização"

#: kconf_update/kconf_update.cpp:969
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "Ficheiros de onde ler as instruções de actualização"

#: kconfig_compiler/kconfig_compiler.cpp:708
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "A pasta onde gerar os ficheiros [.]"

#: kconfig_compiler/kconfig_compiler.cpp:709
msgctxt "main|"
msgid "directory"
msgstr "pasta"

#: kconfig_compiler/kconfig_compiler.cpp:713
msgctxt "main|"
msgid "Display software license."
msgstr "Mostra a licença da aplicação."

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Utilizar <ficheiro> em vez da configuração global"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr ""
"O grupo onde procurar. Use o \"<default>\" para o grupo de raiz, ou use de "
"forma repetida para grupos encadeados."

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "Chave a procurar"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "Valor por omissão"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "Tipo de variável"

#: kreadconfig/kreadconfig.cpp:84 kreadconfig/kwriteconfig.cpp:69
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr ""
"O nome do grupo não pode estar vazio; use o \"<default>\" para o grupo de "
"raiz"

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Tipo da variável. Utilize \"bool\" para um booleano, em caso contrário é "
"tratado como uma cadeia de caracteres"

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr "Apaga a chave designada, caso esteja activa"

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr ""
"O valor a escrever. Obrigatório, numa linha de comandos utilize '' para vazio"
