# Translation of kconfig5_qt to Norwegian Nynorsk
#
# Håvard Korsvoll <korsvoll@skulelinux.no>, 2004.
# Karl Ove Hufthammer <karl@huftis.org>, 2007, 2008, 2015, 2016, 2018, 2020.
# Eirik U. Birkeland <eirbir@gmail.com>, 2008.
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2020-09-20 09:27+0200\n"
"Last-Translator: Karl Ove Hufthammer <karl@huftis.org>\n"
"Language-Team: Norwegian Nynorsk <l10n-no@lister.huftis.org>\n"
"Language: nn\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: Lokalize 20.08.1\n"
"Plural-Forms: nplurals=2; plural=n != 1;\n"
"X-Environment: kde\n"
"X-Accelerator-Marker: &\n"
"X-Text-Markup: qtrich\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:950
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Ta kontakt med systemansvarleg."

#: core/kconfigini.cpp:567
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "Oppsettfila «%1» er ikkje skrivbar.\n"

#: core/kemailsettings.cpp:237 core/kemailsettings.cpp:240
#: core/kemailsettings.cpp:248
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Standard"

#: gui/kstandardshortcut.cpp:68
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Opna"

#: gui/kstandardshortcut.cpp:69
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Ny"

#: gui/kstandardshortcut.cpp:70
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Lukk"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Lagra"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Skriv ut"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Avslutt"

#: gui/kstandardshortcut.cpp:76
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Angra"

#: gui/kstandardshortcut.cpp:77
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Gjer om"

#: gui/kstandardshortcut.cpp:80
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Klipp ut"

#: gui/kstandardshortcut.cpp:81
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Kopier"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Lim inn"

#: gui/kstandardshortcut.cpp:85
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Lim inn utval"

#: gui/kstandardshortcut.cpp:92
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Merk alt"

#: gui/kstandardshortcut.cpp:93
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Fjern merking"

#: gui/kstandardshortcut.cpp:96
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Slett ord bakover"

#: gui/kstandardshortcut.cpp:104
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Slett ord framover"

#: gui/kstandardshortcut.cpp:111
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Finn"

#: gui/kstandardshortcut.cpp:112
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Finn neste"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Finn førre"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Byt ut"

#: gui/kstandardshortcut.cpp:119
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Heim"

#: gui/kstandardshortcut.cpp:127
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Start"

#: gui/kstandardshortcut.cpp:133
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Slutt"

#: gui/kstandardshortcut.cpp:134
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Førre"

#: gui/kstandardshortcut.cpp:137
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Neste"

#: gui/kstandardshortcut.cpp:144
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Opp"

#: gui/kstandardshortcut.cpp:145
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Tilbake"

#: gui/kstandardshortcut.cpp:148
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Fram"

#: gui/kstandardshortcut.cpp:156
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Last om att"

#: gui/kstandardshortcut.cpp:165
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Starten på linja"

#: gui/kstandardshortcut.cpp:173
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Slutten på linja"

#: gui/kstandardshortcut.cpp:179
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Gå til linje"

#: gui/kstandardshortcut.cpp:182
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Gå eitt ord bak"

#: gui/kstandardshortcut.cpp:190
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Gå eitt ord fram"

#: gui/kstandardshortcut.cpp:199
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Legg til bokmerke"

#: gui/kstandardshortcut.cpp:205
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Vis større"

#: gui/kstandardshortcut.cpp:206
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Vis mindre"

#: gui/kstandardshortcut.cpp:209
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Fullskjermsmodus"

#: gui/kstandardshortcut.cpp:216
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Vis menylinje"

#: gui/kstandardshortcut.cpp:219
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Gå til neste fane"

#: gui/kstandardshortcut.cpp:227
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Gå til førre fane"

#: gui/kstandardshortcut.cpp:235
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Hjelp"

#: gui/kstandardshortcut.cpp:236
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "Kva er dette"

#: gui/kstandardshortcut.cpp:241
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Tekstfullføring"

#: gui/kstandardshortcut.cpp:249
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Førre fullføringstreff"

#: gui/kstandardshortcut.cpp:257
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Neste fullføringstreff"

#: gui/kstandardshortcut.cpp:265
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Delstrengfullføring"

#: gui/kstandardshortcut.cpp:274
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Førre element i lista"

#: gui/kstandardshortcut.cpp:282
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Neste element i lista"

#: gui/kstandardshortcut.cpp:289
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Nyleg brukt"

#: gui/kstandardshortcut.cpp:290
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Lagra som"

#: gui/kstandardshortcut.cpp:291
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Tilbakestill"

#: gui/kstandardshortcut.cpp:292
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Førehandsvising"

#: gui/kstandardshortcut.cpp:293
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "E-post"

#: gui/kstandardshortcut.cpp:294
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Tøm"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Actual Size"
msgstr "Verkeleg storleik"

#: gui/kstandardshortcut.cpp:296
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Tilpass til side"

#: gui/kstandardshortcut.cpp:297
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Tilpass til sidebreidd"

#: gui/kstandardshortcut.cpp:298
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Tilpass til sidehøgd"

#: gui/kstandardshortcut.cpp:299
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Forstørr/forminsk"

#: gui/kstandardshortcut.cpp:300
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Gå til"

#: gui/kstandardshortcut.cpp:301
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Gå til side"

#: gui/kstandardshortcut.cpp:304
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Førre dokument"

#: gui/kstandardshortcut.cpp:312
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Neste dokument"

#: gui/kstandardshortcut.cpp:320
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Rediger bokmerke"

#: gui/kstandardshortcut.cpp:326
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Stavekontroll"

#: gui/kstandardshortcut.cpp:327
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Vis verktøylinje"

#: gui/kstandardshortcut.cpp:328
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Vis statuslinje"

#: gui/kstandardshortcut.cpp:330
msgctxt "KStandardShortcut|@action"
msgid "Save Options"
msgstr "Lagra innstillingar"

#: gui/kstandardshortcut.cpp:335
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Tastebindingar"

#: gui/kstandardshortcut.cpp:338
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "Set opp program"

#: gui/kstandardshortcut.cpp:346
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Set opp verktøylinjer"

#: gui/kstandardshortcut.cpp:354
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Set opp varslingar"

#: gui/kstandardshortcut.cpp:360
msgctxt "KStandardShortcut|@action"
msgid "Tip Of Day"
msgstr "Dagens tips"

#: gui/kstandardshortcut.cpp:361
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Meld frå om feil"

#: gui/kstandardshortcut.cpp:364
msgctxt "KStandardShortcut|@action"
msgid "Configure Language..."
msgstr "Set opp språk …"

#: gui/kstandardshortcut.cpp:370
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "Om programmet"

#: gui/kstandardshortcut.cpp:371
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "Om KDE"

#: gui/kstandardshortcut.cpp:374
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "Slett"

#: gui/kstandardshortcut.cpp:375
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "Endra namn"

#: gui/kstandardshortcut.cpp:378
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "Flytt til papirkorga"

#: gui/kstandardshortcut.cpp:384
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "Gje pengegåve"

#: gui/kstandardshortcut.cpp:387
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr "Vis/gøym gøymde filer"

#: gui/kstandardshortcut.cpp:395
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr "Lag mappe"

#: kconf_update/kconf_update.cpp:954
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr "KDE-verktøy for oppdatering av brukaroppsett"

#: kconf_update/kconf_update.cpp:956
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Ta vare på utdata frå skript"

#: kconf_update/kconf_update.cpp:959
msgctxt "main|"
msgid ""
"For unit tests only: use test directories to stay away from the user's real "
"files"
msgstr "Berre for einingstestar: bruk testmapper for å unngå brukarens filer"

#: kconf_update/kconf_update.cpp:961
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "Sjekk om oppsettfila treng oppdatering"

#: kconf_update/kconf_update.cpp:964
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "Fil(er) å lesa oppdateringsinstruksjonar frå"

#: kconfig_compiler/kconfig_compiler.cpp:708
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Mappa som dei genererte filene skal lagrast i [.]."

#: kconfig_compiler/kconfig_compiler.cpp:709
msgctxt "main|"
msgid "directory"
msgstr "mappe"

#: kconfig_compiler/kconfig_compiler.cpp:713
msgctxt "main|"
msgid "Display software license."
msgstr "Vis programvarelisens."

#: kreadconfig/kreadconfig.cpp:45 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Bruk <fil> i staden for standardoppsett"

#: kreadconfig/kreadconfig.cpp:47 kreadconfig/kwriteconfig.cpp:27
msgctxt "main|"
msgid "Group to look in. Use repeatedly for nested groups."
msgstr "Gruppa det skal leitast i. Bruk fleire gongar for nøsta grupper."

#: kreadconfig/kreadconfig.cpp:50 kreadconfig/kwriteconfig.cpp:30
msgctxt "main|"
msgid "Key to look for"
msgstr "Nøkkel å sjå etter"

#: kreadconfig/kreadconfig.cpp:51
msgctxt "main|"
msgid "Default value"
msgstr "Standardverdi"

#: kreadconfig/kreadconfig.cpp:52
msgctxt "main|"
msgid "Type of variable"
msgstr "Variabeltype"

#: kreadconfig/kwriteconfig.cpp:33
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Variabeltype. Bruk «bool» for boolske verdiar; elles vert det handsama som "
"ein tekststreng."

#: kreadconfig/kwriteconfig.cpp:35
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr "Fjern den valde nøkkelen"

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr "Verdien som skal skrivast. I eit skal må du bruka '' for tomme verdiar"
