# Copyright (C) 2003, 2004, 2008 Free Software Foundation, Inc.
# Claudiu Costin <claudiuc@kde.org>, 2003, 2004.
# Sergiu Bivol <sergiu@cip.md>, 2008, 2020, 2022, 2024.
#
msgid ""
msgstr ""
"Project-Id-Version: kwriteconfig\n"
"Report-Msgid-Bugs-To: http://bugs.kde.org\n"
"POT-Creation-Date: 2014-04-11 02:17+0000\n"
"PO-Revision-Date: 2024-01-07 14:10+0000\n"
"Last-Translator: Sergiu Bivol <sergiu@cip.md>\n"
"Language-Team: Romanian <kde-i18n-ro@kde.org>\n"
"Language: ro\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Plural-Forms: nplurals=3; plural=n==1 ? 0 : (n==0 || (n%100 > 0 && n%100 < "
"20)) ? 1 : 2;\n"
"X-Generator: Lokalize 21.12.3\n"
"X-Qt-Contexts: true\n"

#: core/kconfig.cpp:940
msgctxt "KConfig|"
msgid "Please contact your system administrator."
msgstr "Contactați administratorul de sistem."

#: core/kconfigini.cpp:565
#, qt-format
msgctxt "KConfigIniBackend|"
msgid "Configuration file \"%1\" not writable.\n"
msgstr "Fișierul de configurare „%1” nu poate fi scris.\n"

#: core/kemailsettings.cpp:128 core/kemailsettings.cpp:131
#: core/kemailsettings.cpp:139
msgctxt "KEMailSettings|"
msgid "Default"
msgstr "Implicit"

#: gui/kstandardactions.cpp:49
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Back"
msgctxt "go back|"
msgid "&Back"
msgstr "Înapoi"

#: gui/kstandardactions.cpp:56
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Forward"
msgctxt "go forward|"
msgid "&Forward"
msgstr "Înainte"

#: gui/kstandardactions.cpp:63
#, fuzzy
#| msgctxt "KStandardShortcut|@action Go to main page"
#| msgid "Home"
msgctxt "home page|"
msgid "&Home"
msgstr "Acasă"

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "&New"
msgstr ""

#: gui/kstandardactions_p.h:67
msgctxt "KStandardActions|"
msgid "Create new document"
msgstr ""

#: gui/kstandardactions_p.h:68
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Open"
msgctxt "KStandardActions|"
msgid "&Open…"
msgstr "Deschide"

#: gui/kstandardactions_p.h:68
msgctxt "KStandardActions|"
msgid "Open an existing document"
msgstr ""

#: gui/kstandardactions_p.h:69
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Open Recent"
msgctxt "KStandardActions|"
msgid "Open &Recent"
msgstr "Deschide recent"

#: gui/kstandardactions_p.h:69
msgctxt "KStandardActions|"
msgid "Open a document which was recently opened"
msgstr ""

#: gui/kstandardactions_p.h:70
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Save"
msgctxt "KStandardActions|"
msgid "&Save"
msgstr "Salvează"

#: gui/kstandardactions_p.h:70
msgctxt "KStandardActions|"
msgid "Save document"
msgstr ""

#: gui/kstandardactions_p.h:71
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Save As"
msgctxt "KStandardActions|"
msgid "Save &As…"
msgstr "Salvează ca"

#: gui/kstandardactions_p.h:71
msgctxt "KStandardActions|"
msgid "Save document under a new name"
msgstr ""

#: gui/kstandardactions_p.h:72
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Revert"
msgctxt "KStandardActions|"
msgid "Re&vert"
msgstr "Revenire"

#: gui/kstandardactions_p.h:72
msgctxt "KStandardActions|"
msgid "Revert unsaved changes made to document"
msgstr ""

#: gui/kstandardactions_p.h:73
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Close"
msgctxt "KStandardActions|"
msgid "&Close"
msgstr "Închide"

#: gui/kstandardactions_p.h:73
msgctxt "KStandardActions|"
msgid "Close document"
msgstr ""

#: gui/kstandardactions_p.h:74
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Print"
msgctxt "KStandardActions|"
msgid "&Print…"
msgstr "Tipărește"

#: gui/kstandardactions_p.h:74
msgctxt "KStandardActions|"
msgid "Print document"
msgstr ""

#: gui/kstandardactions_p.h:75
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Print Preview"
msgctxt "KStandardActions|"
msgid "Print Previe&w"
msgstr "Previzualizare tipărire"

#: gui/kstandardactions_p.h:75
msgctxt "KStandardActions|"
msgid "Show a print preview of document"
msgstr ""

#: gui/kstandardactions_p.h:76
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Mail"
msgctxt "KStandardActions|"
msgid "&Mail…"
msgstr "Poștă"

#: gui/kstandardactions_p.h:76
msgctxt "KStandardActions|"
msgid "Send document by mail"
msgstr ""

#: gui/kstandardactions_p.h:77
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Quit"
msgctxt "KStandardActions|"
msgid "&Quit"
msgstr "Termină"

#: gui/kstandardactions_p.h:77
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "About Application"
msgctxt "KStandardActions|"
msgid "Quit application"
msgstr "Despre aplicație"

#: gui/kstandardactions_p.h:79
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Undo"
msgctxt "KStandardActions|"
msgid "&Undo"
msgstr "Desfă"

#: gui/kstandardactions_p.h:79
msgctxt "KStandardActions|"
msgid "Undo last action"
msgstr ""

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Re&do"
msgstr ""

#: gui/kstandardactions_p.h:80
msgctxt "KStandardActions|"
msgid "Redo last undone action"
msgstr ""

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cu&t"
msgstr ""

#: gui/kstandardactions_p.h:81
msgctxt "KStandardActions|"
msgid "Cut selection to clipboard"
msgstr ""

#: gui/kstandardactions_p.h:82
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Copy"
msgctxt "KStandardActions|"
msgid "&Copy"
msgstr "Copiază"

#: gui/kstandardactions_p.h:82
msgctxt "KStandardActions|"
msgid "Copy selection to clipboard"
msgstr ""

#: gui/kstandardactions_p.h:83
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Paste"
msgctxt "KStandardActions|"
msgid "&Paste"
msgstr "Lipește"

#: gui/kstandardactions_p.h:83
msgctxt "KStandardActions|"
msgid "Paste clipboard content"
msgstr ""

#: gui/kstandardactions_p.h:84
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Clear"
msgctxt "KStandardActions|"
msgid "C&lear"
msgstr "Curăță"

#: gui/kstandardactions_p.h:85
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Select All"
msgctxt "KStandardActions|"
msgid "Select &All"
msgstr "Selectează tot"

#: gui/kstandardactions_p.h:86
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Deselect"
msgctxt "KStandardActions|"
msgid "Dese&lect"
msgstr "Deselectează"

#: gui/kstandardactions_p.h:87
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Find"
msgctxt "KStandardActions|"
msgid "&Find…"
msgstr "Caută"

#: gui/kstandardactions_p.h:88
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Find Next"
msgctxt "KStandardActions|"
msgid "Find &Next"
msgstr "Caută urm."

#: gui/kstandardactions_p.h:89
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Find Prev"
msgctxt "KStandardActions|"
msgid "Find Pre&vious"
msgstr "Caută prec."

#: gui/kstandardactions_p.h:90
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Replace"
msgctxt "KStandardActions|"
msgid "&Replace…"
msgstr "Înlocuiește"

#: gui/kstandardactions_p.h:92
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom to Actual Size"
msgctxt "KStandardActions|"
msgid "Zoom to &Actual Size"
msgstr "Apropie la dimensiunea reală"

#: gui/kstandardactions_p.h:92
msgctxt "KStandardActions|"
msgid "View document at its actual size"
msgstr ""

#: gui/kstandardactions_p.h:93
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Page"
msgctxt "KStandardActions|"
msgid "&Fit to Page"
msgstr "Încadrează în pagină"

#: gui/kstandardactions_p.h:93
msgctxt "KStandardActions|"
msgid "Zoom to fit page in window"
msgstr ""

#: gui/kstandardactions_p.h:94
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Width"
msgctxt "KStandardActions|"
msgid "Fit to Page &Width"
msgstr "Încadrează pe lățime"

#: gui/kstandardactions_p.h:94
msgctxt "KStandardActions|"
msgid "Zoom to fit page width in window"
msgstr ""

#: gui/kstandardactions_p.h:95
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Height"
msgctxt "KStandardActions|"
msgid "Fit to Page &Height"
msgstr "Încadrează pe înălțime"

#: gui/kstandardactions_p.h:95
msgctxt "KStandardActions|"
msgid "Zoom to fit page height in window"
msgstr ""

#: gui/kstandardactions_p.h:96
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom In"
msgctxt "KStandardActions|"
msgid "Zoom &In"
msgstr "Apropie"

#: gui/kstandardactions_p.h:97
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom Out"
msgctxt "KStandardActions|"
msgid "Zoom &Out"
msgstr "Depărtează"

#: gui/kstandardactions_p.h:98
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Zoom"
msgctxt "KStandardActions|"
msgid "&Zoom…"
msgstr "Apropiere"

#: gui/kstandardactions_p.h:98
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Select All"
msgctxt "KStandardActions|"
msgid "Select zoom level"
msgstr "Selectează tot"

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "&Refresh"
msgstr ""

#: gui/kstandardactions_p.h:99
msgctxt "KStandardActions|"
msgid "Refresh document"
msgstr ""

#: gui/kstandardactions_p.h:101
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Up"
msgctxt "KStandardActions|"
msgid "&Up"
msgstr "Sus"

#: gui/kstandardactions_p.h:101
msgctxt "KStandardActions|"
msgid "Go up"
msgstr ""

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "&Previous Page"
msgstr ""

#: gui/kstandardactions_p.h:106
msgctxt "KStandardActions|"
msgid "Go to previous page"
msgstr ""

#: gui/kstandardactions_p.h:107
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Goto Page"
msgctxt "KStandardActions|"
msgid "&Next Page"
msgstr "Mergi la pagină"

#: gui/kstandardactions_p.h:107
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Go to Line"
msgctxt "KStandardActions|"
msgid "Go to next page"
msgstr "Mergi la linie"

#: gui/kstandardactions_p.h:108
msgctxt "KStandardActions|"
msgid "&Go To…"
msgstr ""

#: gui/kstandardactions_p.h:109
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Goto Page"
msgctxt "KStandardActions|"
msgid "&Go to Page…"
msgstr "Mergi la pagină"

#: gui/kstandardactions_p.h:110
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Go to Line"
msgctxt "KStandardActions|"
msgid "&Go to Line…"
msgstr "Mergi la linie"

#: gui/kstandardactions_p.h:111
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Fit To Page"
msgctxt "KStandardActions|"
msgid "&First Page"
msgstr "Încadrează în pagină"

#: gui/kstandardactions_p.h:111
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Go to Line"
msgctxt "KStandardActions|"
msgid "Go to first page"
msgstr "Mergi la linie"

#: gui/kstandardactions_p.h:112
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Goto Page"
msgctxt "KStandardActions|"
msgid "&Last Page"
msgstr "Mergi la pagină"

#: gui/kstandardactions_p.h:112
msgctxt "KStandardActions|"
msgid "Go to last page"
msgstr ""

#: gui/kstandardactions_p.h:113
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Back"
msgctxt "KStandardActions|"
msgid "&Back"
msgstr "Înapoi"

#: gui/kstandardactions_p.h:113
msgctxt "KStandardActions|"
msgid "Go back in document"
msgstr ""

#: gui/kstandardactions_p.h:114
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Forward"
msgctxt "KStandardActions|"
msgid "&Forward"
msgstr "Înainte"

#: gui/kstandardactions_p.h:114
msgctxt "KStandardActions|"
msgid "Go forward in document"
msgstr ""

#: gui/kstandardactions_p.h:116
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Add Bookmark"
msgctxt "KStandardActions|"
msgid "&Add Bookmark"
msgstr "Adaugă semn de carte"

#: gui/kstandardactions_p.h:117
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Edit Bookmarks"
msgctxt "KStandardActions|"
msgid "&Edit Bookmarks…"
msgstr "Redactează semne de carte"

#: gui/kstandardactions_p.h:119
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Spelling"
msgctxt "KStandardActions|"
msgid "&Spelling…"
msgstr "Ortografie"

#: gui/kstandardactions_p.h:119
msgctxt "KStandardActions|"
msgid "Check spelling in document"
msgstr ""

#: gui/kstandardactions_p.h:121
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Menu Bar"
msgctxt "KStandardActions|"
msgid "Show &Menubar"
msgstr "Arată bara de meniu"

#: gui/kstandardactions_p.h:121
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Menu Bar"
msgctxt "KStandardActions|"
msgid "Show or hide menubar"
msgstr "Arată bara de meniu"

#: gui/kstandardactions_p.h:122
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Toolbar"
msgctxt "KStandardActions|"
msgid "Show &Toolbar"
msgstr "Arată bara de unelte"

#: gui/kstandardactions_p.h:122
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Toolbar"
msgctxt "KStandardActions|"
msgid "Show or hide toolbar"
msgstr "Arată bara de unelte"

#: gui/kstandardactions_p.h:123
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Statusbar"
msgctxt "KStandardActions|"
msgid "Show St&atusbar"
msgstr "Arată bara de stare"

#: gui/kstandardactions_p.h:123
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Show Statusbar"
msgctxt "KStandardActions|"
msgid "Show or hide statusbar"
msgstr "Arată bara de stare"

#: gui/kstandardactions_p.h:124
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Full Screen Mode"
msgctxt "KStandardActions|"
msgid "F&ull Screen Mode"
msgstr "Regim ecran complet"

#: gui/kstandardactions_p.h:125
msgctxt "KStandardActions|"
msgid "Configure Keyboard S&hortcuts…"
msgstr ""

#: gui/kstandardactions_p.h:126
#, fuzzy, qt-format
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Language..."
msgctxt "KStandardActions|"
msgid "&Configure %1…"
msgstr "Configurează limba"

#: gui/kstandardactions_p.h:127
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Toolbars"
msgctxt "KStandardActions|"
msgid "Configure Tool&bars…"
msgstr "Configurează barele de unelte"

#: gui/kstandardactions_p.h:128
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Notifications"
msgctxt "KStandardActions|"
msgid "Configure &Notifications…"
msgstr "Configurează notificările"

#: gui/kstandardactions_p.h:132
#, qt-format
msgctxt "KStandardActions|"
msgid "%1 &Handbook"
msgstr ""

#: gui/kstandardactions_p.h:133
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "What's This"
msgctxt "KStandardActions|"
msgid "What's &This?"
msgstr "Ce înseamnă aceasta"

#: gui/kstandardactions_p.h:134
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Report Bug"
msgctxt "KStandardActions|"
msgid "&Report Bug…"
msgstr "Raportează defect"

#: gui/kstandardactions_p.h:135
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Language..."
msgctxt "KStandardActions|"
msgid "Configure &Language…"
msgstr "Configurează limba"

#: gui/kstandardactions_p.h:136
#, fuzzy, qt-format
#| msgctxt "KStandardShortcut|@action"
#| msgid "About KDE"
msgctxt "KStandardActions|"
msgid "&About %1"
msgstr "Despre KDE"

#: gui/kstandardactions_p.h:137
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "About KDE"
msgctxt "KStandardActions|"
msgid "About &KDE"
msgstr "Despre KDE"

#: gui/kstandardactions_p.h:138
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Delete"
msgctxt "KStandardActions|"
msgid "&Delete"
msgstr "Șterge"

#: gui/kstandardactions_p.h:139
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Rename"
msgctxt "KStandardActions|"
msgid "&Rename…"
msgstr "Redenumește"

#: gui/kstandardactions_p.h:140
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Move to Trash"
msgctxt "KStandardActions|"
msgid "&Move to Trash"
msgstr "Mută la gunoi"

#: gui/kstandardactions_p.h:141
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Donate"
msgctxt "KStandardActions|"
msgid "&Donate"
msgstr "Donează"

#: gui/kstandardactions_p.h:142
#, fuzzy
#| msgctxt ""
#| "KStandardShortcut|@action referring to the menu bar or a hamburger menu"
#| msgid "Open Main Menu"
msgctxt "KStandardActions|"
msgid "Open &Menu"
msgstr "Deschide meniul principal"

#: gui/kstandardshortcut.cpp:70
msgctxt "KStandardShortcut|@action"
msgid "Open"
msgstr "Deschide"

#: gui/kstandardshortcut.cpp:71
msgctxt "KStandardShortcut|@action"
msgid "New"
msgstr "Nouă"

#: gui/kstandardshortcut.cpp:72
msgctxt "KStandardShortcut|@action"
msgid "Close"
msgstr "Închide"

#: gui/kstandardshortcut.cpp:73
msgctxt "KStandardShortcut|@action"
msgid "Save"
msgstr "Salvează"

#: gui/kstandardshortcut.cpp:74
msgctxt "KStandardShortcut|@action"
msgid "Print"
msgstr "Tipărește"

#: gui/kstandardshortcut.cpp:75
msgctxt "KStandardShortcut|@action"
msgid "Quit"
msgstr "Termină"

#: gui/kstandardshortcut.cpp:78
msgctxt "KStandardShortcut|@action"
msgid "Undo"
msgstr "Desfă"

#: gui/kstandardshortcut.cpp:79
msgctxt "KStandardShortcut|@action"
msgid "Redo"
msgstr "Refă"

#: gui/kstandardshortcut.cpp:82
msgctxt "KStandardShortcut|@action"
msgid "Cut"
msgstr "Taie"

#: gui/kstandardshortcut.cpp:83
msgctxt "KStandardShortcut|@action"
msgid "Copy"
msgstr "Copiază"

#: gui/kstandardshortcut.cpp:84
msgctxt "KStandardShortcut|@action"
msgid "Paste"
msgstr "Lipește"

#: gui/kstandardshortcut.cpp:87
msgctxt "KStandardShortcut|@action"
msgid "Paste Selection"
msgstr "Lipește selecția"

#: gui/kstandardshortcut.cpp:94
msgctxt "KStandardShortcut|@action"
msgid "Select All"
msgstr "Selectează tot"

#: gui/kstandardshortcut.cpp:95
msgctxt "KStandardShortcut|@action"
msgid "Deselect"
msgstr "Deselectează"

#: gui/kstandardshortcut.cpp:98
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Backwards"
msgstr "Șterge cuvânt înapoi"

#: gui/kstandardshortcut.cpp:106
msgctxt "KStandardShortcut|@action"
msgid "Delete Word Forward"
msgstr "Șterge cuvânt înainte"

#: gui/kstandardshortcut.cpp:113
msgctxt "KStandardShortcut|@action"
msgid "Find"
msgstr "Caută"

#: gui/kstandardshortcut.cpp:114
msgctxt "KStandardShortcut|@action"
msgid "Find Next"
msgstr "Caută urm."

#: gui/kstandardshortcut.cpp:115
msgctxt "KStandardShortcut|@action"
msgid "Find Prev"
msgstr "Caută prec."

#: gui/kstandardshortcut.cpp:116
msgctxt "KStandardShortcut|@action"
msgid "Replace"
msgstr "Înlocuiește"

#: gui/kstandardshortcut.cpp:121
msgctxt "KStandardShortcut|@action Go to main page"
msgid "Home"
msgstr "Acasă"

#: gui/kstandardshortcut.cpp:129
msgctxt "KStandardShortcut|@action Beginning of document"
msgid "Begin"
msgstr "Început"

#: gui/kstandardshortcut.cpp:135
msgctxt "KStandardShortcut|@action End of document"
msgid "End"
msgstr "Sfârșit"

#: gui/kstandardshortcut.cpp:136
msgctxt "KStandardShortcut|@action"
msgid "Prior"
msgstr "Precedent"

#: gui/kstandardshortcut.cpp:139
msgctxt "KStandardShortcut|@action Opposite to Prior"
msgid "Next"
msgstr "Următor"

#: gui/kstandardshortcut.cpp:146
msgctxt "KStandardShortcut|@action"
msgid "Up"
msgstr "Sus"

#: gui/kstandardshortcut.cpp:147
msgctxt "KStandardShortcut|@action"
msgid "Back"
msgstr "Înapoi"

#: gui/kstandardshortcut.cpp:150
msgctxt "KStandardShortcut|@action"
msgid "Forward"
msgstr "Înainte"

#: gui/kstandardshortcut.cpp:158
msgctxt "KStandardShortcut|@action"
msgid "Reload"
msgstr "Reîncarcă"

#: gui/kstandardshortcut.cpp:167
msgctxt "KStandardShortcut|@action"
msgid "Beginning of Line"
msgstr "Începutul liniei"

#: gui/kstandardshortcut.cpp:175
msgctxt "KStandardShortcut|@action"
msgid "End of Line"
msgstr "Sfârșit de linie"

#: gui/kstandardshortcut.cpp:181
msgctxt "KStandardShortcut|@action"
msgid "Go to Line"
msgstr "Mergi la linie"

#: gui/kstandardshortcut.cpp:184
msgctxt "KStandardShortcut|@action"
msgid "Backward Word"
msgstr "Cuvânt înapoi"

#: gui/kstandardshortcut.cpp:192
msgctxt "KStandardShortcut|@action"
msgid "Forward Word"
msgstr "Cuvânt înainte"

#: gui/kstandardshortcut.cpp:201
msgctxt "KStandardShortcut|@action"
msgid "Add Bookmark"
msgstr "Adaugă semn de carte"

#: gui/kstandardshortcut.cpp:207
msgctxt "KStandardShortcut|@action"
msgid "Zoom In"
msgstr "Apropie"

#: gui/kstandardshortcut.cpp:208
msgctxt "KStandardShortcut|@action"
msgid "Zoom Out"
msgstr "Depărtează"

#: gui/kstandardshortcut.cpp:211
msgctxt "KStandardShortcut|@action"
msgid "Full Screen Mode"
msgstr "Regim ecran complet"

#: gui/kstandardshortcut.cpp:218
msgctxt "KStandardShortcut|@action"
msgid "Show Menu Bar"
msgstr "Arată bara de meniu"

#: gui/kstandardshortcut.cpp:221
msgctxt "KStandardShortcut|@action"
msgid "Activate Next Tab"
msgstr "Activează fila următoare"

#: gui/kstandardshortcut.cpp:229
msgctxt "KStandardShortcut|@action"
msgid "Activate Previous Tab"
msgstr "Activează fila precedentă"

#: gui/kstandardshortcut.cpp:237
msgctxt "KStandardShortcut|@action"
msgid "Help"
msgstr "Ajutor"

#: gui/kstandardshortcut.cpp:238
msgctxt "KStandardShortcut|@action"
msgid "What's This"
msgstr "Ce înseamnă aceasta"

#: gui/kstandardshortcut.cpp:243
msgctxt "KStandardShortcut|@action"
msgid "Text Completion"
msgstr "Completare text"

#: gui/kstandardshortcut.cpp:251
msgctxt "KStandardShortcut|@action"
msgid "Previous Completion Match"
msgstr "Precedenta potrivire de completare"

#: gui/kstandardshortcut.cpp:259
msgctxt "KStandardShortcut|@action"
msgid "Next Completion Match"
msgstr "Următoarea potrivire de completare"

#: gui/kstandardshortcut.cpp:267
msgctxt "KStandardShortcut|@action"
msgid "Substring Completion"
msgstr "Completare subșir"

#: gui/kstandardshortcut.cpp:276
msgctxt "KStandardShortcut|@action"
msgid "Previous Item in List"
msgstr "Precedentul element în listă"

#: gui/kstandardshortcut.cpp:284
msgctxt "KStandardShortcut|@action"
msgid "Next Item in List"
msgstr "Următorul element în listă"

#: gui/kstandardshortcut.cpp:291
msgctxt "KStandardShortcut|@action"
msgid "Open Recent"
msgstr "Deschide recent"

#: gui/kstandardshortcut.cpp:292
msgctxt "KStandardShortcut|@action"
msgid "Save As"
msgstr "Salvează ca"

#: gui/kstandardshortcut.cpp:293
msgctxt "KStandardShortcut|@action"
msgid "Revert"
msgstr "Revenire"

#: gui/kstandardshortcut.cpp:294
msgctxt "KStandardShortcut|@action"
msgid "Print Preview"
msgstr "Previzualizare tipărire"

#: gui/kstandardshortcut.cpp:295
msgctxt "KStandardShortcut|@action"
msgid "Mail"
msgstr "Poștă"

#: gui/kstandardshortcut.cpp:296
msgctxt "KStandardShortcut|@action"
msgid "Clear"
msgstr "Curăță"

#: gui/kstandardshortcut.cpp:299
msgctxt "KStandardShortcut|@action"
msgid "Zoom to Actual Size"
msgstr "Apropie la dimensiunea reală"

#: gui/kstandardshortcut.cpp:305
msgctxt "KStandardShortcut|@action"
msgid "Fit To Page"
msgstr "Încadrează în pagină"

#: gui/kstandardshortcut.cpp:306
msgctxt "KStandardShortcut|@action"
msgid "Fit To Width"
msgstr "Încadrează pe lățime"

#: gui/kstandardshortcut.cpp:307
msgctxt "KStandardShortcut|@action"
msgid "Fit To Height"
msgstr "Încadrează pe înălțime"

#: gui/kstandardshortcut.cpp:308
msgctxt "KStandardShortcut|@action"
msgid "Zoom"
msgstr "Apropiere"

#: gui/kstandardshortcut.cpp:309
msgctxt "KStandardShortcut|@action"
msgid "Goto"
msgstr "Mergi la"

#: gui/kstandardshortcut.cpp:310
msgctxt "KStandardShortcut|@action"
msgid "Goto Page"
msgstr "Mergi la pagină"

#: gui/kstandardshortcut.cpp:313
msgctxt "KStandardShortcut|@action"
msgid "Document Back"
msgstr "Document înapoi"

#: gui/kstandardshortcut.cpp:321
msgctxt "KStandardShortcut|@action"
msgid "Document Forward"
msgstr "Document înainte"

#: gui/kstandardshortcut.cpp:329
msgctxt "KStandardShortcut|@action"
msgid "Edit Bookmarks"
msgstr "Redactează semne de carte"

#: gui/kstandardshortcut.cpp:335
msgctxt "KStandardShortcut|@action"
msgid "Spelling"
msgstr "Ortografie"

#: gui/kstandardshortcut.cpp:336
msgctxt "KStandardShortcut|@action"
msgid "Show Toolbar"
msgstr "Arată bara de unelte"

#: gui/kstandardshortcut.cpp:337
msgctxt "KStandardShortcut|@action"
msgid "Show Statusbar"
msgstr "Arată bara de stare"

#: gui/kstandardshortcut.cpp:340
msgctxt "KStandardShortcut|@action"
msgid "Key Bindings"
msgstr "Asocieri de taste"

#: gui/kstandardshortcut.cpp:348
msgctxt "KStandardShortcut|@action"
msgid "Configure Application"
msgstr "Configurează aplicația"

#: gui/kstandardshortcut.cpp:356
msgctxt "KStandardShortcut|@action"
msgid "Configure Toolbars"
msgstr "Configurează barele de unelte"

#: gui/kstandardshortcut.cpp:364
msgctxt "KStandardShortcut|@action"
msgid "Configure Notifications"
msgstr "Configurează notificările"

#: gui/kstandardshortcut.cpp:370
msgctxt "KStandardShortcut|@action"
msgid "Report Bug"
msgstr "Raportează defect"

#: gui/kstandardshortcut.cpp:373
#, fuzzy
#| msgctxt "KStandardShortcut|@action"
#| msgid "Configure Language..."
msgctxt "KStandardShortcut|@action"
msgid "Configure Language…"
msgstr "Configurează limba"

#: gui/kstandardshortcut.cpp:379
msgctxt "KStandardShortcut|@action"
msgid "About Application"
msgstr "Despre aplicație"

#: gui/kstandardshortcut.cpp:380
msgctxt "KStandardShortcut|@action"
msgid "About KDE"
msgstr "Despre KDE"

#: gui/kstandardshortcut.cpp:383
msgctxt "KStandardShortcut|@action"
msgid "Delete"
msgstr "Șterge"

#: gui/kstandardshortcut.cpp:384
msgctxt "KStandardShortcut|@action"
msgid "Rename"
msgstr "Redenumește"

#: gui/kstandardshortcut.cpp:387
msgctxt "KStandardShortcut|@action"
msgid "Move to Trash"
msgstr "Mută la gunoi"

#: gui/kstandardshortcut.cpp:393
msgctxt "KStandardShortcut|@action"
msgid "Donate"
msgstr "Donează"

#: gui/kstandardshortcut.cpp:396
msgctxt "KStandardShortcut|@action"
msgid "Show/Hide Hidden Files"
msgstr "Arată/ascunde fișierele ascunse"

#: gui/kstandardshortcut.cpp:404
msgctxt "KStandardShortcut|@action"
msgid "Create Folder"
msgstr "Creează dosar"

#: gui/kstandardshortcut.cpp:412
msgctxt ""
"KStandardShortcut|@action referring to the menu bar or a hamburger menu"
msgid "Open Main Menu"
msgstr "Deschide meniul principal"

#: gui/kstandardshortcut.cpp:420
msgctxt "KStandardShortcut|@action"
msgid "Open Context Menu"
msgstr "Deschide meniul contextual"

#: kconf_update/kconf_update.cpp:368
msgctxt "main|"
msgid "KDE Tool for updating user configuration files"
msgstr ""
"Unealtă KDE pentru actualizarea fișierelor de configurare ale utilizatorului"

#: kconf_update/kconf_update.cpp:370
msgctxt "main|"
msgid "Keep output results from scripts"
msgstr "Păstrează rezultatele de ieșire din scripturi"

#: kconf_update/kconf_update.cpp:373
msgctxt "main|"
msgid ""
"For unit tests only: do not write the done entries, so that with every re-"
"run, the scripts are executed again"
msgstr ""
"Doar pentru teste unitare: nu scrie înregistrările încheiate, astfel încât "
"scripturile să fie re-executate la fiecare rulare"

#: kconf_update/kconf_update.cpp:375
msgctxt "main|"
msgid "Check whether config file itself requires updating"
msgstr "Verifică dacă însuși fișierul de configurare necesită actualizat"

#: kconf_update/kconf_update.cpp:378
msgctxt "main|"
msgid "File(s) to read update instructions from"
msgstr "Fișier(e) din care să fie citite instrucțiuni de actualizare"

#: kconfig_compiler/kconfig_compiler.cpp:726
msgctxt "main|"
msgid "Directory to generate files in [.]"
msgstr "Dosar în care să fie generate fișierele [.]"

#: kconfig_compiler/kconfig_compiler.cpp:727
msgctxt "main|"
msgid "directory"
msgstr "dosar"

#: kconfig_compiler/kconfig_compiler.cpp:731
msgctxt "main|"
msgid "Display software license."
msgstr "Afișează licența programului."

#: kreadconfig/kreadconfig.cpp:46 kreadconfig/kwriteconfig.cpp:25
msgctxt "main|"
msgid "Use <file> instead of global config"
msgstr "Utilizează <fișier> în loc de configurația globală"

#: kreadconfig/kreadconfig.cpp:49 kreadconfig/kwriteconfig.cpp:28
msgctxt "main|"
msgid ""
"Group to look in. Use \"<default>\" for the root group, or use repeatedly "
"for nested groups."
msgstr ""
"Grupul de cercetat. Folosiți „<default>” pentru grupul-rădăcină, sau "
"folosiți repetat pentru grupuri imbricate."

#: kreadconfig/kreadconfig.cpp:52 kreadconfig/kwriteconfig.cpp:31
msgctxt "main|"
msgid "Key to look for"
msgstr "Cheie de căutat"

#: kreadconfig/kreadconfig.cpp:53
msgctxt "main|"
msgid "Default value"
msgstr "Valoarea implicită"

#: kreadconfig/kreadconfig.cpp:54
msgctxt "main|"
msgid "Type of variable"
msgstr "Tipul variabilei"

#: kreadconfig/kreadconfig.cpp:84 kreadconfig/kwriteconfig.cpp:69
msgctxt "main|"
msgid "Group name cannot be empty, use \"<default>\" for the root group"
msgstr ""
"Denumirea grupului nu poate fi goală. folosiți „<default>” pentru grupul-"
"rădăcină"

#: kreadconfig/kwriteconfig.cpp:34
msgctxt "main|"
msgid ""
"Type of variable. Use \"bool\" for a boolean, otherwise it is treated as a "
"string"
msgstr ""
"Tipul de variabilă. Utilizați „bool” pentru valoare logică, altfel este "
"tratată ca șir textual"

#: kreadconfig/kwriteconfig.cpp:36
msgctxt "main|"
msgid "Delete the designated key if enabled"
msgstr "Șterge cheia desemnată dacă e activată"

#: kreadconfig/kwriteconfig.cpp:37
msgctxt "main|"
msgid "The value to write. Mandatory, on a shell use '' for empty"
msgstr ""
"Valoarea de scris. Obligatorie. În linia de comandă folosiți '' pentru șir "
"gol"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Tip Of Day"
#~ msgstr "Sfatul zilei"

#~ msgctxt "main|"
#~ msgid ""
#~ "For unit tests only: use test directories to stay away from the user's "
#~ "real files"
#~ msgstr ""
#~ "Doar pentru teste de unitate: folosește dosare de test pentru a nu atinge "
#~ "fișierele reale ale utilizatorului"

#~ msgctxt "KStandardShortcut|@action"
#~ msgid "Save Options"
#~ msgstr "Salvează opțiunile"

#~ msgid "KWriteConfig"
#~ msgstr "KWriteConfig"

#~ msgid "Write KConfig entries - for use in shell scripts"
#~ msgstr ""
#~ "Scrie înregistrări KConfig - de utilizat în scripturi de interpretor"

#~ msgid "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"
#~ msgstr "(c) 2001 Red Hat, Inc. & Luís Pedro Coelho"

#~ msgid "Wrote kreadconfig on which this is based"
#~ msgstr "Am scris kreadconfig pe care este bazat acesta"

#~ msgid "Luís Pedro Coelho"
#~ msgstr "Luís Pedro Coelho"

#~ msgid "Bernhard Rosenkraenzer"
#~ msgstr "Bernhard Rosenkraenzer"
